<template>
    <div class="campaign-stats campaign-stats-personal campaign-stats-general">
        <h1 class="title">
            {{lang.campaignStats.title}}
        </h1>
        <checkbox/>
        <router-link :to="{name: 'campaignStats.stop'}">
            <button class="defaultBtn block stopBtn">{{lang.campaignStats.stopBtn}}</button>
        </router-link>
        <div class="stats-grid tab-content" v-if="stats" :class="{active: activeTab === 'general'}">
            <div class="item inset-shadow">
                <h6>{{lang.campaignStats.generalStatsList.sent}}</h6>
                <span>{{stats.sent}}</span>
            </div>
            <div class="item inset-shadow" v-if="false">
                <h6>{{lang.campaignStats.generalStatsList.delivered}}</h6>
                <span>{{stats.emails}}</span>
            </div>
            <div class="item inset-shadow">
                <h6>{{lang.campaignStats.generalStatsList.letter}}</h6>
                <span>{{stats.open}}/{{stats.sent}}</span>
            </div>
            <div class="item inset-shadow center">
                <h6>{{lang.campaignStats.generalStatsList.wallet}}</h6>
                <span>{{stats.clicked}}/{{stats.sent}}</span>
            </div>
        </div>
        <div class="latterList gridBlock tab-content" v-if="statsExtended" :class="{active: activeTab === 'personal'}">
            <div class="latter block" :class="{active: index === openLatterIndex}"
                 v-for="(recipient, index) of statsExtended.recipients">
                <div class="latter-title" @click="toggleOpened(index)">
                    <div class="title-left">
                        <div class="condition" :style="colorByCondition(recipient)"></div>
                        <h5 class="email">{{recipient.email}}</h5>
                    </div>
                    <div class="bip">{{recipient.amount_bip}} BIP</div>
                </div>
                <div class="details">
                    <div class="name">
                        <h6>{{lang.campaignStats.personalStats.name}}</h6>
                        <span>{{recipient.name}}</span>
                    </div>
                    <div class="status">
                        <h6>{{lang.campaignStats.personalStats.status.title}}</h6>
                        <p v-if="recipient.sent_at">
                            <i>{{lang.campaignStats.personalStats.status.sent}}</i> — {{getDate(recipient.sent_at)}}
                        </p>
                        <p v-if="recipient.opened_at">
                            <i>{{lang.campaignStats.personalStats.status.opened}}</i> — {{getDate(recipient.opened_at)}}
                        </p>
                        <p v-if="recipient.clicked_at">
                            <i>{{lang.campaignStats.personalStats.status.followLink.date}}</i> — {{getDate(recipient.clicked_at)}}
                        </p>
                        <p v-if="!recipient.sent_at">
                            {{lang.campaignStats.personalStats.status.notSent}}
                        </p>
                    </div>
                    <div class="push">
                        <h6>{{lang.campaignStats.personalStats.push}}</h6>
                        <a class="underline_link" :href="getLink(recipient.push_id)">{{getLink(recipient.push_id)}}</a>
                    </div>
                    <div class="push">
                        <h6>{{lang.campaignStats.personalStats.target}}</h6>
                        <p>{{recipient.target | target}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment";
    import checkbox from '../../components/elements/checkbox.vue'
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Stats",
        components:{
            checkbox
        },
        data:()=>({
            openLatterIndex: false
        }),
        computed:{
            campaign_id(){
                return this.$route.params.campaign_id;
            },
            ...mapState('sharing', ['statsExtended', 'stats', 'activeTab'])
        },
        methods:{
            colorByCondition(recipient){
                let color;
                if(recipient.clicked_at) color = "#49D632";//Открыто
                else if(recipient.opened_at) color = "#F28C2F";//Прочитано
                else if(recipient.sent_at) color = "#2D2C28";//Доставлено
                else  color = "#2D2C28";//Не доставлено
                return {
                    backgroundColor: color
                }
            },
            getDate(date){
                return moment(date).calendar();
            },
            getLink(link_id){
                return this.$router.resolve({
                    name: 'push',
                    params: {
                        link_id
                    }
                }).href;
            },
            toggleOpened(i){
                if(this.openLatterIndex === i) this.openLatterIndex = false;
                else this.openLatterIndex = i;
            },
            getData(){
                if(this.stats && localStorage.getItem('stats_id') == this.campaign_id){
                    return;
                }
                this.getStats({params: {
                        campaign_id: this.campaign_id
                    }})
                    .catch(()=>{
                        localStorage.removeItem('stats_id');
                        localStorage.removeItem('password');
                        this.$router.push({
                            name: 'campaignStats.password',
                            params: {
                                campaign_id: this.campaign_id
                            }});
                    });
            },
            getDataExtended(){
                if(this.statsExtended && localStorage.getItem('stats_id') == this.campaign_id){
                    return;
                }
                this.getStatsExtended({params: {
                        campaign_id: this.campaign_id
                    }})
                    .catch(()=>{
                        localStorage.removeItem('stats_id');
                        localStorage.removeItem('password');
                        this.$router.push({
                            name: 'campaignStats.password',
                            params: {
                                campaign_id: this.campaign_id
                            }});
                    });
            },
            ...mapActions('sharing', ['getStatsExtended', 'getStats'])
        },
        filters: {
            target(v){
                if(v == 'y-food') return 'Я.Еда';
                else if(v == 'bip2ph') return 'BipToPhone';
            }
        },
        created() {
            this.getData();
            this.getDataExtended()
        }
    }
</script>

<style lang="scss">
    .stats-personal{
        .construction{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: $text_gray;
            margin-top: 25px;
        }
        .stopBtn{
            margin: 24px auto !important;
        }
        .latterList{
            align-items: flex-start;
            .latter{
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                height: auto !important;
                overflow: hidden;
                padding-left: 24px;

                &.active .details{
                    height: auto;
                    padding-bottom: 32px;

                }
                .latter-title{
                    flex-shrink: 0;
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 36px;
                    background-image: url("~@/assets/select_arrow.svg");
                    background-repeat: no-repeat;
                    background-position: 97% center;
                    .title-left{
                        display: flex;
                        align-items: center;
                        .condition{
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            margin-right: 8px;
                        }
                        .email{
                            padding: 0;
                            font-weight: 600;
                            font-size: 15px;
                            margin-bottom: 0;
                        }
                    }
                    .bip{
                        font-size: 14px;
                        line-height: 18px;
                        text-align: right;
                        color: rgb($text_gray, 0.5);
                        white-space: nowrap;
                    }
                }
                .details{
                    padding-right: 24px;

                    overflow: hidden;
                    height: 0;
                    .name, .status, .push:not(:last-of-type){
                        margin-bottom: 16px;
                    }
                    h6{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        margin-bottom: 2px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 100%;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
    .campaign-stats-general{
        .stopBtn{
            margin: 24px auto !important;
        }
        .stats-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px;

            .item{
                height: 64px;
                border-radius: 18px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                text-align: center;
                font-weight: 600;

                &.center{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    justify-self: center;
                    width: 50%;
                }

                h6{
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 2px;
                }
                span{
                    font-size: 21px;
                    line-height: 27px;
                }
            }
        }
    }
    .campaign-stats{
        .tab-content{
            &:not(.active){
                display: none;
            }
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            .tab-content:not(.active){
                display: block;
                &.gridBlock{
                    display: grid;
                }
            }
            .checkbox{
                display: none;
            }

            h1.title{
                order: -2;
            }
            .stats-grid{
                order: -1;
                grid-template-columns: 1fr 1fr 1fr;

                .item.center{
                    width: 100%;
                    grid-column-start: unset;
                    grid-column-end: unset;
                }
            }
            .stopBtn{
                margin: 32px auto !important;
            }
            .latterList{
                margin-top: 10px;
            }
        }
    }
</style>