<template>
    <div class="stats-stop">
        <h1 class="title">
            {{lang.campaignStats.stop.title}}
        </h1>
        <p class="errorBlock" v-if="error.closeSharingResult">{{error.closeSharingResult}}</p>
        <div class="bottom-fixed">
            <p class="return">{{amount_left | amount}} {{lang.campaignStats.stop.return}}</p>
            <p class="sure">{{lang.campaignStats.stop.sure}}</p>
            <button class="defaultBtn block returnBtn" @click.prevent="returning" :disabled="pending.closeSharingResult">
                <div class="text">{{lang.campaignStats.stop.returnBtn}}</div>
                <div class="value">{{amount_left | amount}} BIP</div>
            </button>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Stop",
        computed:{
            campaign_id(){
                return this.$route.params.campaign_id;
            },
            amount_left(){
                if(this.closeSharingResult) return this.closeSharingResult.amount_left;
            },
            ...mapState('sharing', ['closeSharingResult', 'pending','error'])
        },
        methods: {
            returning(){
                this.closeSharing({params: {
                        campaign_id: this.campaign_id,
                        confirm: true
                    }})
                .then(()=>{
                    this.$router.push({
                        name: 'campaignStats.successfully',
                        params: {
                            campaign_id: this.campaign_id
                        }
                    });
                });
            },
            ...mapActions('sharing', ['closeSharing'])
        },
        created() {
            this.closeSharing({params: {
                    campaign_id: this.campaign_id
                }});
        },
    }
</script>

<style lang="scss">
    .stats-stop{
        padding-bottom: 275px;
        .bottom-fixed{
            width: 100%;
            p{
                text-align: center;
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 24px;
                &.return{
                    font-weight: normal;
                }
                &.sure{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
        button.returnBtn{
            display: flex !important;
            align-items: center;
            .text{
                width: 100%;
                padding: 0 5px;
            }
            .value{
                padding: 0 5px;
                flex-shrink: 0;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $light_beige;
                background: #CA1D21;
                box-shadow: 4px 4px 14px rgba(202, 29, 33, 0.3);
                border-radius: 0px 18px 18px 0px;
                min-width: 50%;
            }
        }
    }
</style>