<template>
    <div class="walletAnimation" v-if="active">
        <component v-if="animationComponent" :is="animationComponent" :text="custom.animation_text" @close="close"/>
    </div>
</template>

<script>
    import gift from './gift.vue'
    import paperPlane from './paperPlane.vue'
    import milos from './milos.vue'
    export default {
        name: "animation",
        components:{
            gift,
            paperPlane,
            milos
        },
        data: ()=>({
            active: true,
            animationsComponents: [false, 'paperPlane', 'gift', 'milos']
        }),
        props: ['custom'],
        computed: {
            animName(){
                return this.custom.animation_name;
            },
            animationComponent() {
                let i = parseInt(this.animName);
                if(isNaN(i)) i = this.lang.customization.setting.push.animation.list.findIndex(name=>name.includes(this.animName));
                if(i > 0) return this.animationsComponents[i] || {};
                return false;
            }
        },
        methods: {
            close(){
                this.$emit('close');
                this.active = false;
                document.documentElement.classList.remove('overflow');
            }
        },
        created(){
            this.active = !!this.animName && this.animationComponent;
            if(this.active){
                document.documentElement.classList.add('overflow');
            }
        }
    }
</script>

<style lang="scss">
    .walletAnimation{
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;

        >*{
            width: 100%;
            height: 100%;
        }
        .msg-block{
            width: 90vw;
            height: auto;
            max-width: 400px;
            padding: 60px 30px 40px 30px;
            text-align: center;

            background: $light_beige;
            border-radius: 10px;
            color: black !important;

            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 27px;
        }
        .center-fixed{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
</style>