<template>
    <div class="gift-animation bg-app">
        <div class="msg-block block">
            <p>{{text}}</p>
            <button class="defaultBtn block" @click.prevent="$emit('close')">{{lang.animation.openWallet}}</button>
        </div>
        <div class="shadow center-fixed"></div>
        <div class="gift center-fixed">
            <img class="center-fixed gift_bottom" src="@/assets/animation/gift_bottom.png" alt="">
            <img class="center-fixed gift_top" src="@/assets/animation/gift_top.png" alt="">
        </div>
    </div>
</template>

<script>
    export default {
        name: "gift",
        props: ['text']
    }
</script>

<style lang="scss">
    .gift-animation{
        position: relative;


        .gift{
            animation-timing-function: ease;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-name: gift_fall;
            bottom: calc(10% + 15px);
        }
        .gift_top{
            bottom: 100px;
            animation-timing-function: ease-in-out;
            animation-duration: 2.5s;
            animation-iteration-count: 1;
            animation-name: open_gift_top;
            opacity: 0;
        }
        .gift_bottom{
            bottom: 0;
        }
        .shadow{
            bottom: 10%;
            height: 25px;
            width: 270px;
            background: rgb(black, 0.8);
            filter: blur(8px);
            border-radius: 50%;
            animation: shadow 1 1s ease-in-out;

        }
        .msg-block{
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -75%) scale(1);
            animation: msg_block 1 4s ease;
            z-index: 2;
            button{
                margin-top: 25px;
            }
        }
        @keyframes gift_fall {
            from{
                bottom: calc(110% + 15px);
            }
            to{
                bottom: calc(10% + 15px);
            }
        }
        @keyframes open_gift_top {
            from{
                opacity: 1;
            }
            40%, 60%{
                opacity: 1;
                bottom: 100px;
            }
            50%{
                bottom: 75px;
            }
            80%{
                left: 50%;
                transform: translateX(-50%) rotate(0);
                opacity: 1;
            }
            to{
                opacity: 0;
                transform: translateX(-50%) rotate(-80deg);
                bottom: 300px;
                left: -300px;
            }
        }
        @keyframes shadow {
            from{
                width: 0;
                height: 0;
                filter: blur(0);
                background: rgb(black, 0);

            }
            to{

                height: 25px;
                width: 270px;
                filter: blur(8px);
                background: rgb(black, 0.8);

            }
        }
        @keyframes msg_block {
            from, 75%{
                transform: translateX(-50%) scale(0);
            }
            to{
                transform: translate(-50%, -75%) scale(1);
            }
        }
    }
</style>