<template>
    <div class="milos-animation bg-app" :class="{opened, multi, closing}">
        <div class="prev">
            <p>{{lang.animation.milosPrev}}</p>
            <img src="@/assets/animation/milos-prev.png" alt="">
            <button class="defaultBtn block" @click.prevent="open">{{lang.animation.openGift}}</button>
        </div>
        <div class="one">
            <img src="@/assets/animation/milos.gif" alt="milos">
        </div>
        <div class="multi">
            <img src="@/assets/animation/milos.gif" alt="milos">
            <img src="@/assets/animation/milos.gif" alt="milos">
            <img src="@/assets/animation/milos.gif" alt="milos">
            <img src="@/assets/animation/milos.gif" alt="milos">
            <img src="@/assets/animation/milos.gif" alt="milos">
            <img src="@/assets/animation/milos.gif" alt="milos">
            <img src="@/assets/animation/milos.gif" alt="milos">
        </div>
        <div class="multi-prev">
            <p>{{lang.animation.milosText}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "milos",
        props: ['text'],
        data: ()=>({
            opened: false,
            multi: false,
            closing: false
        }),
        methods: {
            open(){
                this.opened = true;
                setTimeout(() => {
                    this.multi = true;
                }, 5000);
                setTimeout(() => {
                    this.closing = true;
                    setTimeout(() => {
                        this.$emit('close');
                    }, 1000);
                }, 10000);
            }
        }
    }
</script>

<style lang="scss">
    .milos-animation{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s, background 0s;

        .prev{
            p{
                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                text-align: center;
            }
            img{
                margin-top: -35px;
                margin-bottom: -40px;
            }
            button{
                position: relative;
                z-index: 2;
            }
        }
        .one{
            display: none;
            transition: all 1s, display 0.1s linear 1s;
            img{
                width: 100%;
            }
        }
        .multi-prev{
            display: none;
            font-weight: bold;
            font-size: 54px;
            line-height: 70px;
            text-align: center;
            color: $white;
        }
        .multi{
            opacity: 0;
            transition: all 1s, opacity 0.1s linear 3.5s;

            img{
                position: absolute;
                &:nth-child(1){
                    left: 35%;
                    top: 5%;
                    width: 40%;
                }
                &:nth-child(2){
                    left: 0%;
                    top: 15%;
                    width: 60%;
                }
                &:nth-child(3){
                    right: -5%;
                    top: 23%;
                    width: 55%;
                }
                &:nth-child(4){
                    left: -10%;
                    top: 26%;
                    width: 110%;
                }
                &:nth-child(5){
                    left: 1%;
                    top: 60%;
                    width: 60%;
                }
                &:nth-child(6){
                    right: -5%;
                    top: 65%;
                    width: 58%;
                }
                &:nth-child(7){
                    right: 30%;
                    top: 80%;
                    width: 40%;
                }
            }

        }

        &.opened{
            background: black;

            .prev{
                display: none;
            }
            .one{
                display: block;
            }
            &.multi{
                opacity: 1;
                animation: milos-animation-bg 1 4s ease;
                .multi-prev{
                    opacity: 0;
                    display: block;
                    animation: milos-animation-multi-prev 1 4s ease;
                }
                .one{
                    opacity: 0;
                    display: none;
                }
                .multi{
                    opacity: 1;
                }
            }
            &.closing{
                opacity: 0;
            }
        }
    }

    @keyframes milos-animation-multi-prev {
        from, to, 25%{
            opacity: 0;
        }
        50%, 60%{
            opacity: 1;
        }
    }
    @keyframes milos-animation-bg {
        from, to{
            background: rgba(0,0,0,1);
        }
        25%{
            background: rgba(0,0,0,0.25);
        }
        50%, 75%{
            background: rgba(0,0,0,0.75);
        }
    }
</style>