<template>
    <div class="bg-app plane-animation">
        <div class="msg-block block center-fixed" :class="{show: times < 1}">
            <p>{{text}}</p>
            <img src="@/assets/animation/plane_pixed.png" alt="">
        </div>
        <button :class="{show: times < 1}" @click.prevent="btnClick" class="defaultBtn block bottom-fixed">
            {{lang.animation.openWallet}}
        </button>
        <img :style="planePosition" class="plane" src="@/assets/animation/paperplane.png" alt="">
    </div>
</template>

<script>
    export default {
        name: "paperPlane",
        props: ['text'],
        data: () => ({
            duration: 2400,
            times: 3,
            startY: 50,
            endY: 50,
            x: 0,
            y: 0,
            rotate: 0,
            animId: false,
        }),
        mounted() {
            this.reroute();
            let interval = setInterval(() => {
                this.times--;

                if (this.times <= 0){
                    cancelAnimationFrame(this.animId);
                    clearInterval(interval);
                }
                else this.reroute();
            }, this.duration * 1.1);
        },
        computed: {
            planePosition() {
                let scaleY = (this.times) / 3.5;
                let scaleX = this.times % 2 ?  -scaleY : scaleY;
                return {
                    left: `${this.x}%`,
                    top: `${this.y}%`,
                    transform: `rotate(${this.rotate}deg) scaleX(${scaleX}) scaleY(${scaleY})`
                }
            }
        },
        methods: {
            btnClick(){
                this.$emit('close');
            },
            reroute() {
                this.rollPosition();
                this.start();
            },
            rollPosition() {
                function limitations(rng) {
                    return 25 + (rng / 2) * 100
                }

                this.startY = limitations(Math.random());
                this.endY = Math.random() * 90;
            },
            start() {
                this.animate({
                    timing: this.timeFraction,
                    draw: this.draw,
                    duration: this.duration,
                });
            },
            draw(progress) {
                let dir = this.times % 2;
                let progressX = progress;
                if (dir) progressX = 1 - progress;
                this.x = ((progressX - 0.4) * 1.8) * 100;
                this.y = this.startY - this.endY * progress;
                let rDir = dir ? -1 : 1;
                this.rotate = (this.startY - this.endY) / 1.25 * progress * rDir;
            },
            timeFraction(timeFraction) {
                return Math.pow(timeFraction, 2)
            },
            animate({timing, draw, duration}) {
                let animate, start = performance.now();
                this.animId = requestAnimationFrame(animate = (time) => {
                    let timeFraction = (time - start) / duration; // time progress  0 -> 1
                    if (timeFraction > 1) timeFraction = 1;
                    let progress = timing(timeFraction, 1.5); // progress by timing fn
                    draw(progress); // show progress
                    if (timeFraction < 1) this.animId = requestAnimationFrame(animate); // loop
                })
            }
        }
    }
</script>

<style lang="scss">
    .plane-animation {
        .plane {
            position: absolute;
        }
        button{
            opacity: 0;
            z-index: -1;
            transition: all 1s, z-index 0s;
            &.show{
                opacity: 1;
                z-index: 1;
            }
        }
        .msg-block{
            position: absolute;
            bottom: 200px;
            opacity: 0;
            transition: 0.4s;

            &.show{
                opacity: 1;
                img{
                    animation: fly 1.5s 1;
                    opacity: 1;
                }
            }
            img{
                position: absolute;
                right: 10px;
                top: -40px;
                transform: translate(0);
                opacity: 0;
            }
        }
        @keyframes fly {
            from, 50%{
                transform: translate(-444px, 444px);
                opacity: 0;

            }
            to{
                transform: translate(0);
                opacity: 1;

            }
        }
    }
</style>