<template>
    <div class="questionnaire-pass">
        <h1 class="title">
            {{lang.questionnairePass.title}}
        </h1>
        <p class="errorBlock" v-if="error">{{error}}</p>
        <div class="list">
            <label>
                <p>{{lang.questionnairePass.name.label}}</p>
                <input type="text" v-model="participants" :placeholder="lang.questionnairePass.name.placeholder">
            </label>
            <label>
                <p>{{lang.questionnairePass.email.label}}</p>
                <input type="text" v-model="participants" :placeholder="lang.questionnairePass.email.placeholder">
            </label>
            <label v-for="q in 5">
                <p>{{q}}</p>
                <input type="text" v-model="participants" :placeholder="lang.questionnairePass.item.placeholder">
            </label>
        </div>
        <button class="defaultBtn block btnAbs" @click.prevent="returning" :disabled="true">
            {{lang.questionnairePass.btn[true ? "ok" : "fill"]}}
        </button>
    </div>
</template>

<script>
    export default {
        name: "passQuestionnaire",
        data: ()=>({
            participants: ''
        })
    }
</script>

<style lang="scss">
    .questionnaire-pass{
        padding-bottom: 100px;
        .list{

        }
    }
</style>