<template>
    <div class="questionnaire-section">
        <h1 class="title">{{lang.questionnaire.title}}</h1>
        <label>
            <p>{{lang.questionnaire.inputs.name.label}}</p>
            <input type="text" v-model="name" :placeholder="lang.questionnaire.inputs.name.placeholder">
        </label>
        <label>
            <p>{{lang.questionnaire.inputs.companyName.label}}</p>
            <input type="text" v-model="companyName" :placeholder="lang.questionnaire.inputs.companyName.placeholder">
        </label>
        <label>
            <p>{{lang.questionnaire.inputs.password.label}}</p>
            <input type="password" v-model="password" :placeholder="lang.questionnaire.inputs.password.placeholder">
        </label>

        <div class="customization">
            <h3>
                {{lang.questionnaire.questions.title}}
                <add-btn @click="addQuestion"/>
            </h3>
            <label v-for="(q,i) in questions">
                <p>{{lang.questionnaire.questions.label}}</p>
                <input type="text" v-model="questions[i]" autocomplete="off" :placeholder="lang.questionnaire.questions.placeholder">
            </label>
        </div>

        <label>
            <p>{{lang.questionnaire.inputs.participants.label}}</p>
            <input type="text" v-model="participants" :placeholder="lang.questionnaire.inputs.participants.placeholder">
        </label>
        <label>
            <p>{{lang.questionnaire.inputs.reward.label}}</p>
            <input type="text" v-model="amount" :placeholder="lang.questionnaire.inputs.reward.placeholder">
        </label>
        <p class="errorBlock" v-if="err">{{err}}</p>
        <router-link :to="{name: 'questionnaire.example'}">
            <p class="underline_link example">
                {{lang.questionnaire.exampleLink}}
            </p>
        </router-link>
        <button class="defaultBtn block bottom-fixed" :class="{active: loading}" :disabled="err || empty || loading" @click="next">{{btnText}}</button>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapState} from "vuex";
    import {getModel} from "@/utils/component";
    import addBtn from "@/components/elements/add_btn.vue";

    const model = getModel('questionnaireDataSet', 'questionnaireData');
    import {localItemsHistory} from "@/utils/component";

    export default {
        name: "Questionnaire",
        components: {
            addBtn
        },
        computed:{
            name: model('name'),
            companyName: model('companyName'),
            password: model('password'),
            questions: model('questions'),
            participants: model('participants'),
            amount: model('amount'),
            err(){
                return false && this.error.validateSourceResult;
            },
            loading(){
                return this.pending.sharingCreateResult;
            },
            empty(){
                return !this.name.length || !this.companyName.length || !this.questions.length || !this.amount.length;
            },
            btnText(){
                if(this.empty) return this.lang.recipients.btnNext.empty;
                if(this.loading) return this.lang.recipients.btnNext.wait;
                return this.lang.recipients.btnNext[this.err ? "wrong" : "allow"]
            },
            ...mapState('questionnaire', ['error', 'pending', 'questionnaireData'])
        },
        methods: {
            next(){
                if(!this.ready) return;
                let data = {
                    sender: this.companyName,
                    source: this.googleLink
                };
                if(this.target) data.target = this.target;
                if(this.wallet_pass) data.wallet_pass = this.wallet_pass;
                if(this.campaign_pass) data.campaign_pass = this.campaign_pass;
                this.sharingCreate({data})
                    .then(({data})=>{
                        this.recipientDataClean();
                        localItemsHistory.add('my-questionnaires', data);
                        this.$router.push({
                            name: 'questionnaire.created',
                            params: {
                                campaign_id: this.sharingCreateResult.campaign_id
                            }
                        });
                    })

            },
            addQuestion(){
                let list = this.questions;
                list.push('');
                this.questions = list;
            },
            ...mapMutations('questionnaire', ['questionnaireDataSet']),
            ...mapActions('sharing', [])
        }
    }
</script>

<style lang="scss">
    .questionnaire-section{
        padding-bottom: 150px;
        .label-block{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            >*{
                margin: 0;
            }
        }
        .example{
            text-align: center;
            margin-top: 26px;
        }
        .customization{
            padding: 16px 24px;
            background-color: #F4F3ED;
            box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
            border-radius: 18px;
            transition: all 0.25s;
            margin-top: 24px;

            h3{
                font-size: 21px;
                line-height: 27px;
                font-weight: normal;
                color: #2D2C28;
                margin-bottom: 25px;
                position: relative;
            }

            label p{
                padding-left: 0;
            }
        }
    }
</style>