<template>
    <div class="questionnaire-example">
        <div class="title">
            <backward/>
            <h1 class="title">
                {{lang.questionnaire.example.title}}
            </h1>
        </div>
        <p>{{lang.questionnaire.example.info}}</p>
        <h2 class="imageTitle">{{lang.questionnaire.example.image1}}</h2>
        <img src="@/assets/tableExample.png" alt="">
        <h2 class="imageTitle">{{lang.questionnaire.example.image2}}</h2>
        <img src="@/assets/statsExample.png" alt="">
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "QuestionnaireExample",
        components: {
            backward
        }
    }
</script>

<style lang="scss">
    .questionnaire-example {
        div.title{
            justify-content: center;
            h1.title {
                text-align: center;
                padding: 0 30px;
            }
        }

        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;

            &.imageTitle{
                margin-top: 24px;
                margin-bottom: 16px;
            }
        }

        ul {
            list-style: none;

            li {
                font-size: 18px;
                line-height: 23px;

                &::before {
                    content: "— ";
                }
            }
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }
</style>