<template>
    <div class="share">
        <div class="title" :class="{'text-center': reSend}">
            <h1 class="title">
                {{lang.newPush.share.title}}
            </h1>
            <backward v-if="reSend" :url="{name: 'push'}"/>
        </div>
        <copy v-if="url" :text="url" :label="lang.questionnaire.share.copy1"/>
        <copy v-if="url" :text="url" :label="lang.questionnaire.share.copy1"/>
        <button class="share defaultBtn block" @click="btnClick">{{lang.questionnaire.share.btn}}</button>
    </div>
</template>


<script>
    import share from '@/mixins/share.mix.vue';

    export default {
        name: "QuestionnaireShare",
        mixins: [share],
        computed: {
            btnText(){
                return this.lang.questionnaire.shareBtn;
            },
            questionnaire_id(){
                return this.$route.params.questionnaire_id;
            },
            url(){
                return `${location.origin}/stats/${this.campaign_id}`
            },
        },
        methods: {
            btnClick(){
                this.$router.push({
                    name: 'campaignStats.general',
                    params: {
                        campaign_id: this.campaign_id
                    }
                });
            }
        },
    }
</script>