<template>
    <div class="account-block">
        <router-view/>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "templateAccount",
        computed: {
            ...mapState('user', ['user'])
        },
        created() {
           if(!this.user){
                //TODO: this.$router.push({name: 'login'});
           }
        }
    }
</script>

<style lang="scss">
    .account-block{

    }
</style>