<template>
    <div class="add-brand">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.addBrand.title}}
            </h1>
        </div>
        <form action="">
            <label>
                <p>{{lang.addBrand.name.label}}</p>
                <input type="text" :placeholder="lang.addBrand.name.placeholder">
            </label>
            <label>
                <p>
                    <span>{{lang.addBrand.logo.label.main}}</span>
                    <span class="advice-label">{{lang.addBrand.logo.label.advice}}</span>
                </p>
                <input type="file" accept="image/jpeg, image/png" class="hidden">

                <div class="btn defaultBtn block width-full input-image">
                    <span>{{lang.addBrand.logo.placeholder.main}}</span>
                    <span class="advice-label">{{lang.addBrand.logo.placeholder.advice}}</span>
                </div>
            </label>
            <button class="defaultBtn block width-250" type="submit">
                {{lang.addBrand.create}}
            </button>
        </form>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "AddBrand",
        components:{
            backward
        }
    }
</script>

<style lang="scss">
    .add-brand{
    }
</style>