<template>
    <div class="add-goods">
        <div class="title">
            <img class="company-preview" src="@/assets/QR_code.png" alt="">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.addGoods.title[this.editMode? 'edit' : 'add']}}
            </h1>
        </div>
        <form action="">
            <label>
                <p>{{lang.addGoods.inputTitle.label}}</p>
                <input type="text" :placeholder="lang.addGoods.inputTitle.placeholder">
            </label>
            <label>
                <p>{{lang.addGoods.cost.label}}</p>
                <input type="text" :placeholder="lang.addGoods.cost.placeholder">
            </label>
            <div class="pictures-list double-column">
                <div class="image" v-for="(img, index) of imgList">
                    <div class="cancel" @click="cancelImage(index)">

                    </div>
                </div>

                <label v-if="imgList.length < maxImage">
                    <input type="file" accept="image/jpeg, image/png" class="hidden" @change="inputImage">
                    <div class="btn inset-shadow block">
                        <img src="@/assets/icons/camera.svg" alt="">
                    </div>
                </label>
            </div>
            <label>
                <p>{{lang.addGoods.photo.label}}</p>
                <input type="file" accept="image/jpeg, image/png"  v-if="imgList.length < maxImage" class="hidden" @input="inputImage">
                <div class="btn defaultBtn block width-full input-image" :class="{disabled: !(imgList.length < maxImage)}">
                    <span>{{lang.addGoods.photo.placeholder.main}}</span>
                    <span class="advice-label">{{lang.addGoods.photo.placeholder.advice}}</span>
                </div>
            </label>
            <label>
                <p>{{lang.addGoods.link.label}}</p>
                <input type="text" :placeholder="lang.addGoods.link.placeholder">
            </label>
            <label>
                <p>{{lang.addGoods.amount.label}}</p>
                <input type="text" :placeholder="lang.addGoods.amount.placeholder">
            </label>
            <div class="ignore-center red-radio-block">
                <p>{{lang.addShop.shopStatus.label}}</p>
                <div class="radio-list">
                    <label>
                        <input type="radio" name="active">
                        <p>{{lang.addShop.shopStatus.options.active}}</p>
                    </label>
                    <label>
                        <input type="radio" name="active">
                        <p>{{lang.addShop.shopStatus.options.inactive}}</p>
                    </label>
                </div>
            </div>
            <label class="double-column">
                <p>{{lang.addGoods.description.label}}</p>
                <textarea :placeholder="lang.addGoods.description.placeholder"></textarea>
            </label>
            <div class="double-column flex-center">
                <button class="defaultBtn block width-250 add-btn" type="button">
                    {{lang.addGoods.add[this.editMode? 'edit' : 'add']}}
                </button>
                <p v-if="editMode" class="underline_link">{{lang.addGoods.delete}}</p>
            </div>
        </form>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "AddGoods",
        data: () => ({
            editMode: true,
            maxImage: 10,
            imgList: [
                'img1',
                'img2',
                'img3',
            ]
        }),
        components: {
            backward
        },
        methods: {
            inputImage(e) {
                this.imgList.push(e.target.files[0])
            },
            cancelImage(index){
                this.imgList.splice(index, 1);
            }
        }
    }
</script>

<style lang="scss">
    .add-goods {
        .title {
            margin-bottom: 24px;

            h1.title {
                margin-bottom: 0 !important;
            }
        }

        .btn span {
            display: inline-block;
        }
        .disabled{
            pointer-events: none;
        }
        .disabled{
            color: rgba($text_gray, 0.6);
        }
        .pictures-list {
            display: flex;
            flex-wrap: wrap;

            .btn {
                min-width: unset;
            }

            label, .image, .btn {
                margin-right: 16px;
                margin-bottom: 16px;
                height: 120px;
                width: 120px;

            }

            .image {
                background-image: url("~@/assets/QR_code.png");

                position: relative;
                background-position: center;
                background-size: cover;
                border-radius: 18px;
                overflow: hidden;

                .cancel{
                    cursor: pointer;
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: white url("~@/assets/icons/black_cancel.svg") center no-repeat;

                }
            }
        }

        .add-btn {
            margin-top: 16px;
        }
        .flex-center{
            margin-top: 16px;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                margin: 0 40px 0 0;
            }

            .underline_link{
                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                margin-bottom: 0;
            }
        }
    }
</style>