<template>
    <div class="add-shop">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.addShop.title}}
            </h1>
        </div>
        <form action="">
            <label>
                <p>{{lang.addShop.name.label}}</p>
                <input type="text" :placeholder="lang.addShop.name.placeholder">
            </label>
            <label>
                <p>{{lang.addShop.category.label}}</p>
                <select>
                    <option disabled selected>{{lang.addShop.category.placeholder}}</option>
                </select>
            </label>
            <label>
                <p>
                    <span>{{lang.addShop.logo.label.main}}</span>
                    <span class="advice-label">{{lang.addShop.logo.label.advice}}</span>
                </p>
                <input type="file" class="hidden">
                <div class="btn defaultBtn block width-full input-image" type="button">
                    <span>{{lang.addShop.logo.placeholder.main}}</span>
                    <span class="advice-label">{{lang.addShop.logo.placeholder.advice}}</span>
                </div>
            </label>
            <div class="ignore-center red-radio-block">
                <p>{{lang.addShop.shopStatus.label}}</p>
                <div class="radio-list">
                    <label>
                        <input type="radio" name="active">
                        <p>{{lang.addShop.shopStatus.options.active}}</p>
                    </label>
                    <label>
                        <input type="radio" name="active">
                        <p>{{lang.addShop.shopStatus.options.inactive}}</p>
                    </label>
                </div>
            </div>
            <label>
                <p>{{lang.addShop.brand.label}}</p>
                <select>
                    <option disabled selected>{{lang.addShop.brand.placeholder}}</option>
                </select>
            </label>
            <button class="defaultBtn block width-250 send-form">{{lang.addShop.send.empty}}</button>
        </form>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "AddShop",
        components:{
            backward
        }
    }
</script>

<style lang="scss">
    .add-shop{
        .circleRadio{

        }
        .send-form{
            margin-top: 15px;
        }
    }
</style>