<template>
    <div class="dashboard">
        <div class="balance-block">
            <div class="forCoping">
                <div class="balance">
                    {{lang.dashboard.balance}}&nbsp;{{balance}}
                </div>
                <div class="balance-moderation">
                    ({{balanceModeration}}&nbsp;{{lang.dashboard.balanceModeration}})
                </div>
            </div>
            <router-link :to="{name: 'withdrawal'}">
                <button class="defaultBtn block">
                    {{lang.dashboard.withdrawal}}
                </button>
            </router-link>
        </div>
        <div class="campaigns">
            <div class="head row">
                <h1 class="title">My campaigns</h1>
                <div class="adds">
                    <div class="add-block">
                        <button class="addBtn">
                            <img src="@/assets/plus.svg" alt="">
                        </button>
                        <p>{{lang.dashboard.addQuestion}}</p>
                    </div>
                    <div class="add-block">
                        <button class="addBtn">
                            <img src="@/assets/plus.svg" alt="">
                        </button>
                        <p>{{lang.dashboard.addMailing}}</p>
                    </div>
                </div>
            </div>
            <div class="company-types dashboard-grid">
                <div class="block">Some company</div>
                <div class="block stopped">Some stopped company</div>
                <div class="block">Some company</div>
            </div>
            <div class="list">
                <div class="point">
                    <div class="head">
                        <h1 class="title">{{lang.dashboard.integratedShops.title}}</h1>
                        <router-link class="add-block" :to="{name: 'integratedShop'}">
                            <button class="addBtn">
                                <img src="@/assets/plus.svg" alt="">
                            </button>
                            <p>{{lang.dashboard.integratedShops.add}}</p>
                        </router-link>
                    </div>
                    <div class="dashboard-grid" v-if="someList">
                        <div class="block">
                            <img src="@/assets/animation/milos-prev.png" alt="">
                            <h3>Shonamed</h3>
                        </div>
                    </div>
                    <div class="empty" v-else>{{lang.dashboard.empty}}</div>
                </div>
                <div class="point">
                    <div class="head">
                        <h1 class="title">{{lang.dashboard.customShops.title}}</h1>
                        <router-link class="add-block" :to="{name: 'addShop'}">
                            <button class="addBtn">
                                <img src="@/assets/plus.svg" alt="">
                            </button>
                            <p>{{lang.dashboard.customShops.add}}</p>
                        </router-link>
                    </div>
                    <div class="dashboard-grid" v-if="someList">
                        <router-link :to="{name: 'editShop'}">
                            <div class="block">
                                <img src="@/assets/animation/milos-prev.png" alt="">
                                <h3>Shonamed</h3>
                            </div>
                        </router-link>

                    </div>
                    <div class="empty" v-else>{{lang.dashboard.empty}}</div>
                </div>
                <div class="point">
                    <div class="head">
                        <h1 class="title">{{lang.dashboard.yourBrands.title}}</h1>
                        <router-link class="add-block" :to="{name: 'addBrand'}">
                            <button class="addBtn">
                                <img src="@/assets/plus.svg" alt="">
                            </button>
                            <p>{{lang.dashboard.yourBrands.add}}</p>
                        </router-link>
                    </div>
                    <div class="dashboard-grid" v-if="someList">
                        <router-link :to="{name: 'editBrand'}">
                            <div class="block">
                                <img src="@/assets/animation/milos-prev.png" alt="">
                                <h3>Shonamed</h3>
                            </div>
                        </router-link>


                    </div>
                    <div class="empty" v-else>{{lang.dashboard.empty}}</div>
                </div>
            </div>
        </div>
        <div class="table-block">
            <div class="head">
                <h1 class="title">
                    {{lang.dashboard.lastDeals.title}}
                </h1>
                <p class="underline_link ">
                    {{lang.dashboard.lastDeals.fullTable}}
                </p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>{{lang.dashboard.table.date}}</th>
                        <th>{{lang.dashboard.table.profit}}</th>
                        <th>{{lang.dashboard.table.name}}</th>
                        <th>{{lang.dashboard.table.ID}}</th>
                        <th>{{lang.dashboard.table.status}}</th>
                        <th>{{lang.dashboard.table.shop}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item of shopsTable">
                        <td>{{item.date}}</td>
                        <td>{{item.profit}} BIT</td>
                        <td>{{item.name}}</td>
                        <td>{{item.ID}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.shop}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Dashboard",
        data: () => ({
            balance: 23523,
            balanceModeration: 23459,
            someList: true, // not empty list
            shopsTable: [
                {
                    date: 1234,
                    profit: 1000,
                    name: "Some name",
                    ID: 234234,
                    status: true, // ?
                    shop: "Some shop"
                },
                {
                    date: 1234,
                    profit: 1000,
                    name: "Some name",
                    ID: 234234,
                    status: true, // ?
                    shop: "Some shop"
                },
            ]
        })
    }
</script>

<style lang="scss">
    .dashboard {
        .balance-block {
            display: flex;
            margin-bottom: 50px;

            .forCoping {
                display: flex;
                align-items: center;
                margin-right: 24px;

                font-weight: 600;

                .balance {
                    font-size: 18px;
                    margin-right: 8px;
                }

                .balance-moderation {
                    font-size: 14px;
                }
            }

            button {
                min-width: 202px;
            }
        }
        a, a:hover{
            color: $text_gray;
        }
        .add-block {
            cursor: pointer;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 16px;
            }

            p {
                margin-bottom: 0;
                margin-left: 16px;
                font-weight: 600;
                font-size: 18px;
                line-height: 23px;
            }

            .addBtn {
                position: relative;
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            h1.title {
                margin-bottom: 0 !important;
            }
        }

        .company-types {

            .block {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                color: $text_gray;

                &.stopped {
                    color: rgba($text_gray, 0.6);

                    &::after {
                        content: 'Stopped';
                        position: absolute;
                        bottom: 10px;


                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        .campaigns {
            .head {
                .adds {
                    display: flex;
                }
            }
        }
        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            h1 {
                margin-bottom: 0 !important;
            }
        }
        .list {
            .point {
                margin-bottom: 40px;

                .empty{
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 27px;
                    color: rgba($text_gray, 0.6);
                    text-align: center;
                    padding-top: 15px;
                    padding-bottom: 30px;
                }
                .block {
                    display: flex;
                    align-items: center;
                    padding: 0 26px;

                    h3 {
                        font-weight: 600;
                        font-size: 21px;
                        line-height: 27px;
                        color: $text_gray;
                        margin-bottom: 0;
                    }

                    img {
                        height: 40px;
                        margin-right: 16px;
                    }
                }
            }
        }

        .dashboard-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 24px;
            margin-bottom: 40px;

            .block {
                height: 80px;
            }
        }

        .table-block {
            .head{
                p{
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                    color: $text_gray;
                }
            }
            table {
                width: 100%;
                thead{
                    border-bottom: 1px solid #C4C4C4;
                }
                tbody tr:nth-child(2n){
                    background: white;
                }
                tr{
                    height: 52px;
                }
                td, th {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    color: $text_gray;
                    padding: 0 8px;
                }
            }
        }
    }
</style>