<template>
    <div class="edit-shop">
        <div class="title">
            <img class="company-preview" src="@/assets/QR_code.png" alt="">
            <h1 class="title mobile-text-center">
                shop_name
            </h1>
            <router-link :to="{name: 'editShop'}">
                <p class="active">{{lang.editShop.routers.setting}}</p>
            </router-link>
            <router-link :to="{name: 'goods'}">
                <p class="active">{{lang.editShop.routers.goods}}</p>
            </router-link>
            <backward/>
        </div>
        <form action="">
            <label>
                <p>{{lang.addShop.name.label}}</p>
                <input type="text" :placeholder="lang.addShop.name.placeholder">
            </label>
            <label>
                <p>{{lang.addShop.category.label}}</p>
                <select>
                    <option disabled selected>{{lang.addShop.category.placeholder}}</option>
                </select>
            </label>
            <label>
                <p>
                    <span>{{lang.addShop.logo.label.main}}</span>
                    <span class="advice-label">{{lang.addShop.logo.label.advice}}</span>
                </p>
                <input type="image" class="hidden">
                <button class="defaultBtn block width-full input-image">
                    <span>{{lang.addShop.logo.placeholder.main}}</span>
                    <span class="advice-label">{{lang.addShop.logo.placeholder.advice}}</span>
                </button>
            </label>
            <div class="ignore-center red-radio-block">
                <p>{{lang.addShop.shopStatus.label}}</p>
                <div class="radio-list">
                    <label>
                        <input type="radio" name="active">
                        <p>{{lang.addShop.shopStatus.options.active}}</p>
                    </label>
                    <label>
                        <input type="radio" name="active">
                        <p>{{lang.addShop.shopStatus.options.inactive}}</p>
                    </label>
                </div>
            </div>

            <label>
                <p>{{lang.addShop.brand.label}}</p>
                <select>
                    <option disabled selected>{{lang.addShop.brand.placeholder}}</option>
                </select>
            </label>
            <div class="flex-center double-column">
                <button class="defaultBtn block width-250 send-form" type="button">{{lang.addShop.send.empty}}</button>
                <p class="underline_link">
                    {{lang.editShop.delete}}
                </p>
            </div>
        </form>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "EditShop",
        components:{
            backward
        }
    }
</script>

<style lang="scss">
    .edit-shop{
        .title a{
            p{
                margin-bottom: 0;
                margin-left: 16px;

                font-weight: 600;
                font-size: 18px;
                line-height: 23px;

                color: $text_gray;
                opacity: 1;
                text-decoration-line: underline;
            }
            &.router-link-exact-active p{
                opacity: 0.6;
                color: $text_gray;
                text-decoration-line: none;
            }
        }
        .flex-center{
            margin-top: 16px;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                margin: 0 40px 0 0;
            }

            .underline_link{
                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                margin-bottom: 0;
            }
        }
    }
</style>