<template>
    <div class="edit-brand">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.editBrand.title}}
            </h1>
        </div>
        <form action="">
            <label>
                <p>{{lang.editBrand.name.label}}</p>
                <input type="text">
            </label>
            <label>
                <p>
                    <span>{{lang.editBrand.logo.label.main}}</span>
                    <span class="advice-label">{{lang.editBrand.logo.label.advice}}</span>
                </p>
                <input type="image" class="hidden">
                <button class="defaultBtn block width-full input-image" type="button">
                    {{lang.editBrand.logo.placeholder}}
                </button>
            </label>
            <div class="flex-center">
                <button class="defaultBtn block" type="button">
                    {{lang.editBrand.update}}
                </button>
                <p class="underline_link">{{lang.editBrand.delete}}</p>
            </div>
        </form>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "EditBrand",
        components:{
            backward
        }
    }
</script>

<style lang="scss">
    .edit-brand{
        .flex-center{
            margin-top: 11px;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                margin: 0 40px 0 0;
            }

            .underline_link{
                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                margin-bottom: 0;
            }
        }
    }
</style>