<template>
    <div class="goods">
        <div class="title">
            <img class="company-preview" src="@/assets/QR_code.png" alt="">

            <h1 class="title mobile-text-center">
                shop_name
            </h1>
            <router-link :to="{name: 'editShop'}">
                <p class="underline">{{lang.editShop.routers.setting}}</p>
            </router-link>
            <router-link :to="{name: 'goods'}">
                <p class="underline">{{lang.editShop.routers.goods}}</p>
            </router-link>

            <router-link class="add-block" :to="{name: 'addGoods'}">
                <button class="addBtn">
                    <img src="@/assets/plus.svg" alt="">
                </button>
                <p>{{lang.goods.router.addGoods}}</p>
            </router-link>

            <backward/>
        </div>
        <div class="grid">
            <router-link :to="{name: 'addGoods'}">
                <div class="item block">
                    <div class="img-block"></div>
                    <div class="about">
                        <p class="name">Razer sosfsd</p>
                        <p class="bip">1 · 1600 BIP</p>
                        <p class="status">Active</p>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "Goods",
        components:{
            backward
        }
    }
</script>

<style lang="scss">
    .goods{
        .title a{
            p.underline{
                margin-bottom: 0;
                margin-left: 16px;

                font-weight: 600;
                font-size: 18px;
                line-height: 23px;

                color: $text_gray;
                opacity: 1;
                text-decoration-line: underline;
            }
            &.router-link-exact-active p.underline{
                opacity: 0.6;
                color: $text_gray;
                text-decoration-line: none;
            }
        }
        .title .add-block {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;

            .addBtn{
                position: relative;
                transform: unset;
                margin-right: 16px;
            }
            p{
                margin-bottom: 0;
                font-weight: 600;
                font-size: 18px;
                line-height: 23px;
                color: $text_gray;
            }
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 24px 32px;

            .item{
                padding: 8px;
                height: 120px;
                display: flex;
                align-items: center;

                font-weight: 500;
                font-size: 16px;
                line-height: 21px;

                .img-block{
                    height: 104px;
                    width: 104px;
                    background-image: url("~@/assets/QR_code.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    margin-right: 16px;
                    border-radius: 18px;
                    overflow: hidden;
                }
                .about{
                    p{
                        margin-bottom: 0;
                        padding: 4px 0;

                        &.status{
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
</style>