<template>
    <div class="integrated-shop">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.integratedShop.title}}
            </h1>
        </div>
        <p class="texr">{{lang.integratedShop.text}}</p>
        <div class="title">
            <h1 class="title">{{lang.integratedShop.answerTitle}}</h1>
        </div>
        <form action="">
            <label v-for="point of list">
                <p>{{point.question}}</p>
                <input type="text" :placeholder="point.placeholder">
            </label>
            <button class="defaultBtn block width-250 label">
                {{lang.integratedShop.submit}}
            </button>
        </form>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "IntegratedShop",
        components:{
            backward
        },
        data:()=>({
            list:[
                {
                    question: "Some qst1",
                    placeholder: "Some placeholder1"
                },
                {
                    question: "Some qst21",
                    placeholder: "Some placeholder21"
                },
            ]
        })
    }
</script>

<style lang="scss">
    .integrated-shop{
        form{
            display: block;
        }
        p.texr{
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 40px
        }
        button{
            margin-top: 32px;
        }
    }
</style>