<template>
    <div class="profile">
        <div class="title-block">
            <div class="title-block">
                <h1 class="title">
                    {{lang.profile.title}}
                </h1>
                <p class="underline_link">{{lang.profile.purchasesList}}</p>
            </div>
            <p class="underline_link">{{lang.profile.logOut}}</p>
        </div>
        <p class="fast-login">Add connections to fast login</p>
        <form action="">
            <button class="auth-btn defaultBtn block relative">
                <img class="left-side-fixed-img" src="@/assets/icons/telegram.svg" alt="">
                <span>{{lang.profile.telegram}}</span>
            </button>
            <button class="auth-btn defaultBtn block relative">
                <img class="left-side-fixed-img" src="@/assets/icons/google.svg" alt="">
                <span>{{lang.profile.google}}</span>
            </button>
            <label class="unset-position">
                <p>{{lang.profile.email.label}}</p>
                <input disabled type="email" :placeholder="email">
            </label>
            <p class="unset-position underline_link send-to-email">{{lang.profile.changePassword}}</p>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Profile",
        data:()=>({
            email: "some@mail.com"
        })
    }
</script>

<style lang="scss">
    .profile{
        .title-block{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 28px;
            h1{
                margin-bottom: 0 !important;
                margin-right: 16px;
            }
            &>*{
                margin-bottom: 0;
            }
            p{
                padding-bottom: 4px;
                font-weight: 600;
            }
        }
        .fast-login{
            padding-left: 24px;
            font-size: 18px;
        }
        form{
            button{
                width: 100%;
                margin-bottom: 32px
            }
            .send-to-email{
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
</style>