<template>
    <div class="withdrawal">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.withdrawal.title}}
            </h1>
        </div>
        <div class="content-frame-width-328">
            <form action="">
                <label>
                    <p>{{lang.withdrawal.input.label}}</p>
                    <input type="text" :placeholder="lang.withdrawal.input.placeholder">
                </label>
                <button class="defaultBtn block width-250" type="submit">
                    {{lang.withdrawal.send}}
                </button>
            </form>
        </div>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "Withdrawal",
        components:{
            backward
        }
    }
</script>

<style scoped>

</style>