<template>
    <div class="create-task-goal">
        <div class="title">
            <backward/>
            <h1 class="title">{{lang.createTaskMedia.title}} / {{typeTask.name}}</h1>
        </div>
        <div class="goal-list">
            <router-link :to="getLink(goal)" class="goal-block block" v-for="goal of goalList" :key="goal.id">
                {{goal.name}}
            </router-link>
        </div>
    </div>
</template>

<script>
    import backward from '@/components/elements/_backward'
    import {mapState} from "vuex";
    export default {
        name: "createTaskGoal",
        components: {
            backward
        },
        computed: {
            typeTask(){
                const id = this.$route.params.media;
                return this.tasksTypes[id];
            },
            goalList(){
                if(!this.typeTask) return this.$router.back();
                return Object.keys(this.typeTask.types).map((id)=>({
                    id,
                    name: this.typeTask.types[id]
                }));
            },
            ...mapState('campaign', ['tasksTypes'])
        },
        methods: {
            getLink(goal){
                return {
                    name: 'campaigns.create.step3',
                    params: {
                        media: this.$route.params.media,
                        goal: goal.id
                    }
                };
            }
        }
    }
</script>

<style lang="scss">
    .create-task-goal{
        h1{
            margin: 0 !important;
        }
        .goal-list{
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            .goal-block{
                cursor: pointer;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 21px;
                font-weight: 600;
            }
        }
    }
</style>