<template>
    <div class="create-task-media">
        <div class="title">
            <backward/>
            <h1 class="title">{{lang.createTaskMedia.title}}</h1>
        </div>
        <div class="media-list">
            <router-link class="media-block block"
                         v-for="media of mediaList" :to="{name: 'campaigns.create.step2', params: {media: media.id}}" :key="media.name">
                <img :src="media.img" :title="media.name">
            </router-link>
        </div>

    </div>
</template>

<script>
    import backward from '@/components/elements/_backward'
    import {mapState} from "vuex";
    export default {
        name: "createTaskMedia",
        components:{
            backward
        },
        computed: {
            mediaList(){
                return Object.keys(this.tasksTypes).map((id)=>({
                    id,
                    ...this.tasksTypes[id]
                }));
            },
            ...mapState('campaign', ['tasksTypes'])
        }
    }
</script>

<style lang="scss">
    .create-task-media{
        h1{
            margin: 0 !important;
        }
        .media-list{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            .media-block{
                min-width: auto;
                width: calc(100% / 3 - 20px);
                height: 80px;
                margin: 0 10px 16px;

                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    max-width: 70%;
                    max-height: 70%;
                }
            }
        }
    }
</style>