<template>
    <div class="create-task-form">
        <div class="title">
            <backward/>
            <h1 class="title">{{subTypeTask.name}} / {{typeTask.name}}</h1>
        </div>
        <form action="#" @submit.prevent="send">
            <label>
                <p>{{lang.campaignTaskForm.form.name.label}}</p>
                <input type="text" :placeholder="lang.campaignTaskForm.form.name.placeholder" v-model="form.name" :disabled="submitted">
            </label>
            <label>
                <p>
                    <span>{{lang.campaignTaskForm.form.logo.label.main}}</span>
                    <span class="advice-label">{{lang.campaignTaskForm.form.logo.label.advice}}</span>
                </p>
                <input type="file" class="hidden" @change="addImg" :disabled="submitted">
                <div class="btn defaultBtn block width-full input-image" type="button" :class="{disabled: submitted}">
                    <template v-if="!imageName">
                        <span>{{lang.addShop.logo.placeholder.main}}</span>
                        <span class="advice-label">{{lang.addShop.logo.placeholder.advice}}</span>
                    </template>
                    <span v-else>{{imageName}}</span>
                </div>
            </label>

            <label class="double-column">
                <p>{{lang.campaignTaskForm.form.link.label}}</p>
                <input type="text" :placeholder="linkTemplate(lang.campaignTaskForm.form.link.placeholder)" v-model="form.action_link" :disabled="submitted">
            </label>

            <label v-if="hasTimeInput">
                <p>{{lang.campaignTaskForm.form.time.label}}</p>
                <input type="text" :placeholder="lang.campaignTaskForm.form.time.placeholder" v-model="form.action_duration" :disabled="submitted">
            </label>
            <label>
                <p>{{lang.campaignTaskForm.form.people.label}}</p>
                <input type="text" :placeholder="lang.campaignTaskForm.form.people.placeholder" v-model.number="form.count" :disabled="submitted">
            </label>
            <div v-if="!hasTimeInput"></div>
            <label class="message">
                <p>{{lang.campaignTaskForm.form.reward.label}}</p>
                <span class="double-row">
                        <input type="number" step="any" :placeholder="lang.campaignTaskForm.form.reward.placeholder" autocomplete="off"
                               v-model.number="form.action_reward" :disabled="submitted">
                        <ratesSearch :active="form.action_coin" @change="form.action_coin = $event" :disabled="submitted"/>
                    </span>
            </label>
            <button class="defaultBtn block" type="submit" :disabled="!formValid || pending.createdCampaign" v-show="!createdCampaign">
                {{lang.campaignTaskForm.form.sendBtn[formValid?'valid':'invalid']}}
            </button>
            <p class="errorBlock double-column" v-if="error.createdCampaign">
                {{error.createdCampaign}}
            </p>
        </form>
        <div class="info" v-if="formValid && createdCampaign">
            <a :href="deeplink" v-if="deeplink" target="_blank">
                <button class="defaultBtn block deeplink">
                    <span>{{lang.newPush.paying.deeplinkBtn.text}}</span>
                    <span class="value">{{deeplinkSum | amount}} {{form.action_coin}}</span>
                </button>
            </a>
            <qr :url="deeplink"/>
            <copy-btn :label="lang.campaignTaskForm.copy.label" :text="createdCampaign && createdCampaign.address"/>
        </div>
    </div>

</template>

<script>
    import backward from '@/components/elements/_backward'
    import copyBtn from '@/components/elements/_copy'
    import {mapActions, mapMutations, mapState} from "vuex";
    import ratesSearch from "@/components/elements/ratesSearch.vue";
    import qr from "@/components/elements/qr"

    export default {
        name: "CreateTaskForm",
        data: ()=>({
            submitted: false,
            form: {
                name: '',
                count: null,
                //action_type
                action_link: '',
                action_duration: null,
                action_reward: null,
                action_coin: null,
                icon: null
            },
            timer: false
        }),
        components:{
            backward,
            copyBtn,
            ratesSearch,
            qr
        },
        computed:{
            typeTask(){
                const id = this.$route.params.media;
                return {
                    id,
                    ...this.tasksTypes[id]
                };
            },
            subTypeTask(){
                if(!this.typeTask) return this.$router.back();
                const id = this.$route.params.goal;
                return {
                    id,
                    name: this.typeTask.types[id]
                };
            },
            hasTimeInput(){
                return this.subTypeTask.id === 'watch';
            },
            imageName(){
                const img = this.form.icon;
                if(img) {
                    if(img.name.length > 20) return img.name.slice(0, 20)+'...';
                    else return img.name;
                }
            },
            formValid(){
                let optionalKey = [];
                if(!this.hasTimeInput) optionalKey.push('action_duration');
                const keys = Object.keys(this.form).filter(k=>!optionalKey.includes(k));
                return keys.every((key)=>this.form[key]);
            },
            deeplink(){
                if(this.createdCampaign) return this.createdCampaign.deeplink;
            },
            deeplinkSum(){
                return this.form.action_reward * this.form.count;
            },
            ...mapState('campaign', ['tasksTypes', 'createdCampaign', 'pending', 'error'])
        },
        methods: {
            linkTemplate(text){
                return text.replace('{link}', this.typeTask.linkPlaceholder);
            },
            addImg({target}){
                this.form.icon = target.files[0];
            },
            send(){
                if(!this.formValid) return false;
                this.submitted = true;
                let data = new FormData();
                Object.keys(this.form).forEach((key)=>{
                    data.append(key, this.form[key]);
                });
                data.append('action_type', `${this.typeTask.id}-${this.subTypeTask.id}`);
                this.createCampaign({data}).then(({data})=>
                    this.getCampaign({
                        params: {
                            id: data.id
                        }
                    })
                ).then(({data})=>{
                    this.setTimer();
                    this.campaignsAdd(data);
                });
            },
            setTimer(){
                if(this.timer) clearTimeout(this.timer);
                this.timer = setTimeout(() => {
                    this.timer = false;
                    this.updateInfo();
                }, 5000);
            },
            updateInfo(){
                this.getWalletBalance({params: {
                        link_id: this.createdCampaign.link_id
                    }})
                    .then(({data})=>{
                        if(data.balance.bip_value > 0) {
                            this.$router.push({
                                name: 'campaigns.successfully'
                            })
                        }
                        else this.setTimer();
                    })
                    .catch((e)=>{
                        console.warn(e);
                        this.setTimer();
                    });
            },
            ...mapMutations('campaign', ['campaignsAdd']),
            ...mapActions('campaign', ['createCampaign', 'getCampaign']),
            ...mapActions('wallet', ['getWalletBalance'])
        }
    }
</script>

<style lang="scss">
    .create-task-form{
        h1{
            margin: 0 !important;
        }
        form{
            margin-bottom: 80px;
        }
        .deeplink{
            margin-bottom: 40px;
        }
        .info{
            margin: 0 auto;
            width: 328px;

            &>*{
                width: 100%;
            }
        }
    }
</style>