<template>
    <div class="dashboard-new">
        <div class="head row">
            <h1 class="title">{{lang.campaigns.dashboard.title}}</h1>
            <div class="adds">
                <div class="add-block">
                    <router-link :to="{'name': 'campaigns.create'}">
                        <button class="addBtn">
                            <img src="@/assets/plus.svg" alt="">
                        </button>
                        <p>{{lang.campaigns.dashboard.addTasK}}</p>
                    </router-link>

                </div>
                <div class="add-block">
                    <router-link :to="{'name': 'recipients'}">
                        <button class="addBtn">
                            <img src="@/assets/plus.svg" alt="">
                        </button>
                        <p>{{lang.campaigns.dashboard.AddMailing}}</p>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="campaigns-list" v-if="!pending.campaign">
            <p class="empty-list" v-if="listIsEmpty">{{lang.campaigns.dashboard.emptyList}}</p>
            <div v-else class="list">
                <router-link :to="{'name': 'campaigns.stats', params:{id: campaign.id}}" class="campaign-block block" v-for="campaign of campaignsList" :key="campaign.id">
                    <div class="name">{{campaign.name}}</div>
                    <div class="about">
                        <div class="money">
                            {{campaign.count}}&nbsp;{{lang.campaigns.dashboard.campaign.wallet}}
                            ·
                            {{campaign.balance}}&nbsp;{{campaign.coin}}
                        </div>
                        <div class="time">{{campaign.time}}</div>
                    </div>
                </router-link>
            </div>
        </div>
        <h3 class="loading" v-else>{{lang.campaigns.dashboard.updating}}</h3>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapState} from "vuex";

    export default {
        name: "DashboardCampaigns",
        created(){
            this.campaigns.forEach(({id})=>{
                this.getCampaign({
                    params: {id}
                }).then(({data})=>{
                    this.campaignUpdate(data);
                });
            });
        },
        computed:{
            campaignsList(){
                return this.campaigns.filter((campaign) => campaign.balance > 0);
            },
            listIsEmpty(){
                return !this.campaignsList.length
            },
            ...mapState('campaign', ['campaigns', 'pending'])
        },
        methods: {
            ...mapMutations('campaign', ['campaignUpdate']),
            ...mapActions('campaign', ['getCampaign'])
        }
    }
</script>

<style lang="scss">
    .dashboard-new{

        .loading{
            text-align: center;
            margin-top: 100px;
        }

        .head {
            .adds {
                display: flex;
            }
        }
        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            h1 {
                margin-bottom: 0 !important;
            }
            .add-block {


                &, a{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                &:not(:last-child) {
                    margin-right: 32px;
                }

                p {
                    margin-bottom: 0;
                    margin-left: 16px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                }

                .addBtn {
                    position: relative;
                    transform: none;
                }
            }
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            h1.title {
                margin-bottom: 0 !important;
            }
        }

        .empty-list{
            opacity: 0.6;
            font-size: 21px;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;
        }

        .campaigns-list .list{
            display: flex;
            flex-wrap: wrap;
            margin: 0 calc(-25px / 2);

            .campaign-block{
                color: $text_gray;
                height: auto;
                padding: 16px;
                width: calc(50% - 25px);
                margin: 0 calc(25px / 2) 24px;

                .name{
                    position: relative;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: 21px;
                    font-weight: 600;
                    margin-bottom: 4px;

                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 34px;
                        background: linear-gradient(270deg, #F4F3ED 50%, rgba(244, 243, 237, 0) 100%);
                    }
                }
                .about{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    opacity: 0.5;

                    .money{
                        white-space: nowrap;
                    }
                }
            }
        }
    }
</style>