<template>
    <div class="campaign-stats">
        <h1 class="title">{{templateCampaign(lang.campaignTaskStats.title)}}</h1>
        <div class="stats">
            <div class="taken-reward reward forCoping">
                <div class="about">{{lang.campaignTaskStats.takenReward}}</div>
                <div class="value">{{campaign.times_completed}}</div>
            </div>
            <div class="created-reward reward forCoping">
                <div class="about">{{lang.campaignTaskStats.createdReward}}</div>
                <div class="value">{{campaign.count}}</div>
            </div>
        </div>
        <button class="defaultBtn block">
            {{lang.campaignTaskStats.stop}}
        </button>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Stats",
        created(){
            if(this.campaign.id !== this.id){
                this.getCampaign({
                    params: {
                        id: this.id
                    }
                });
            }
        },
        computed: {
            id(){
                return this.$route.params.id;
            },
            ...mapState('campaign', ['campaign'])
        },
        methods: {
            templateCampaign(text){
                return text.replace('{campaign}', this.campaign.name);
            },
            ...mapActions('campaign', ['getCampaign'])
        }
    }
</script>

<style lang="scss">
    .campaign-stats{

        .stats{
            display: flex;
            justify-content: center;
            margin-bottom: 32px;

            .reward{
                width: 155px;
                height: 64px;
                min-width: auto;
                min-height: auto;
                margin: 0 8px;
                padding: 8px;

                font-weight: 600;
                text-align: center;
                .about{
                    font-size: 14px;
                    margin-bottom: 8px;
                    line-height: 1;
                }
                .value{
                    font-size: 21px;
                }
            }
        }
    }
</style>