<template>
    <div class="ignore-center search-block-outer">
        <label class="search-input">
            <p>{{lang.customization.setting.shopSearch.label}}</p>
                 <inputSearch :list="list" :active="active" @change="$emit('change', $event)" @setQuery="query = $event" :query="query"
                    :label="lang.customization.setting.shopSearch.label"
                    :notFound="lang.customization.setting.shopSearch.notFound"/>
        </label>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import inputSearch from "@/components/elements/inputSearch.vue";
    import transfers from "@/store/transfers";

    export default {
        name: "inputSearchShop",
        props: ['active'],
        components: {inputSearch},
        data: () => ({
            query: ''
        }),
        computed: {
            list(){
                return this.transfersFind(this.query).map(transfer => {
                    const category = this.getCategory([transfer.category]) || {};
                    return {
                        id: transfer.id,
                        name: transfer.title[this.selectedLanguage],
                        color: category.color,
                        icon: category.icon
                    }
                });
            },
            ...mapState('transfers', ['spendList']),
            ...mapGetters('transfers', ['transfersFind', 'getCategory']),
            ...mapState(['selectedLanguage']),
        },
        methods:{
            ...mapActions('transfers', ['getSpendList'])
        },
        created() {
            if(this.active && this.active.id) this.query = this.active.name;
            if(!this.spendList) {
                this.getSpendList();
            }
        }
    }
</script>

<style>
    .search-block-outer{
        margin-bottom: 24px;
    }
</style>