<template>
    <label class="input-file">
        <p>
            <span>{{label.text}}</span>
            <span class="format">{{label.format}}</span>
        </p>
        <input type="file" ref="input" @change="input" accept="image/*">
        <div class="btn defaultBtn block" v-if="!haveImg">
            <span>{{lang.customization.setting.push.picture.button.choose.text}}</span>
            <span class="format">{{lang.customization.setting.push.picture.button.choose.format}}</span>
        </div>
        <div class="btn defaultBtn block" v-else @click="clear">
            <span>{{lang.customization.setting.push.picture.button.delete}} </span>
        </div>
        <p class="errorBlock" v-if="error.uploadResult">{{error.uploadResult}}</p>
    </label>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "inputFile",
        props: {
            label: Object,
            haveImg: Boolean
        },
        computed: mapState('custom', ['error']),
        methods:{
            input(event){
                if(!event.target.files || !event.target.files.length) return this.clear(event);
                const file = event.target.files[0];
                if(!file) return;
                let data = new FormData();
                data.append('img', file);
                this.upload({data}).then(({data})=>{
                    this.$emit('inputImg', data);
                });
            },
            clear(event){
                event.preventDefault();
                this.$refs.input.value = '';
                this.$emit('inputImg', [])
            },
            ...mapActions('custom', ['upload']),
        }
    }
</script>

<style lang="scss">
    .input-file{
        position: relative;
        .btn{
            display: flex !important;
            justify-content: center;
            align-items: center;

        }
        .format {
            margin-left: 5px;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
        }
        input{
            width: 0;
            height: 0;
            opacity: 0;
            z-index: -10;
            position: absolute;
        }
    }
</style>