<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <title>YYY.cash</title>

    <meta itemprop="name" content="YYY.cash — Send Minter coins to anyone in seconds">
    <meta itemprop="description" content="YYY.cash is the easiest way to share your money: pay for a freelance, leave a tip in a resturant, send coins to your family. Payments were never that easy!">
    <meta itemprop="image" content="https://dev.push.money/api/content/preview-tg">
    <meta itemprop="og:image" content="https://dev.push.money/api/content/preview-tg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="YYY.cash — Send Minter coins to anyone in seconds">
    <meta name="twitter:description" content="YYY.cash is the easiest way to share your money: pay for a freelance, leave a tip in a resturant, send coins to your family. Payments were never that easy!">
    <meta name="twitter:image" content="https://dev.push.money/api/content/preview-tg">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157614142-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157614142-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(57340819, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57340819" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
