<template>
    <div class="recipients-example">
        <div class="title">
            <backward/>
            <h1 class="title">
                {{lang.recipients.example.title}}
            </h1>
        </div>
        <h2>
            {{lang.recipients.example.table.title}}
        </h2>
        <ul>
            <li v-for="item of lang.recipients.example.table.list">{{item}}</li>
        </ul>
        <img src="@/assets/tableExample.png" alt="">
        <div class="gridBlock">
            <div>
                <h2 class="stats">
                    {{lang.recipients.example.stats.title}}
                </h2>
                <img src="@/assets/statsExample.png" alt="">
            </div>
            <div>

                <h2 class="stats">
                    {{lang.recipients.example.mailing.title}}
                </h2>
                <img src="@/assets/recipientsExample.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "Example",
        components: {
            backward
        }
    }
</script>

<style lang="scss">
    .recipients-example {
        div.title {
            justify-content: center;

            h1.title {
                text-align: center;
                padding: 0 30px;
            }
        }

        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;

            &.stats{
                margin-top: 24px;
                margin-bottom: 16px;
            }
        }

        ul {
            list-style: none;

            li {
                font-size: 18px;
                line-height: 23px;

                &::before {
                    content: "— ";
                }
            }
        }

        img {
            display: block;
            margin: 0 auto;

            @include tablet{
                margin: 0;
            }
        }
    }
</style>