<template>
    <div class="recipients-section">
        <h1 class="title">
            {{lang.recipients.title}}
        </h1>
        <form action="#">
            <label>
                <p>{{lang.recipients.inputCompanyName.label}}</p>
                <input type="text" v-model="companyName" :placeholder="lang.recipients.inputCompanyName.placeholder">
            </label>
            <label class="google-link">
                <label>
                    <div class="label-block">
                        <p>{{lang.recipients.googleLink.label}}</p>
                        <a href="#" class="underline_link" v-show="googleLink" @click.prevent="getInfo" :class="{disabled: loading}">{{lang.recipients.googleLink.update}}</a>
                    </div>
                    <input class="$light_beige" type="url" v-model="googleLink" autocomplete="off" :placeholder="lang.recipients.googleLink.placeholder">
                </label>
                <div class="about-link" v-if="ready && validateSourceResult">
                    <img src="@/assets/link_direction_arrow.svg" alt="">
                    <span>{{validateSourceResult.total_emails}} {{lang.recipients.googleLink.about.users}}, {{validateSourceResult.total_bip}} BIP</span>
                </div>
            </label>
            <label>
                <p>{{lang.recipients.passwordStats.label}}</p>
                <input type="password" v-model="campaign_pass" autocomplete="off" :placeholder="lang.recipients.passwordStats.placeholder">
            </label>
            <div class="customization ignore-center" :class="{active: customizationOpen}" @click="customizationOpen = true">
                <h3 @click.stop="customizationOpen = !customizationOpen">{{lang.recipients.customization}}</h3>
                <label>
                    <p>{{lang.recipients.password.label}}</p>
                    <input type="password" v-model="wallet_pass" autocomplete="off" :placeholder="lang.recipients.password.placeholder">
                </label>
                <label>
                    <p>{{lang.recipients.target.label}}</p>
                    <select v-model="target" :class="{placeholder: !target}">
                        <option :value="false" selected disabled>{{lang.recipients.target.placeholder}}</option>
                        <option value="y-food">Я.Еда</option>
                        <option value="bip2ph">BipToPhone</option>
                    </select>
                </label>
            </div>
        </form>
        <p class="errorBlock" v-if="err">{{err}}</p>
        <router-link :to="{name: 'recipients.example'}">
            <p class="underline_link example">
                {{lang.recipients.examplesBtn}}
            </p>
        </router-link>
        <button class="defaultBtn block bottom-fixed" :class="{'inset-shadow': loading}" :disabled="err || empty || loading || !ready" @click="next">{{btnText}}</button>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapState} from "vuex";
    import {getModel} from "@/utils/component";
    const model = getModel('recipientDataSet', 'recipientData');
    import {localItemsHistory} from "@/utils/component";

    export default {
        name: "Recipients",
        data: ()=>({
            ready: false,
            customizationOpen: false
        }),
        created() {
            this.ready = !!this.validateSourceResult;
        },
        watch: {
          googleLink(){
              this.ready = false;
              this.getInfo();
          }
        },
        computed:{
            companyName: model('companyName'),
            googleLink: model('googleLink'),
            target: model('target'),
            campaign_pass: model('campaign_pass'),
            wallet_pass: model('wallet_pass'),
            err(){
                return this.error.validateSourceResult;
            },
            loading(){
                return this.pending.validateSourceResult || this.pending.sharingCreateResult;
            },
            empty(){
                return !this.companyName.length || !this.googleLink.length;
            },
            btnText(){
                if(this.empty) return this.lang.recipients.btnNext.empty;
                if(this.loading) return this.lang.recipients.btnNext.wait;
                return this.lang.recipients.btnNext[this.err ? "wrong" : "allow"]
            },
            ...mapState('sharing', ['sharingCreateResult', 'validateSourceResult', 'error', 'pending', 'recipientData'])
        },
        methods: {
            getInfo(){
                this.validateSource({data: {
                        source: this.googleLink
                    }})
                .then(()=>{
                    this.ready = true;
                })
            },
            next(){
                if(!this.ready) return;
                this.$router.push({
                    name: 'recipients.customizationOffer'
                });
            },
            ...mapMutations('sharing', ['recipientDataSet']),
            ...mapActions('sharing', ['validateSource']),
        }
    }
</script>

<style lang="scss">
    .recipients-section{
        padding-bottom: 150px;
        .label-block{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            >*{
                margin: 0;
            }
        }
        .google-link{
            label{
                margin-bottom: 16px
            }
            .about-link{
                display: flex;
                align-items: center;
                padding-left: 26px;
                img{
                    margin-right: 8px;
                }
            }
        }
        .example{
            text-align: center;
            margin-top: 26px;
        }
        .customization{
            padding: 16px 24px;
            background-color: #F4F3ED;
            box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1);
            border-radius: 18px;
            max-height: 60px;
            overflow: hidden;
            transition: all 0.25s;
            margin-top: 24px;

            background-image: url("~@/assets/select_arrow.svg");
            background-position: 97% 26px;
            background-repeat: no-repeat;

            @include tablet{
                margin-top: 38px;
            }

            &.active{
                max-height: 350px;
                box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
            }

            h3{
                font-size: 21px;
                line-height: 27px;
                font-weight: normal;
                color: #2D2C28;
                margin-bottom: 25px;
            }

            label p{
                padding-left: 0;
            }
        }
    }
</style>