<template>
    <div class="stats-general">
        <h1 class="title">
            {{lang.questionnaireStats.title}}
        </h1>
        <checkbox/>
        <router-link :to="{name: 'questionnaireStats.stop', params: {questionnaire_id}}">
            <button class="defaultBtn block stopBtn">{{lang.questionnaireStats.stopBtn}}</button>
        </router-link>
        <div class="stats-grid" v-if="stats">
            <div class="item inset-shadow">
                <h6>{{lang.questionnaireStats.generalStatsList.planned}}</h6>
                <span>{{stats.sent}}</span>
            </div>
            <div class="item inset-shadow" v-if="false">
                <h6>{{lang.questionnaireStats.generalStatsList.completed}}</h6>
                <span>{{stats.emails}}</span>
            </div>
            <copy v-if="url" :text="url" :label="lang.questionnaireStats.generalStatsList.copy"/>
        </div>
    </div>
</template>

<script>
    import checkbox from '../../components/elements/checkbox.vue'
    import {mapActions, mapState} from "vuex";
    import copy from '@/components/elements/_copy';

    export default {
        name: "questionnaireStats",
        components:{
            checkbox,
            copy
        },
        computed:{
            questionnaire_id(){
                return this.$route.params.questionnaire_id;
            },
            ...mapState('sharing', ['stats'])
        },
        methods: {
            ...mapActions('sharing', ['getStats'])
        },
        created() {
            if(this.stats && localStorage.getItem('stats_id') == this.campaign_id){
                return;
            }
            this.getStats({params: {
                    campaign_id: this.campaign_id
                }})
            .catch(()=>{
                localStorage.removeItem('stats_id');
                localStorage.removeItem('password');
                this.$router.push({
                    name: 'campaignStats.password',
                    params: {
                        campaign_id: this.campaign_id
                    }});
            });
        }
    }
</script>