<template>
    <div class="stats-personal">
        <h1 class="title">
            {{lang.questionnaireStats.title}}
        </h1>
        <checkbox :active="true"/>
        <router-link :to="{name: 'questionnaireStats.stop'}">
            <button class="defaultBtn block stopBtn">{{lang.questionnaireStats.stopBtn}}</button>
        </router-link>
        <div class="latterList" v-if="statsExtended">
            <div class="latter block" :class="{active: index === openLatterIndex}"
                 v-for="(recipient, index) of statsExtended.recipients" @click="openLatterIndex = index">
                <div class="latter-title">
                    <div class="title-left">
                        <div class="condition" :style="colorByCondition(recipient)"></div>
                        <h5 class="email">{{recipient.email}}</h5>
                    </div>
                </div>
                <div class="details">
                    <div class="name">
                        <h6>{{lang.campaignStats.personalStats.name}}</h6>
                        <span>{{recipient.name}}</span>
                    </div>
                    <div class="status">
                        <h6>{{lang.campaignStats.personalStats.status.title}}</h6>
                        <p v-if="recipient.sent_at">
                            <i>{{lang.campaignStats.personalStats.status.sent}}</i> — {{getDate(recipient.sent_at)}}
                        </p>
                        <p v-if="recipient.opened_at">
                            <i>{{lang.campaignStats.personalStats.status.opened}}</i> — {{getDate(recipient.opened_at)}}
                        </p>
                        <p v-if="recipient.clicked_at">
                            <i>{{lang.campaignStats.personalStats.status.followLink.date}}</i> — {{getDate(recipient.clicked_at)}}
                        </p>
                        <p v-if="!recipient.sent_at">
                            {{lang.campaignStats.personalStats.status.notSent}}
                        </p>
                    </div>
                    <div class="push">
                        <h6>{{lang.campaignStats.personalStats.push}}</h6>
                        <a class="underline_link" :href="getLink(recipient.push_id)">{{getLink(recipient.push_id)}}</a>
                    </div>
                    <div class="push">
                        <h6>{{lang.campaignStats.personalStats.target}}</h6>
                        <p>{{recipient.target | target}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment";
    import checkbox from '../../components/elements/checkbox.vue'
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Personal",
        components:{
            checkbox
        },
        data:()=>({
            openLatterIndex: false
        }),
        computed:{
            questionnaire_id(){
                return this.$route.params.questionnaire_id;
            },
            ...mapState('sharing', ['statsExtended'])
        },
        methods:{
            colorByCondition(recipient){
                let color;
                if(recipient.clicked_at) color = "#49D632";//Открыто
                else if(recipient.opened_at) color = "#F28C2F";//Прочитано
                else if(recipient.sent_at) color = "#2D2C28";//Доставлено
                else  color = "#2D2C28";//Не доставлено
                return {
                    backgroundColor: color
                }
            },
            getDate(date){
                return moment(date).calendar();
            },
            getLink(link_id){
                return this.$router.resolve({
                    name: 'push',
                    params: {
                        link_id
                    }
                }).href;
            },
            ...mapActions('sharing', ['getStatsExtended'])
        },
        filters: {
            target(v){
                if(v == 'y-food') return 'Я.Еда';
                else if(v == 'bip2ph') return 'BipToPhone';
            }
        },
        created() {
            if(this.stats && localStorage.getItem('stats_id') == this.campaign_id){
                return;
            }
            this.getStatsExtended({params: {
                    campaign_id: this.campaign_id
                }})
                .catch(()=>{
                    localStorage.removeItem('stats_id');
                    localStorage.removeItem('password');
                    this.$router.push({
                        name: 'campaignStats.password',
                        params: {
                            campaign_id: this.campaign_id
                        }});
                });
        }
    }
</script>