<template>
    <div class="new-push">
        <div class="formSection">
            <h1 class="title">{{lang.newPush.form.title}}</h1>
            <form action="#" @submit.prevent="step2">
                <label class="message double-column">
                    <p>{{lang.newPush.form.amount.label}} (BIP)</p>
                    <span class="double-row">
                        <input type="number" step="any" :placeholder="placeholder" autocomplete="off" v-model.number="amount">
                        <ratesSearch :active="coin" @change="coin = $event"/>
                    </span>
                </label>
                <label class="from">
                    <p>{{lang.newPush.form.from.label}}</p>
                    <input :placeholder="lang.newPush.form.from.placeholder" autocomplete="off" v-model="fromName" type="text">
                </label>
                <label class="recipient">
                    <p>{{lang.newPush.form.recipient.label}}</p>
                    <input :placeholder="lang.newPush.form.recipient.placeholder" autocomplete="off" v-model="name" type="text">
                </label>
                <label class="password">
                    <p>{{lang.newPush.form.password.label}}</p>
                    <div class="input">
                        <input :type="passwordShow?'text':'password'" autocomplete="off" :placeholder="lang.newPush.form.password.placeholder" v-model="password">
                        <img src="@/assets/icons/show.svg" v-if="!passwordShow" alt="show" @click="passwordShow = true">
                        <img src="@/assets/icons/hide.svg" v-if="passwordShow" alt="show" @click="passwordShow = false">
                    </div>
                </label>
                <div class="bottom-fixed">
                    <button class="defaultBtn block" type="submit">
                        {{lang.newPush.form.btnNext.text}}
                    </button>
                    <router-link tag="button" :to="customUrl" class="defaultBtn btnImg block" type="button">
                        <div class="decoration">
                            <div class="content">
                                <img src="@/assets/icons/custom.svg" alt="">
                            </div>
                        </div>
                    </router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
    import {getModel, localItemsHistory} from "@/utils/component";
    const model = getModel('walletSet', 'wallet');
    import ratesSearch from "@/components/elements/ratesSearch.vue";

    export default {
        name: "NewPush",
        data: ()=>({
            password: '',
            passwordShow: false
        }),
        components: {
            ratesSearch
        },
        beforeRouteEnter(to, from, next){
            next((vm)=>{
                if(from.name === "newPush.customizationSetting"){
                    if(localStorage.hasOwnProperty('password')) vm.password = localStorage.getItem('password');
                }
                else {
                    vm.walletClean();
                    vm.cleanCustomResult();
                    localStorage.removeItem('password');
                }
            });
        },
        watch: {
            password: {
                handler(v) {
                    localStorage.setItem('password', v);
                }
            }
        },
        computed: {
            fromName: model('sender'),
            name: model('recipient'),
            amount: model('amount'),
            coin: model('coin'),
            link_id(){
                return this.$route.params.link_id;
            },
            reSend(){
                return this.$route.meta.reSend;
            },
            fullAmount(){
                if(!this.walletBalance){
                    this.getWalletBalance({params: {
                        link_id: this.link_id
                    }});
                }
                else {
                    return parseFloat(this.walletBalance.balance.bip_value);
                }
            },
            placeholder(){
                if(this.reSend) return this.fullAmount+' max.';
                else return this.lang.newPush.form.amount.placeholder
            },
            customUrl(){
                if(this.$route.meta.recipients){
                    return {name: 'recipients.customizationSetting'};
                }
                else {
                    return {name: 'newPush.customizationSetting'};
                }
            },
            ...mapState('wallet', ['wallet', 'walletBalance']),
            ...mapState('custom', ['createCustomResult', 'isUsedCustom']),
            ...mapGetters('custom', ['customRealData']),
        },
        methods: {
            step2(){
                if(this.reSend) this.$router.push({name: 'push.send.resend.password'});
                else {
                    if(this.isUsedCustom) {
                        this.createCustom({data: this.customRealData})
                            .then(({data})=>this.createPushNew(data));
                    }
                    else this.createPushNew();
                }
            },
            createPushNew(customData){
                let data = Object.assign({}, this.wallet);
                if(this.isUsedCustom && customData) {
                    data.customization_setting_id = customData.id;
                }
                return this.pushCreate({data})
                    .then(({data})=>{
                        localItemsHistory.add('my-pushes', data);
                        this.cleanDataCustom();
                        this.$router.push({
                            name: 'newPush.created',
                            params: {
                                link_id: data.link_id
                            }});
                    });
            },
            ...mapActions('wallet', ['getWalletBalance', 'pushCreate']),
            ...mapMutations('wallet', ['walletSet', 'walletClean']),
            ...mapActions('custom', ['createCustom']),
            ...mapMutations('custom', ['cleanCustomResult', 'cleanDataCustom'])
        }
    }
</script>

<style lang="scss">
    .formSection{
        padding-bottom: 100px;
    }
    label{
        margin-bottom: 24px;
        &.message{
            margin-bottom: 28px;
        }
        p{
            padding-left: 24px;
            padding-bottom: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            color: $text_gray
        }
        display: block;
    }
    .forCoping{
        height: auto !important;

        box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
        border-radius: 18px;
        padding: 16px 42px 16px 24px;
        overflow-wrap: break-word;

        &::after{
            content: none;
        }
    }
    .copy{
        position: relative;
        img{
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .new-push {
        .formSection{
            padding-bottom: 50px;
        }
        label.password{
            .input{
                position: relative;

                img{
                    position: absolute;
                    right: 24px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }
        }
        .bottom-fixed{
            display: flex;

            button{
                width: 100%;
                flex-shrink: 2;

                &.btnImg{
                    width: 59px;
                    min-width: unset;
                    margin-left: 28px;
                    flex-shrink: 0;
                    padding: 4px;
                }
            }

            .decoration {
                position: relative;
                border-radius: 18px;
                height: 100%;
                background: linear-gradient(105deg, #007ADF, #00ECBC);

                .content{
                    position: relative;
                    z-index: 2;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    bottom: 4px;
                    left: 4px;
                    right: 4px;
                    background: #F4F3ED;
                    border-radius: 14px;

                }
            }
        }
    }
</style>