<template>
    <div class="password full-h">
        <h1 class="title">{{lang.newPush.password.title}}</h1>
        <form class="between" action="#" @submit.prevent="create">
            <label>
                <p>{{lang.newPush.password.passwordInput.label}}</p>
                <input class="block" :placeholder="lang.newPush.password.passwordInput.placeholder" type="password"
                       v-model="pass">
            </label>

            <button :style="btnNextImg" class="defaultBtn block skip btnAbs" type="submit" :class="{active: process}"
                    :disabled="process">
                {{btnNextText}}
            </button>
        </form>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapState} from "vuex";
    import imgNoPass from "@/assets/no_password.svg";
    import imgHavePass from "@/assets/have_password.svg";
    import {localItemsHistory} from "@/utils/component";

    export default {
        name: "password",
        data: () => ({
            process: false,
            pass: ''
        }),
        watch: {
            pass: {
                immediate: true,
                handler(v) {
                    localStorage.setItem('password', v);
                }
            }
        },
        computed: {
            link_id() {
                return this.$route.params.link_id;
            },
            reSend() {
                return this.$route.meta.reSend;
            },
            btnNextText() {
                return this.lang.newPush.password.btnNext[this.pass ? 'set' : 'skip']
            },
            btnNextImg() {
                const url = this.pass ? imgHavePass : imgNoPass;
                return {
                    "background-image": `url(${url})`
                }
            },
            ...mapState('wallet', ['wallet'])
        },
        methods: {
            create() {
                this.process = true;

                if (this.reSend) {
                    let data = {
                        option: 'resend',
                        params: {
                            ...this.wallet
                        }
                    };
                    if (this.pass) data.password = this.pass;
                    return this.getSpend({
                        params: {
                            link_id: this.link_id
                        },
                        data
                    }).then(({data}) => {
                        this.$router.push({
                            name: 'push.send.resend.share',
                            params: {
                                link_id: this.link_id
                            }
                        });
                    }).catch((e) => {
                        console.warn(e);
                        alert(e);
                    }).finally(() => this.process = false)
                }
                else {
                    this.$router.push({
                        name: 'newPush.customizationOffer',
                        params: {
                            link_id: this.link_id
                        }
                    });
                }
            },
            ...mapMutations('wallet', ['walletSet']),
            ...mapActions('spend', ['getSpend'])
        }
    }
</script>

<style lang="scss">
    .password {
        position: relative;
        padding-bottom: 100px;

        button.skip {
            background-position: 25px center;
            background-repeat: no-repeat;
        }
    }
</style>