<template>
    <div class="walletPreview">
        <wallet :link_id="false" :wallet-info="wallet" :balances="balances" :custom="dataCustomNormal"/>
        <animation :custom="dataCustomNormal"/>
        <button class="block defaultBtn btnBack" @click="$router.go(-1)">Go back</button>
    </div>
</template>

<script>
    import wallet from "@/components/wallet";
    import {mapGetters, mapState} from "vuex";
    import {getModel} from "@/utils/component";
    import animation from "@/components/animations/_animation";

    export default {
        name: "walletPreview",
        components: {
            wallet,
            animation
        },
        computed: {
            dataCustomNormal(){
                return {
                    logo_image_url: this.dataCustom.logo_image_id.url,
                    ...this.customRealData
                }
            },
            balances() {
                return {
                    coin: {
                        value: this.wallet.amount | 1500,
                        currency: 'bip'
                    },
                    usd: 15,
                    local: {
                        value: 1750,
                        currency: 'rub'
                    }
                }
            },
            ...mapGetters('custom', ['customRealData']),
            ...mapState('custom', ['dataCustom']),
            ...mapState('wallet', ['wallet'])
        },
        created(){
            if(this.dataCustomNormal && this.dataCustomNormal.background_name) {
                document.body.className = 'theme-preview theme-' + this.dataCustomNormal.background_name;
            }
        },
        destroyed(){
            document.body.className = '';
        }
    }
</script>

<style lang="scss">
    .walletPreview{
        padding: 8px;
        .walletBlock{
            pointer-events: none;
        }
        .btnBack{
            margin-top: 100px;
        }
    }
</style>