<template>
    <div class="how-to-use-section">
        <div class="title">
            <backward/>
            <h1 class="title">{{lang.aboutMerchant.title}}</h1>
        </div>
        <ol>
            <li v-for="item of lang.aboutMerchant.list">{{item}}</li>
        </ol>
        <p>{{lang.aboutMerchant.about}}</p>
    </div>
</template>

<script>

    import backward from "@/components/elements/_backward";

    export default {
        name: "AboutMerchant",
        components: {
            backward
        },
    }
</script>