<template>
    <div class="how-to-use-section">
        <div class="title">
            <backward/>
            <h1 class="title">{{lang.about.title}}</h1>
        </div>
        <ol>
            <li v-for="item of lang.about.list">{{item}}</li>
        </ol>
        <p>{{lang.about.about}}</p>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";
    export default {
        name: "About",
        components: {
            backward
        },
    }
</script>