<template>
    <div class="index-page full-h" :class="{large: deeplinkHref && sum, deeplinkOpened}">
        <div>
            <h1 class="title">
                <span>{{lang.index.title.mainText}}</span>
                <span class="name">
                <span>{{lang.index.title.name}}&nbsp;</span>
                 <span class="version">{{lang.index.version}}</span>
            </span>

            </h1>
            <p>{{lang.index.mainText}}</p>
        </div>

        <div class="routers">
            <router-link :to="{name: 'newPush'}">
                <button class="defaultBtn block">{{lang.index.routers.sendMoney}}</button>
            </router-link>
            <div class="or">{{lang.index.routers.or}}</div>
            <button class="defaultBtn block" @click.prevent="createEmpty">{{lang.index.routers.createEmpty}}</button>
            <!--  <router-link :to="{name: 'dashboard'}">
                 <button class="defaultBtn block recipients">{{lang.index.routers.business}}</button>
             </router-link>
            <router-link :to="{name: 'questionnaire'}">
                 <button class="defaultBtn block recipients">{{lang.index.routers.questionnaire}}</button>
             </router-link>-->
        </div>
        <div class="fast-send bottom-fixed">
            <div class="title-send">
                <span>{{lang.index.fastSend.title}}</span>
            </div>
            <div class="form" v-if="!deeplinkOpened">
                <input type="number" :placeholder="lang.index.fastSend.placeholder" v-model.number="sum" @focus="createWalletFocus">
                <ratesSearch :active="fastSendRate" @change="fastSendRate = $event"/>
            </div>
            <a :href="deeplinkHref" v-if="deeplinkHref && sum && !deeplinkOpened" target="_blank" @click="deeplinkOpened = true">
                <button class="defaultBtn block deeplink">
                    <span>{{lang.newPush.paying.deeplinkBtn.text}}</span>
                    <span class="value">{{sum | amount}} {{fastSendRate}}</span>
                </button>
            </a>
            <p v-if="deeplinkOpened" class="waiting">{{lang.newPush.paying.waiting.text}}</p>
        </div>
        <await-anim v-if="deeplinkOpened"/>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import ratesSearch from "@/components/elements/ratesSearch.vue";
    import awaitAnim from "@/components/animAwait";
    import {localItemsHistory} from "@/utils/component";


    export default {
        name: 'Index',
        data: ()=>({
            fastSendRate: 'BIP',
            sum: null,
            timer: false,
            deeplinkOpened: false
        }),
        components: {
            ratesSearch,
            awaitAnim
        },
        watch: {
            sum(){
                this.updateDeeplink();
            },
            fastSendRate(){
                this.updateDeeplink();
            },
            wallet(){
                this.updateDeeplink();
            }
        },
        computed: {
            deeplinkHref(){
                if(this.deeplink){
                    if(this.isPC) return this.deeplink.web;
                    else return this.deeplink.mobile;
                }
            },
            ...mapGetters(['isPC']),
            ...mapState('main', ['wallet', 'deeplink', 'pending'])
        },
        methods: {
            updateDeeplink(){
                if(this.wallet && this.sum){
                    this.getDeeplink({params: {
                            address: this.wallet.address,
                            amount: this.sum,
                            coin: this.fastSendRate
                        }});
                }
            },
            createWalletFocus(){
                if(!this.wallet && !this.pending.wallet){
                    this.createWallet().then(()=>{
                        this.updateInfo();
                    });
                }
            },
            updateInfo(){
                this.getWalletBalance({params: {
                        link_id: this.wallet.link_id
                    }})
                    .then(({data})=>{
                        if(data.balance.value > 0) {
                            localItemsHistory.add('my-pushes', this.wallet);
                            this.$router.push({
                                name: 'newPush.share',
                                params: {
                                    link_id: this.wallet.link_id
                                }
                            })
                        }
                        else this.setTimer();
                    })
                    .catch((e)=>{
                        console.warn(e);
                        this.setTimer();
                    });
            },
            setTimer(){
                if(this.timer) clearTimeout(this.timer);
                this.timer = setTimeout(() => {
                    this.timer = false;
                    this.updateInfo();
                }, 5000);
            },
            createEmpty(){
                this.pushCreate().then(({data})=>{
                    localItemsHistory.add('my-pushes', data);
                    this.$router.push({
                        name: 'push',
                        params: {
                            link_id: data.link_id
                        }});
                });
            },
            ...mapActions('main', ['createWallet', 'getDeeplink']),
            ...mapActions('wallet', ['getWalletBalance', 'pushCreate'])
        }
    }
</script>

<style lang="scss">
    .index-page {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding-bottom: 200px;
        z-index: 2;

        &.deeplinkOpened{
            z-index: 0;
        }

        .bottom-fixed{
            bottom: 25px;
            @include PC(){
                bottom: 50px;
            }
        }

        .waiting{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: $black;
            margin-top: 75px;
            margin-bottom: -25px;
        }

        svg.await{
            position: fixed;
            z-index: -1;
        }

        &.large{
            padding-bottom: 300px;
        }

        div.title {
            justify-content: center;

            h1.title {
                margin-bottom: 20px;

                .version {
                    display: inline-block;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    transform: translateY(-15px);
                }

                .name {
                    padding-left: 5px;

                }
            }
        }
        p {
            margin-bottom: 20px;
        }
        .routers{
            .or{
                text-align: center;
                font-size: 16px;
                line-height: 21px;
                margin: 24px 0;
                color: $text_disabled;
            }
            .recipients{
                margin-top: 32px !important;
            }
        }
        .fast-send{
            width: 100%;

            &:not(.large){
                margin-top: -100px;
            }
            .title-send{
                display: flex;
                align-items: center;
                position: relative;
                margin-bottom: 16px;
                margin-top: 30px;
                text-align: center;

                &::after, &::before{
                    content: '';
                    width: 50%;
                    margin-bottom: -1px;
                    border-bottom: 1px solid #C4C4C4;
                }
                span{
                    position: relative;
                    z-index: 2;
                    font-size: 16px;
                    color: #C4C4C4;
                    line-height: 1;
                    padding: 0 11px;
                    white-space: nowrap;
                    flex-shrink: 0;
                }
            }
            .form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 16px;

                input, select{
                    min-width: 100%;
                }
            }
            .deeplink{
                width: 100%;
                margin-top: 24px;
            }
        }
        @media (max-height: 640px) and (max-width: $tablet_w){
            h1.title {
                margin-bottom: 0 !important;
            }
        }
       @include tablet {
           text-align: left;
           justify-content: center;

           .routers{
               margin-top: 80px;
           }
       }
        @include PC {

            .fast-send {
                width: 50%;
                .deeplink{
                    display: flex;
                    max-width: unset;
                    width: auto;
                    span{
                        width: auto;
                        min-width: 50%;
                        flex-shrink: 0;
                        &.value{
                            padding: 0 10px;
                        }
                    }
                }
                .search-output-list{
                    max-height: 150px;
                }
            }
        }
    }
</style>
