<template>
    <div class="send">
        <div>
            <div class="title">
                <backward/>
                <h1 class="title">{{name}}</h1>
            </div>
            <form v-if="transfer">
                <label v-for="input in transfer.inputs">
                    <div :class="{input: input.type === 'amount'}">
                        <input :type="getTypeInput(input.type)" step="any" v-model="fields[input.param_name]" :placeholder="getPlaceholder(input)" :autocomplete="getAutoComplete(input.type)">
                        <a class="action" @click="fullAmount" v-if="input.type === 'amount'" :class="{active: isFullAmount}">{{lang.send.lack}}</a>
                        <a class="action ignore-center right-item" @click="setLastWallet" v-if="input.suggest_last && lastWallet" :class="{active: isLastWallet}">
                            {{lang.send[isLastWallet ? 'lastWalletUsed' : 'lastWallet']}} {{lastWallet}}
                        </a>
                    </div>
                </label>
            </form>
        </div>
        <div class="bottom">
            <p class="error" v-if="error">{{error}}</p>
            <btn-send class="btnAbs" :sending="process || pending.spend" v-if="formFill" @send="send">
                <template v-slot:next>{{lang.send.sendBtn.fill}}</template>
                <template v-slot:amount>{{amount | amount}}</template>
                <template v-slot:wait>{{lang.send.sendBtn.wait}}</template>
            </btn-send>
            <button class="defaultBtn block btnAbs" v-else disabled>{{lang.send.sendBtn.unfill}}</button>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import {NanToNull} from "@/utils/global";
    import backward from "../../components/elements/_backward"
    import btnSend from "@/components/elements/btn_send.vue"
    import certificate from "@/mixins/certificate.mix";


    export default {
        name: "Send",
        mixins: [certificate],
        components:{
            backward,
            btnSend
        },
        data: () => ({
            process: false,
            error: false,
            fields: {
                amount: null,
                phone: '',
                email: ''
            }
        }),
        computed: {
            link_id(){
                return this.$route.params.link_id;
            },
            shop(){
                if(this.shops) return this.shops[this.shopId];
            },
            name(){
              if(this.shop) return this.shop.title[this.selectedLanguage];
            },
            amount: {
              get(){
                  return this.fields.amount || false;
              },
                set(v){
                    this.fields.amount = v;
                }
            },
            formFill(){
                if(!this.transfer) return false;
                return this.transfer.inputs.every(({param_name})=>this.fields[param_name]);
            },
            walletKey(){
                return 'transfer-wallet-'+this.shopId;
            },
            lastWallet(){
                return localStorage.getItem(this.walletKey);
            },
            fieldWalletName(){
                if(!this.transfer) return;
                return this.transfer.inputs.find(input=>input.suggest_last);
            },
            isLastWallet(){
                if(this.fieldWalletName){
                    return this.fields[this.fieldWalletName.param_name] === this.lastWallet;
                }
            },
            amountMax(){
                return this.$route.meta.amountMax;
            },
            isFullAmount(){
                if(this.walletBalance) {
                    return this.amount === this.walletBalance.balance.bip_value;
                }
            },
            ...mapState('transfers', ['shops']),
            ...mapState('spend', ['spend', 'pending']),
            ...mapState('wallet', ['walletBalance']),
            ...mapState(['selectedLanguage']),
        },
        methods: {
            getPlaceholder({placeholder}){
                if(!placeholder) return;
                else if(typeof placeholder === 'string') return placeholder;
                else return placeholder[this.selectedLanguage];
            },
            fullAmount(){
                if(this.walletBalance){
                    this.amount = parseFloat(this.walletBalance.balance.bip_value);
                }
            },
            setLastWallet(){
                if(this.fieldWalletName){
                    this.fields[this.fieldWalletName.param_name] = this.lastWallet;
                }
            },
            getAutoComplete(type){
                if(type === 'phone') return 'tel';
                else if(type === 'email') return 'email';
                else return false;
            },
            getTypeInput(type){
                if(type === 'email') return 'email';
                else if(type === 'phone') return 'tel';
                else if(type === 'amount') return 'number';
                else return 'text';
            },
            send(){
                if(this.process) return;
                this.process = true;
                this.error = false;
                var fields = this.transfer.inputs.reduce((tmp, {param_name, suggest_last})=>{
                    if(suggest_last) localStorage.setItem(this.walletKey, this.fields[param_name]);
                    tmp[param_name] = this.fields[param_name];
                    return tmp;
                }, {});
                this.getSpend({
                        params: {
                            link_id: this.link_id
                        },
                        data: {
                            option: this.shopId,
                            params: fields
                        }
                    })
                    .then(()=>{
                        this.$router.push({
                            name: 'push.successfully',
                            params: {
                                link_id: this.link_id
                            }});
                    })
                    .catch((err)=>{
                        console.warn(err);
                        this.error = err;
                    })
                    .finally(()=>{
                        this.process = false;
                    })
            },
            ...mapActions('wallet', ['getWalletBalance']),
            ...mapActions('spend', ['getSpend'])
        },
        filters: {
            wallet(v){
                if(v && v.length > 14){
                    return `${v.slice(0, 8)}...${v.slice(-5)}`;
                }
                else return v;
            }
        }
    }
</script>