<template>
    <svg class="await" width="100%" height="300">
        <circle r="0" opacity="0" cx="50%" cy="110%" fill="#CA1D21"></circle>
    </svg>
</template>

<script>
    export default {
        name: "animAwait"
    }
</script>

<style lang="scss">
    svg.await{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        circle{
            animation: waiting 2500ms infinite ease;
        }
    }
    @keyframes waiting {
        from{
            r: 0;
        }
        15%{
            r: 0;
        }
        65%{
            opacity: 1;
        }
        to{
            r: 300;
            opacity: 0;
        }
    }
</style>