<template>
    <footer>
        <p>{{lang.footer.text}}</p>
        <nav>
            <div class="lang">
                <a :class="{selected: selectedLanguage === 'en'}" @click="selectLang('en')">English</a>
                <span class="dash">/</span>
                <a :class="{selected: selectedLanguage === 'ru'}" @click="selectLang('ru')">Русский</a>
            </div>
            <router-link :to="{name: 'about'}">{{lang.nav.about}}</router-link>
            <a href="https://telega.one/yyychat" target="_blank">{{lang.nav.support}}</a>
        </nav>
    </footer>
</template>

<script>
    import {mapMutations, mapState} from "vuex";

    export default {
        name: "footerComp",
        computed:{
            ...mapState(['languagesList', 'selectedLanguage']),

        },
        methods:{
            selectLang(lang){
                this.selectLanguage(lang);
            },
            ...mapMutations(['selectLanguage'])
        },
    }
</script>

<style lang="scss">
    footer{
        position: relative;
        
        width: 100%;
        padding: 32px 0;
        flex-shrink: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        opacity: 0.5;
        * {
            color: black;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            margin-bottom: 0;
        }
        .lang {
            .dash{
                padding: 0 5px;
            }
            .selected{
                color: #7F7F7F;
            }
        }
        nav{
            display: flex;
            align-items: center;
            a:not(.selected){
                text-decoration-line: underline !important;
            }

            &>*{
                margin-left: 16px;
            }
        }
        @media (max-height: 600px){
            padding-bottom: 10px;
        }
        @include mobile{
            padding-bottom: 0;
            justify-content: center;
            text-align: center;
            nav{
                display: none;
            }
        }
    }
</style>