<template>
    <div class="header">
        <router-link :to="indexLink">
            <img src="@/assets/cash_logo.svg" alt="logo" class="logoHeader">
        </router-link>
        <div class="menu">
            <router-link :to="{name: 'newPush'}">{{lang.nav.newPush}}</router-link>
            <router-link :to="{name: 'pushes'}">{{lang.nav.myPush}}</router-link>
            <router-link :to="{name: 'campaigns.dashboard'}">{{lang.nav.dashboard}}</router-link>

            <!--<router-link class="login-btn" :to="{name: 'login'}" v-if="true">
                {{lang.nav.login}}
            </router-link>

            <template v-else>
                <router-link :to="{name: 'dashboard'}">{{lang.nav.dashboard}}</router-link>
                <router-link :to="{name: 'profile'}">
                    <div class="avatar-cover"></div>
                </router-link>

            </template>-->

            <!--<img src="@/assets/menu_tablet.svg" class="modal-open-tablet" alt="menu"@click="openModal">-->
        </div>
        <button @click="openModal" class="modal-open"></button>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapState} from "vuex";
    import {getUrlHome} from "@/utils/component";

    export default {
        name: "headerComp",
        computed: {
            indexLink(){
                return getUrlHome(this.$route);
            },
            ...mapGetters(['lang']),
        },
        methods:{
            ...mapMutations(['openModal', 'selectLanguage'])
        },
        filters: {
        }
    }
</script>

<style lang="scss">
    .header{
        height: 52px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 -24px;
        padding-left: 24px;
        margin-bottom: 16px;
        flex-shrink: 0;

        .logoHeader{
            height: 31px;
            margin-bottom: 5px;
        }

        .avatar-cover{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            overflow: hidden;
            background-image: url('~@/assets/QR_code.png');

            background-size: cover;
            background-position: center;
        }
        .modal-open{
            height: 100%;
            width: 80px;
            border-radius: 0 0 0 20px;
            background-color: $black;
            background-image: url("../assets/modal_open.svg");
            background-position: center;
            background-repeat: no-repeat;
        }

        .menu{
            display: none;
        }

        @include tablet{
            height: 72px;
            padding: 0;
            margin: 0 0 32px;
            align-items: center;


            .logoHeader{
                margin-bottom: 0;
            }

            .menu{
                display: flex;
                align-items: center;
                height: 100%;
                //min-width: 420px;
                padding-left: 12px;
                margin-left: 28px;
                position: relative;

                border-radius: 0 0 0 20px;
                background-color: $black;
                padding-right: 37px;

                a{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 23px;
                    text-align: right;
                    text-decoration-line: underline;
                    color: $white;

                    padding: 0 12px;

                    &.pc{
                        display: none;
                    }
                }
                .lang{
                    display: none;
                }
                .modal-open-tablet{
                    position: absolute;
                    right: 0;
                }

                &::after{
                    content: '';
                    position: absolute;
                    left: 100%;
                    height: 100%;
                    width: 50vw;
                    background-color: $black;
                }
            }
            .modal-open{
                display: none;
            }

        }

        @include PC{
            .logoHeader{
                height: 33px;
            }
            .menu {
                padding-right: 0;
                .lang{
                    display: flex;
                    padding-left: 5px;
                    span{
                        color: #7F7F7F;
                        padding: 0 3px;
                    }
                    a{
                        padding: 0;


                    }
                }
                a.pc{
                    display: inline;
                }
                .modal-open-tablet{
                    display: none;
                }
            }
        }
    }
    .login-btn{
        display: inline-block;
        padding: 8px 18px !important;
        background: none;
        border: 1.5px solid #FFFFFF;
        border-radius: 100px;
        margin-left: 4px;
        text-decoration-line: none !important;
    }
</style>