<template>
    <div class="walletBlock">
        <img v-if="customImg" :src="customImg" alt="custom img" class="img-custom">
        <h3 v-html="title"></h3>
        <h2>{{balances.coin.value}} {{balances.coin.currency}}</h2>
        <p class="money">{{balances.usd}} USD | {{balances.local.value}} {{balances.local.currency}}</p>
        <router-link :to="getRoute(transfer)" v-if="transfer">
            <div class="block transferBlock" :class="[{disabled: transfer.disabled}]">
                <div class="icon" :style="styleIcon(transfer)"></div>
                <div class="name">{{getName(transfer)}}</div>
            </div>
        </router-link>
        <router-link :to="{name: 'push.search', params: {link_id}}">
            <input type="text" v-model="search" class="search" :placeholder="lang.owned.search.placeholder">
        </router-link>
        <div class="transfersList">
            <h4>{{lang.owned.popularTrans.titlePopular}}</h4>
            <div class="grid">
                <a href="#" @click.prevent="resend" v-if="isShowResend">
                    <div class="transfer resend">
                        <div class="icon"></div>
                        <div class="name">{{lang.owned.popularTrans.list.resend}}</div>
                    </div>
                </a>
                <router-link :to="{name: 'push.send.transfer', params: {link_id}}" v-if="isShowTransferMinter">
                    <div class="transfer wallet">
                        <div class="icon"></div>
                        <div class="name">{{lang.owned.popularTrans.list.wallet}}</div>
                    </div>
                </router-link>
                <router-link :to="getShopUrl(shop)"
                             v-for="shop in shopsPopular" :key="shop.id">
                    <div class="transfer shop" :class="[shop.category]">
                        <div class="icon" :style="getStyleIcon(shop)"></div>
                        <div class="name">{{shop.title[selectedLanguage]}}</div>
                    </div>
                </router-link>
            </div>
            <h4>{{lang.owned.popularTrans.title}}</h4>
            <div class="grid">
                <router-link :to="{name: 'push.category', params: {link_id, category: id}}"
                             v-for="(cat, id) in categories" :key="id">
                    <div class="transfer">
                        <div class="icon" :style="getStyleIcon(cat)"></div>
                        <div class="name">{{cat.title[selectedLanguage]}}</div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from "vuex";

    export default {
        name: "wallet",
        props: ['walletInfo', 'balances', 'link_id', 'custom'],
        data: () => ({
            search: ''
        }),
        computed: {
            title() {
                if (this.custom && this.custom.head_text) return this.custom.head_text;
                const i = this.walletInfo;
                const lang = this.lang.owned;
                if (i) {
                    let title;
                    if (i.sender && i.recipient) title = lang['title_full'];
                    else if (i.sender) title = lang['title_sender'];
                    else if (i.recipient) title = lang['title_recipient'];
                    else return title = lang['title'];
                    return title.replace('{sender}', i.sender).replace('{recipient}', i.recipient);
                }
            },
            customImg() {
                if (this.custom && this.custom.logo_image_url) return this.custom.logo_image_url;
            },
            transfer(){
                if(this.custom && this.custom.target_shop){
                    return this.transferById(this.custom.target_shop);
                }
            },
            isShowResend(){
               return Array.isArray(this.shops_top) && this.shops_top.includes('resend');
            },
            isShowTransferMinter(){
               return Array.isArray(this.shops_top) && this.shops_top.includes('transfer-minter');
            },
            shopsPopular(){
                if(!this.shops) return [];
                return this.shops_top.reduce((arr, id)=>{
                    const transfer = this.transferById(id);
                    if(transfer) {
                        arr.push({
                            ...transfer.shop,
                            category: transfer.category.id
                        });
                    }
                    else {
                        //console.warn(transfer, id);
                    }
                    return arr;
                }, []);
            },
            ...mapState(['selectedLanguage']),
            ...mapGetters('transfers', ['transferById', 'getCategory']),
            ...mapState('transfers', ['categories', 'shops', 'shops_top']),
            ...mapState(['selectedLanguage']),
        },
        methods: {
            resend() {
                let routeData = this.$router.resolve({
                    name: 'push.send.resend', params: {
                        link_id: this.link_id
                    }
                });
                window.open(routeData.href, '_blank');
            },
            getId({id}) {
                if (Array.isArray(id)) return id.join(',');
                else return id;
            },
            getStyleIcon(category) {
                return {
                    'background-color': category.color,
                    'background-image': `url('${category.icon_fav || category.icon}')`
                };
            },
            getShopUrl(shop) {
                let page = 'certificate';
                if(shop.id === 'biptophone') page = 'mobile';
                else if(isNaN(parseInt(shop.id))) page = 'shop';
                return {
                    name: `push.send.${page}`,
                    params: {
                        link_id: this.link_id,
                        category: shop.category,
                        transfer: shop.id
                    }
                }
            },
            styleIcon({category}){
                return this.getStyleIcon(category);
            },
            getName({shop}){
              return shop.title[this.selectedLanguage];
            },
            getCategoryId(id){
                if(Array.isArray(id)) return id.join(',');
                else return id;
            },
            getRoute({category, shop}){
                if(shop.disabled) return '';
                return {
                    name: shop.link || 'push.send.certificate',
                    params: {
                        link_id: this.link_id,
                        category: category.id,
                        transfer: shop.id
                    }
                }
            },
        }
    }
</script>

<style lang="scss">
    .walletBlock {
        text-align: center;

        .img-custom {
            max-width: 300px;
            max-height: 100px;
            margin-bottom: 16px;
        }

        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 8px;
        }

        h2 {
            font-weight: 600;
            font-size: 40px;
            line-height: 52px;
            color: $text_gray;
            margin-bottom: 8px;
        }

        p.money {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: $text_gray;
            opacity: 0.5;
            margin-bottom: 40px;
        }

        .transfersList {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                opacity: 0.25;
                margin-bottom: 24px;
            }

            .grid {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(3, 100px);
                grid-gap: 14px;
                margin-bottom: 32px;

                .transfer {
                    cursor: pointer;
                    height: 100px;
                    border-radius: 18px;
                    overflow: hidden;
                    background: #F4F3ED;
                    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1);

                    .icon {
                        height: 55%;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &.shop:not(.mobile) .icon{
                        background-size: contain;
                    }

                    .name {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 95%;
                        color: $text_gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 45%;
                        padding: 0 4px;
                        word-break: break-word;
                    }

                    &.disabled {
                        filter: grayscale(100%);
                        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.2), 15px 15px 25px rgba(0, 0, 0, 0.05);

                        .name {
                            opacity: 0.6;
                        }

                        .icon {
                            background-color: #4B9DCB !important;
                        }
                    }

                    // popular
                    &.wallet .icon {
                        background-color: #FBA35A;
                        background-image: url("~@/assets/icons/wallet.svg");
                    }

                    &.timeloop .icon {
                        background-color: #320F37;
                        background-image: url("~@/assets/icons/timeloop.svg");
                    }

                    &.phone .icon {
                        background-color: #37077E;
                        background-image: url("~@/assets/icons/phone.svg");
                    }

                    // another
                    &.money .icon {
                        background-color: #712DA7;
                        background-image: url("~@/assets/icons/money.svg");
                    }

                    &.delivery .icon {
                        background-color: #4B9DCB;
                        background-image: url("~@/assets/icons/delivery.svg");
                    }

                    &.fun .icon {
                        background-color: #FBA35A;
                        background-image: url("~@/assets/icons/fun.svg");
                    }

                    &.charity .icon {
                        background-color: #E76591;
                        background-image: url("~@/assets/icons/charity.svg");
                    }

                    &.tv .icon {
                        background-color: #5BC553;
                        background-image: url("~@/assets/icons/tv.svg");
                    }

                    &.etc .icon {
                        background-color: #5965EF;
                        background-image: url("~@/assets/icons/etc.svg");
                    }

                    &.resend .icon {
                        background-color: #CA1D21;
                        background-image: url("~@/assets/icons/resend.svg");
                    }

                }

                @include tablet {
                    grid-template-columns: repeat(6, 100px);
                    grid-gap: 16px;
                }
            }
        }

        @include tablet {
            h2 {
                margin-bottom: 8px;
            }
            p.money {
                margin-bottom: 24px;
            }
        }
    }
</style>