<template>
    <div class="customization-offer">
        <h1 class="title">
            {{lang.customization.offer.title}}
        </h1>
        <p class="errorBlock" v-if="error.sharingCreateResult">{{error.sharingCreateResult}}</p>
        <p class="errorBlock" v-if="errorWallet.pushCreateResult">{{errorWallet.pushCreateResult}}</p>
        <div class="bottom-fixed">
            <router-link :to="customUrl">
                <button class="defaultBtn block confirm">
                    <div class="decoration">
                        <div class="text">{{lang.customization.offer.confirm}}</div>
                    </div>
                </button>
            </router-link>
            <button class="defaultBtn block" @click.prevent="next" :disabled="loading">
                {{lang.customization.offer.skip}}
            </button>
        </div>
    </div>
</template>

<script>
    import {localItemsHistory} from "@/utils/component";
    import {mapActions, mapGetters, mapMutations, mapState} from "vuex";

    export default {
        name: "CustomizationOffer",
        computed: {
            loading(){
                return this.pending.sharingCreateResult || this.pendingWallet.pushCreateResult;
            },
            customUrl(){
                if(this.$route.meta.recipients){
                    return {name: 'recipients.customizationSetting'};
                }
                else {
                    return {name: 'newPush.customizationSetting'};
                }
            },
            ...mapGetters('sharing', ['dataCreate']),
            ...mapState('wallet', ['wallet']),
            ...mapState('wallet', {pendingWallet: 'pending', errorWallet: 'error'}),
            ...mapState('sharing', ['sharingCreateResult', 'pending', 'error'])

        },
        methods: {
            next() {
                if (this.$route.meta.recipients) {
                    this.sharingCreate({data: this.dataCreate})
                        .then(({data})=>{
                            this.recipientDataClean();
                            localItemsHistory.add('my-sharings', data);
                            this.$router.push({
                                name: 'recipients.created',
                                params: {
                                    campaign_id: this.sharingCreateResult.campaign_id
                                }
                            });
                        });
                } else {
                    this.pushCreate({data: this.wallet}).then(({data}) => {
                        localItemsHistory.add('my-pushes', data);
                        this.$router.push({
                            name: 'newPush.created',
                            params: {
                                link_id: data.link_id
                            }
                        });
                    });
                }

            },
            ...mapMutations('sharing', ['recipientDataClean']),
            ...mapActions('wallet', ['pushCreate']),
            ...mapActions('sharing', ['sharingCreate']),
        }
    }
</script>

<style lang="scss">
    .customization-offer {
        padding-bottom: 225px;

        button.confirm {
            position: relative;
            margin-bottom: 24px;
            padding: 4px;

            .decoration {
                position: relative;
                border-radius: 18px;
                height: 100%;
                background: linear-gradient(105deg, #007ADF, #00ECBC);

                .text {
                    position: relative;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    bottom: 4px;
                    left: 4px;
                    right: 4px;
                    background: white;
                    border-radius: 14px;

                }
            }
        }
    }
</style>