<template>
    <div class="customization-setting">
        <h1 class="title" v-if="showEmail">
            {{lang.customization.setting.title}}
        </h1>
        <div class="push item">
            <h2>
                {{lang.customization.setting.push.title}}
            </h2>
            <form action="#" class="customization-setting-main">
                <inputFile :label="lang.customization.setting.push.picture.label" :haveImg="!!logo_image_id.url" @inputImg="SetPushImg"/>
                <label>
                    <p>{{lang.customization.setting.push.header.label}}</p>
                    <input type="text" v-model="head_text" :placeholder="lang.customization.setting.push.header.placeholder">
                </label>
                <label class="label-colors">
                    <p>{{lang.customization.setting.push.background.label}}</p>
                    <div class="color-list">
                        <label>
                            <div class="color block circleRadio" :class="{'inset-shadow': activeBgLinearIndex === false}" @click="activeBgLinearIndex = false">
                                <div class="indicator empty"></div>
                            </div>
                            <span>{{lang.customization.setting.push.background.noCustom}}</span>
                        </label>
                    </div>
                    <div class="color-list">
                        <div class="color block circleRadio" :class="{'inset-shadow': activeBgLinearIndex === index}" @click="activeBgLinearIndex = index"
                             v-for="(color, index) of bgLinearList" :title="color.name">
                            <div class="indicator" :style="bgLinear(color)"></div>
                        </div>
                    </div>
                </label>
                <label class="label-animations">
                    <p>{{lang.customization.setting.push.animation.label}}</p>
                    <div class="animation-list">
                        <div class="animation" @click="activeAnimationIndex = index"
                             v-for="(animation, index) of animationsList">
                            <div class="circleRadio block">
                                <div class="indicator" :class="{active: activeAnimationIndex === index}"></div>
                            </div>
                            <span>{{animation.name}}</span>
                        </div>
                    </div>
                </label>
                <label class="label-anim-text">
                    <div v-if="showAnimText">
                        <p>{{lang.customization.setting.push.afterAnimation.label}}</p>
                        <textarea type="text" v-model="animation_text" :placeholder="lang.customization.setting.push.afterAnimation.placeholder"></textarea>
                    </div>
                </label>
                <inputSearchShop @change="target_shop = $event" :active="target_shop"/>
            </form>
        </div>
        <div class="email item" v-if="showEmail">
            <h2>
                {{lang.customization.setting.email.title}}
            </h2>
            <form action="#">
                <inputFile :label="lang.customization.setting.email.picture.label" :haveImg="!!email_image_id.url" @inputImg="SetEmailImg"/>
                <label>
                    <p>{{lang.customization.setting.email.subject.label}}</p>
                    <input type="text" v-model="email_subject_text" :placeholder="lang.customization.setting.email.subject.placeholder">
                </label>
                <label>
                    <p>{{lang.customization.setting.email.header.label}}</p>
                    <input type="text" v-model="email_head_text" :placeholder="lang.customization.setting.email.header.placeholder">
                </label>
                <label class="order-last">
                    <p>{{lang.customization.setting.email.underPicture.label}}</p>
                    <textarea type="text" v-model="email_body_text" :placeholder="lang.customization.setting.email.underPicture.placeholder"></textarea>
                </label>
                <label>
                    <p>{{lang.customization.setting.email.button.label}}</p>
                    <input type="text" v-model="email_button_text" :placeholder="lang.customization.setting.email.button.placeholder">
                </label>
            </form>
            <a href="#" class="example-email underline_link">
                <p>{{lang.customization.setting.email.exampleEmail}}</p>
            </a>
        </div>
        <div class="buttons">
            <router-link :to="{name: nameRoute+'.preview'}">
                <button class="defaultBtn block" :disabled="loading">
                    {{lang.customization.setting.previewBtn}}
                </button>
            </router-link>
            <button class="defaultBtn block doneBtn" @click.prevent="next" :disabled="loading">
                {{lang.customization.setting.doneBtn}}
            </button>
        </div>
        <p class="errorBlock" v-if="error.createCustomResult">{{error.createCustomResult}}</p>
        <p class="errorBlock" v-if="errorWallet.pushCreateResult">{{errorWallet.pushCreateResult}}</p>
    </div>
</template>

<script>
    import inputFile from './elements/inputFile.vue'
    import {localItemsHistory, getModel} from "@/utils/component";
    import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
    import inputSearchShop from './elements/inputSearchShop.vue'
    const model = getModel('setDataCustom', 'dataCustom');


    export default {
        name: "CustomizationSetting",
        components:{
            inputFile,
            inputSearchShop
        },
        data: () => ({
            bgLinearList: [
                {
                    name: 'purple',
                    colors: [
                        "#30CFD0",
                        "#330867",
                    ],
                    degree: 180,
                },
                {
                    name: 'beige',
                    colors: [
                        "#D299C2",
                        "#FEF9D7",
                    ],
                    degree: 165,
                },
                {
                    name: 'pink',
                    colors: [
                        "#B465DA",
                        "#CF6CC9",
                        "#EE609C",
                        "#EE609C",
                    ],
                    degree: 165
                },
                {
                    name: 'blue',
                    colors: [
                        "#6A11CB",
                        "#2575FC",
                    ],
                    degree: 180
                },
                {
                    name: 'green',
                    colors: [
                        "#0BA360",
                        "#3CBA92",
                    ],
                    degree: 165
                },
                {
                    name: 'black',
                    colors: [
                        "#434343",
                        "#000000",
                    ],
                    degree: 165
                },
            ],
        }),
        watch: {
            activeBgLinearIndex(activeBgLinearIndex){
              this.background_name = this.bgLinearList[activeBgLinearIndex].name;
            },
            activeAnimationIndex(activeAnimationIndex){
              this.animation_name = activeAnimationIndex;
            },
        },
        computed: {
            activeBgLinearIndex: model('activeBgLinearIndex'),
            activeAnimationIndex: model('activeAnimationIndex'),

            background_name: model('background_name'),
            animation_name: model('animation_name'),
            logo_image_id: model('logo_image_id'),
            head_text: model('head_text'),
            animation_text: model('animation_text'),
            target_shop: model('target_shop'),

            email_image_id: model('email_image_id'),
            email_subject_text: model('email_subject_text'),
            email_head_text: model('email_head_text'),
            email_body_text: model('email_body_text'),
            email_button_text: model('email_button_text'),
            nameRoute(){
                return this.$route.name.split('.')[0];
            },
            animationsList(){
                return this.lang.customization.setting.push.animation.list.map(function (name, i) {
                    return {
                        name,
                        value: i ? name : false
                    }
                });
            },
            showEmail(){
                return this.$route.meta.recipients;
            },
            showAnimText(){
                if(!this.activeAnimationIndex || this.activeAnimationIndex === 3) return false;
                else return true;
            },
            loading(){
                return this.pendingWallet.pushCreateResult || this.pending.createCustomResult;
            },
            ...mapState('custom', ['dataCustom', 'pending', 'error']),
            ...mapState('wallet', {pendingWallet: 'pending', errorWallet: 'error'}),
            ...mapState('wallet', ['wallet']),
            ...mapGetters('custom', ['customRealData']),
            ...mapGetters('sharing', ['dataCreate']),
            ...mapState('sharing', ['sharingCreateResult'])
        },
        methods: {
            SetPushImg(files){
              this.logo_image_id = files;
            },
            SetEmailImg(files){
                this.email_image_id = files;
            },
            bgLinear(linear) {
                return {
                    backgroundImage: `linear-gradient(${linear.degree}deg,
                     ${linear.colors.join(', ')})`
                }
            },
            next(){
                if(this.showEmail) {
                    this.createCustom({data: this.customRealData}).then(({data})=>{
                        return this.newRecipient(data);
                    }).then(()=>this.cleanDataCustom());
                }
                else return this.newPush();
            },
            newPush(){
                this.setIsUsedCustom(true);
                return this.$router.push({name: 'newPush'});
            },
            newRecipient(data){
                return this.sharingCreate({data: {
                        customization_setting_id: data.id,
                        ...this.dataCreate
                    }})
                    .then(({data})=>{
                        this.recipientDataClean();
                        localItemsHistory.add('my-sharings', data);
                        this.$router.push({
                            name: 'recipients.created',
                            params: {
                                campaign_id: this.sharingCreateResult.campaign_id
                            }
                        });
                    });
            },
            ...mapMutations('sharing', ['recipientDataClean']),
            ...mapActions('sharing', ['sharingCreate']),
            ...mapActions('custom', ['createCustom']),
            ...mapMutations('custom', ['setDataCustom', 'cleanDataCustom', 'setIsUsedCustom'])
        }
    }
</script>

<style lang="scss">
    .customization-setting {
        button {
            &.doneBtn{
                margin-top: 24px;
            }
        }
        textarea{
            height: 200px !important;
        }
        .item:not(:last-of-type){
            margin-bottom: 16px;
        }
        .color-list {
            display: flex;
            flex-wrap: wrap;

            .color:last-child{
                margin-right: 0;
            }

            >label{
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 23px;
            }
        }
        .animation-list{
            display: flex;
            flex-direction: column;

            .animation{
                cursor: pointer;
                display: flex;
                margin-bottom: 16px;
                span{font-size: 18px;}
                .indicator{
                    background: #F4F3ED;
                    box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
                    &.active{
                        background: $red;
                        box-shadow: none;
                    }
                }
            }
        }
        .example-email{
            p{
                margin-bottom: 80px !important;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 200%;
            }
        }
        .buttons{
            @include tablet{
                display: flex;
                justify-content: space-around;
                button{
                    margin: 0;
                    &:not(:last-child){
                        margin-right: 26px;
                    }
                }
            }
        }

        .customization-setting-main{
            @include tablet{
                :last-child{
                    order: 4;
                }
                .label-animations{
                    order: 2
                }
                .label-colors{
                    order: 4;
                }
                .label-anim-text{
                    order: 3;
                }
            }
        }
        @include tablet{
            .order-last{
                order: 5;
            }
        }
    }
</style>