<template>
    <div class="owned-block">
        <router-view/>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapState} from "vuex";

    export default {
        name: "templateOwned",
        computed: {
            link_id(){
                return this.$route.params.link_id;
            },
            ...mapState('wallet', ['walletInfo', 'walletBalance']),
            ...mapState('custom', ['custom'])
        },
        methods: {
            getBalance(){
                this.getWalletBalance({params: {
                        link_id: this.link_id
                    }})
                    .then(({data})=>{
                        if(data.incorrect_password){
                            return this.pushToEnterPass();
                        }
                        else this.checkCustom();
                    })
                    .catch((e)=>{
                        console.warn(e);
                        this.pushToEnterPass();
                    })
            },
            checkCustom(){
                if(this.getWalletInfo){
                    const setting_id = this.walletInfo.customization_id;
                    if(!setting_id) return this.cleanCustom();
                    if(!this.custom || this.custom.id !== setting_id){
                        this.getCustom({params:{
                                setting_id
                            }});
                    }
                }
            },
            pushToEnterPass(){
                this.$router.push({
                    name: 'push.password',
                    params: {
                        link_id: this.link_id
                    }});
            },
            ...mapActions('wallet', ['getWalletInfo', 'getWalletBalance']),
            ...mapActions('custom', ['getCustom']),
            ...mapMutations('custom', ['cleanCustom'])
        },
        created() {
            if(localStorage.getItem('pushes_id') === this.link_id){
                if(this.walletInfo && this.walletBalance) return;
            }
            this.getWalletInfo({params: {
                    link_id: this.link_id
                }})
                .then(({data})=>{
                    if(data.is_protected){
                        const pass = localStorage.getItem('password');
                        if(pass) this.getBalance();
                        else this.pushToEnterPass();
                    }
                    else this.getBalance();
                })
                .catch((e)=>{
                    console.warn(e);
                    this.pushToEnterPass();
                });
        }
    }
</script>

<style lang="scss">
    .owned-block{

    }
</style>