<template>
    <div class="owned">
        <wallet :link_id="link_id" :wallet-info="walletInfo" :balances="balances" :custom="custom"/>
        <div class="actions">
            <div class="title-actions">{{lang.owned.actions.title}}</div>
            <router-link :to="{name: 'push.topUp'}">
                <button class="defaultBtn block">{{lang.owned.actions.topUp}}</button>
            </router-link>
            <router-link :to="{name: 'push.phrase'}">
                <button class="defaultBtn block">{{lang.owned.actions.phrase}}</button>
            </router-link>
        </div>
        <loader v-if="loading"/>
        <animation :custom="customCurrent" v-if="!isPlayed && !loading && customCurrent" @close="closeAnim"/>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import {NanToNull} from "@/utils/global";
    import loader from "@/components/elements/loader";
    import wallet from "@/components/wallet";
    import animation from "@/components/animations/_animation.vue";

    export default {
        name: "Owned",
        data: () => ({
            search: ''
        }),
        components: {
            loader,
            wallet,
            animation
        },
        computed: {
            link_id() {
                return this.$route.params.link_id;
            },
            /*
            {
          "address": "Mx801ca8f808f4141a95bbae1a7e1d3f87d9e67525",
          "balance": {
                “coin”: “ABC”,
                “value”: 123.456
                "bip_value": 456.789,
                "usd_value": 6.4,
                “local_fiat_value”: 123,
                “local_fiat”: “UAH”
            },
           "fiat_rates": {
                “UAH”: 1.6693555865,
                “USD”: 1.813444599,
           }
            * */
            balances() {
                const WB = this.walletBalance;
                const balance = WB && WB.balance || {};
                const rates = WB && WB.fiat_rates || {};
                return {
                    coin: {
                        value: balance.value,
                        currency: balance.coin
                    },
                    local: {
                        value: balance.local_fiat_value,
                        currency: balance.local_fiat
                    },
                    bip: NanToNull(balance.bip_value),
                    usd: NanToNull(balance.usd_value),
                }
            },
            loading() {
                if([...Object.values(this.pendingWallet), ...Object.values(this.pending), this.pendingTransfers.spendList].some(pending=>pending)){
                    return true;
                }
                return !this.walletBalance && !this.error.walletBalance && !this.error.walletInfo;
            },
            customCurrent() {
                if (this.walletInfo) {
                    const setting_id = this.walletInfo.customization_id;
                    if (setting_id && this.custom && this.custom.id === setting_id) {
                       return this.custom;
                    }
                }
            },
            animationsPlayed(){
                let list = [];
                try {
                    list = JSON.parse(localStorage.getItem('animations-played')) || [];
                }
                catch (e) {console.warn(e);}
                return list;
            },
            isPlayed(){
                return this.animationsPlayed.includes(this.link_id);
            },
            ...mapState('wallet', {pendingWallet: 'pending'}),
            ...mapState('wallet', ['walletInfo', 'walletBalance', 'error']),
            ...mapState('transfers', {pendingTransfers: 'pending'}),
            ...mapState('transfers', ['spendList']),
            ...mapState('custom', ['custom', 'pending'])
        },
        methods: {
            closeAnim(){
                let list = Array.from(this.animationsPlayed);
                list.push(this.link_id);
                localStorage.setItem('animations-played', JSON.stringify(list));
            },
            ...mapActions('wallet', ['getWalletInfo', 'getWalletBalance']),
            ...mapActions('transfers', ['getSpendList'])
        },
        created() {
            if (!this.spendList) {
                this.getSpendList();
            }
        }
    }
</script>

<style lang="scss">
    .owned{
        >.actions{
            .title-actions{
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                opacity: 0.25;
                margin-bottom: 16px;
            }
            button{
                margin-bottom: 24px;
            }
        }
    }
</style>