<template>
    <div class="sent">
        <h1 class="title">{{lang.owned.phrase.title}}</h1>
        <div class="forCoping">
            {{text}}
        </div>
        <button class="defaultBtn block" ref="copy" :data-clipboard-text="text">{{lang.owned.phrase[copied?'copied':'copy']}}</button>
    </div>
</template>

<script>
    import ClipboardJS from "clipboard";
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Phrase",
        data: ()=>({
            copied: false
        }),
        computed: {
            text(){
                if(this.mnemonic) return this.mnemonic.mnemonic;
            },
            ...mapState('wallet', ['mnemonic'])
        },
        methods: {
            ...mapActions('wallet', ['getMnemonic'])
        },
        created(){
            this.getMnemonic({
                params: {
                    link_id: this.$route.params.link_id
                }
            });
        },
        mounted() {
            new ClipboardJS(this.$refs.copy).on('success', () => {
                this.copied = true;
                setTimeout(()=>{
                    this.copied = false;
                }, 3000);
            }).on('error', function(e) {
                prompt('Copy', this.text);
            });
        }
    }
</script>