<template>
    <div class="send">
        <div>
            <div class="title">
                <backward/>
                <h1 class="title">{{langSend.title}}</h1>
            </div>
            <form>
                <label>
                    <div class="input">
                        <input type="number" step="any" v-model="amount" :placeholder="langSend.amount" :readonly="amountMax">
                        <a class="action" @click="fullAmount"  :class="{active: isFullAmount}">{{lang.send.lack}}</a>
                    </div>
                    <p class="description" v-if="langSend.description">{{langSend.description}}</p>
                </label>
                <label>
                    <div class="input">
                        <input type="text" v-model="field" :placeholder="langSend.field" :autocomplete="category==='mobile'?'tel':'cc-number'">
                    </div>
                    <a class="action ignore-center right-item" @click="setLastWallet" v-if="category === 'transfer' && lastWallet" :class="{active: isLastWallet}">
                        {{lang.send[isLastWallet ? 'lastWalletUsed' : 'lastWallet']}} {{this.lastWallet | wallet}}
                    </a>
                </label>
            </form>
        </div>
        <div class="bottom">
            <p class="error" v-if="error">{{error}}</p>
            <p class="aboutBtn">{{aboutBtn}}</p>
            <btn-send class="btnAbs" :sending="process || pending.spend" v-if="formFill" @send="send">
                <template v-slot:next>{{lang.send.sendBtn.fill}}</template>
                <template v-slot:amount>{{amount | amount}}</template>
                <template v-slot:wait>{{lang.send.sendBtn.wait}}</template>
            </btn-send>
            <button class="defaultBtn block btnAbs" v-else disabled>{{lang.send.sendBtn.unfill}}</button>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import {NanToNull} from "@/utils/global";
    import backward from "../../components/elements/_backward"
    import btnSend from "@/components/elements/btn_send.vue"


    export default {
        name: "Send",
        components:{
            backward,
            btnSend
        },
        data: () => ({
            process: false,
            error: false,

            amount: '',
            field: ''
        }),
        computed: {
            link_id(){
                return this.$route.params.link_id;
            },
            formFill(){
                return this.amount && this.field;
            },
            category(){
                return this.$route.meta.category;
            },
            amountMax(){
                return this.$route.meta.amountMax;
            },
            langSend(){
                return this.lang.send[this.category];
            },
            lastWallet(){
                return localStorage.getItem('transfer-wallet');
            },
            isLastWallet(){
                return this.lastWallet === this.field;
            },
            isFullAmount(){
                if(this.walletBalance) {
                    return this.amount === this.walletBalance.balance.bip_value;
                }
            },
            aboutBtn(){
                if(this.category == 'mobile' || this.category == 'transfer'){
                    if(!this.walletBalance){
                        this.getWalletBalance({params: {
                                link_id: this.link_id
                            }});
                    }
                    if(this.category == 'mobile'){
                        const amount = this.walletBalance ? this.walletBalance.balance.bip_value : 0;
                        const amountUsd = this.walletBalance ? this.walletBalance.balance.usd_value : 0;
                        let rates = this.walletBalance ? this.walletBalance.fiat_rates : {};
                        return this.lang.send.aboutBtn.replace('{val}', NanToNull(amountUsd/amount * rates.RUB * this.amount));
                    }
                }
            },
            ...mapState('spend', ['spend', 'pending']),
            ...mapState('wallet', ['walletBalance']),
        },
        methods: {
            fullAmount(){
                if(this.walletBalance){
                    this.amount = parseFloat(this.walletBalance.balance.value);
                }
            },
            setLastWallet(){
                this.field = this.lastWallet;
            },
            send(){
                if(this.process) return;
                this.process = true;
                this.error = false;
                let key = 'to';
                if(this.category == 'mobile') key = 'phone';
                let option = this.category;
                if(option == 'transfer') {
                    option = 'transfer-minter';
                    localStorage.setItem('transfer-wallet', this.field);
                }
                this.getSpend({
                        params: {
                            link_id: this.link_id
                        },
                        data: {
                            option,
                            params: {
                                amount: this.amount,
                                [key]: this.field
                            }
                        }
                    })
                    .then(()=>{
                        this.$router.push({
                            name: 'push.successfully',
                            params: {
                                link_id: this.link_id
                            }});
                    })
                    .catch((err)=>{
                        console.warn(err);
                        this.error = err;
                    })
                    .finally(()=>{
                        this.process = false;
                    })
            },
            ...mapActions('wallet', ['getWalletBalance']),
            ...mapActions('spend', ['getSpend'])
        },
        filters: {
            wallet(v){
                if(v && v.length > 14){
                    return `${v.slice(0, 8)}...${v.slice(-5)}`;
                }
                else return v;
            }
        }
    }
</script>

<style lang="scss">
    .send {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 100px;

        .title {
            position: relative;
            justify-content: center;
        }

        input{
            margin-bottom: 24px;

            &:last-of-type {
                margin-top: 24px;
            }
        }

        .description {
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: $black;
            opacity: 0.6;
        }
        a.action {
            display: block;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.25;
            color: $text_gray;
            text-decoration: underline;
            cursor: pointer;

            &.active {
                text-decoration: none !important;
                pointer-events: none;
                cursor: default;
                color: $text_disabled;
            }
        }
    }


    .bottom {
        p {
            text-align: center;
            margin-bottom: 24px;

            &.aboutBtn {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: $black;
                opacity: 0.6;
            }

            &.error {
                font-weight: 500;
                font-size: 16px;
                line-height: 200%;
                color: $red;
            }
        }
    }
</style>