<template>
    <div class="sent">
        <h1 class="title">{{lang.sent.title}}</h1>
        <div class="successfully block">
            <svg width="200" height="200">
                <defs>
                    <clipPath id="mask">
                        <path fill="black" d="M82.2842 135.64L46.9289 100.284C43.0237 96.379 43.0237 90.0473 46.9289 86.1421C50.8342 82.2368 57.1658 82.2368 61.0711 86.1421L89.3553 114.426L138.853 64.9289C142.758 61.0237 149.09 61.0237 152.995 64.9289C156.9 68.8342 156.9 75.1658 152.995 79.0711L96.4263 135.64C92.5211 139.545 86.1894 139.545 82.2842 135.64Z"/>
                    </clipPath>
                    <linearGradient id="sent-successfully-gradient" x1="0" x2="0" y1="0" y2="1">
                        <stop class="stop-from" offset="0%"/>
                        <stop class="stop-to" offset="100%"/>
                    </linearGradient>
                </defs>
                <g clip-path="url(#mask)">
                    <rect class="color-mark" fill="url(#sent-successfully-gradient)" width="150" height="150" x="25" y="25"></rect>
                    <circle class="color-mark" fill="url(#sent-successfully-gradient)" r="200" cx="100" cy="175"></circle>
                </g>
            </svg>
        </div>
        <a v-if="spend && spend.link" :href="spend.link" target="_blank" class="certificate-link">
            <button class="defaultBtn block">{{lang.sent.link}}</button>
        </a>
        <a v-if="spend && spend.certificate" :href="spend.certificate" target="_blank" class="certificate-link">
            <button class="defaultBtn block">{{lang.sent.certificateLink}}</button>
        </a>
        <router-link :to="{name: backLink ? backLink : 'push', params: { link_id }}">
            <button class="defaultBtn block">{{lang.sent.btnBack}}</button>
        </router-link>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Sent",
        computed: {
            link_id(){
                return this.$route.params.link_id;
            },
            backLink(){
                return this.$route.meta.backLink;
            },
            ...mapState('spend', ['spend']),
        },
        methods: {
            ...mapActions('wallet', ['getWalletBalance']),
        },
        mounted(){
            this.getWalletBalance({params: {
                    link_id: this.link_id
                }});
        }
    }
</script>

<style lang="scss">
    .sent{
        h1{
            text-align: center;
            margin-bottom: 50px !important;
        }
        .successfully{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            height: 300px;
            min-width: unset;
            width: 300px;
            border-radius: 150px;
            background: $white !important;

            #sent-successfully-gradient{
                .stop-from{
                    stop-color: #434343;
                }
                 .stop-from{
                    stop-color: #000000;
                }
            }

            svg{
                circle{
                    animation: successCircle 2750ms 1 ease-in-out;
                }
                rect{
                    animation: successRect 2750ms 1 ease-in-out;

                }
            }
            @keyframes successCircle {
                from, 25%{
                    r: 10
                }
                to{
                    r:200
                }
            }
            @keyframes successRect {
                from, 25%{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
        }

        .certificate-link{
            text-align: center;
            display: block;
            font-size: 16px;

            button{
                margin-bottom: -50px;
            }
        }

        button{
            margin-top: 100px !important;
        }
    }
</style>