<template>
    <div class="sent">
        <h1 class="title">{{lang.owned.topUp.title}}</h1>
        <copy :text="walletBalance && walletBalance.address" :label="template(lang.owned.topUp.text)"/>
        <form action="#" @submit.prevent="step2">
            <label class="message double-column">
                <p>{{template(lang.newPush.form.amount.label)}}</p>
                <span class="double-row">
                        <input type="number" step="any"  :placeholder="lang.index.fastSend.placeholder" v-model.number="sum" autocomplete="off">
                        <ratesSearch :active="coin" @change="coin = $event" :disabled="blockedCoin"/>
                    </span>
            </label>
        </form>
        <a :href="deeplinkHref" v-if="deeplinkHref && sum" target="_blank">
            <button class="defaultBtn block deeplink">
                <span>{{lang.newPush.paying.deeplinkBtn.text}}</span>
                <span class="value">{{sum | amount}} {{coin}}</span>
            </button>
        </a>
    </div>
</template>

<script>
    import copy from "@/components/elements/_copy";
    import ratesSearch from "@/components/elements/ratesSearch.vue";
    import {mapActions, mapGetters, mapState} from "vuex";

    export default {
        name: "topUp",
        components: {
            copy,
            ratesSearch
        },
        data: ()=>({
            sum: null,
            coin: 'BIP'
        }),
        watch: {
            sum(){
                this.updateDeeplink();
            },
            coin(){
                this.updateDeeplink();
            }
        },
        computed: {
            link_id(){
                return this.$route.params.link_id;
            },
            blockedCoin(){
                return this.walletBalance && this.walletBalance.balance.bip_value > 0;
            },
            deeplinkHref(){
                if(this.deeplink){
                    if(this.isPC) return this.deeplink.web;
                    else return this.deeplink.mobile;
                }
            },
            label(){
                return `Send ${this.coin} coins to this address`;
            },
            ...mapGetters(['isPC']),
            ...mapState('main', ['deeplink']),
            ...mapState('wallet', ['walletBalance'])
        },
        methods: {
            updateDeeplink(){
                if(this.walletBalance && this.sum){
                    this.getDeeplink({params: {
                            address: this.walletBalance.address,
                            amount: this.sum,
                            coin: this.coin,
                            nofee: true
                        }});
                }
            },
            template(str){
                return str.replace('{coin}', this.coin);
            },
            ...mapActions('main', ['getDeeplink']),
            ...mapActions('wallet', ['getWalletBalance'])
        },
        created(){
            this.updateDeeplink();
            if(!this.walletBalance){
                this.getWalletBalance({params: {
                        link_id: this.link_id
                    }}).then(({data})=>{
                        this.coin = data.balance.coin;
                    });
            }
            else this.coin = this.walletBalance.balance.coin;
        }
    }
</script>