<template>
    <div class="forgot-password">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.forgotPassword.title}}
            </h1>
        </div>
        <div class="content-frame-width-328">
            <form class="flex-column-center" action="">
                <label>
                    <p>{{lang.forgotPassword.email.label}}</p>
                    <input type="email" :placeholder="lang.forgotPassword.email.placeholder">
                </label>
                <router-link :to="{name: 'changePassword'}">
                    <button class="defaultBtn block width-250">
                        {{lang.forgotPassword.sendBtn}}
                    </button>
                </router-link>
            </form>
        </div>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "ForgotPassword",
        components:{
            backward
        }
    }
</script>

<style lang="scss">

</style>