<template>
    <div class="login">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.login.title}}
            </h1>
        </div>
        <div class="content-frame-width-328">
            <button class="auth-btn defaultBtn block relative">
                <img class="left-side-fixed-img" src="@/assets/icons/telegram.svg" alt="">
                <span>{{lang.login.telegramAuth}}</span>
            </button>
            <button class="auth-btn defaultBtn block relative" @click.prevent="authGoogle">
                <img class="left-side-fixed-img" src="@/assets/icons/google.svg" alt="">
                <span>{{lang.login.googleAuth}}</span>
            </button>
         <!--   <p class="or text-align-center  fw-500">{{lang.login.or}}</p>
            <label>
                <p>{{lang.login.email.label}}</p>
                <input type="email" :placeholder="lang.login.email.placeholder">
            </label>
            <label>
                <p>{{lang.login.password.label}}</p>
                <input type="password" :placeholder="lang.login.password.placeholder">
            </label>
            <router-link :to="{name: 'forgotPassword'}">
                <p class="text-align-center fw-500 underline_link forgot">{{lang.login.forgotPassword}}</p>
            </router-link>
            <button class="defaultBtn block login-btn width-250">
                {{lang.login.loginBtn.empty}}
            </button>
            <router-link :to="{name: 'registration'}">
                <p class="text-align-center fw-500 underline_link">{{lang.login.register}}</p>
            </router-link>-->
        </div>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "Login",
        components:{
            backward
        },
        methods: {
            authGoogle(){
                this.$auth.oauth2({
                    provider: 'google',
                    rememberMe: true,
                    params: {
                        client_id: '608034952027-1t8imut1r320sq621gk5vvi22mndvdub.apps.googleusercontent.com'
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .login{
        p.or{
            font-size: 18px;
            line-height: 200%;
            color: rgba($text_gray, 0.6);
            margin: 32px 0;
        }
        button.auth-btn{
            margin-bottom: 24px !important;
        }
        p.forgot{
            margin-top: 8px;
            margin-bottom: 40px;
        }
        button.login-btn{
            margin-bottom: 24px !important;
        }
    }
</style>