<template>
    <div class="registration">
        <div class="title">
            <backward/>
            <h1 class="title mobile-text-center">
                {{lang.registration.title}}
            </h1>
        </div>
        <div class="content-frame-width-328">
            <form class="flex-column-center" action="">
                <label>
                    <p>{{lang.login.email.label}}</p>
                    <input type="email" :placeholder="lang.login.email.placeholder">
                </label>
                <label>
                    <p>{{lang.login.password.label}}</p>
                    <input type="password" :placeholder="lang.login.password.placeholder">
                </label>
            </form>
            <router-link :to="{name: 'forgotPassword'}">
                <p class="text-align-center underline_link forgot fw-500">{{lang.login.forgotPassword}}</p>
            </router-link>
            <button class="defaultBtn block reg-btn width-250">
                {{lang.registration.registrationBtn}}
            </button>
            <router-link :to="{name: 'login'}">
                <p class="login underline_link text-align-center fw-500">
                    {{lang.registration.login}}
                </p>
            </router-link>
        </div>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";

    export default {
        name: "Registration",
        components:{
            backward
        }
    }
</script>

<style scoped lang="scss">
    .registration {
        p.forgot{
            margin-bottom: 40px;
        }
        button.reg-btn {
            margin-bottom: 24px !important;
        }
    }
</style>