<template>
    <div class="my-pushes">
        <h1 class="title">
            {{title}}
            <add-btn @click="clickPlus"/>
        </h1>
        <div class="list">
            <div v-for="item of list" class="push block" @click="goToItem(item)">
                <span class="name">{{getId(item)}}</span>
                <span class="date">{{item.date | date}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment";
    import addBtn from "@/components/elements/add_btn.vue";

    export default {
        components: {
            addBtn
        },
        filters: {
            date(v){
                return moment(v).calendar();
            }
        }
    }
</script>

<style lang="scss">
    .my-pushes {
        .title {
            position: relative;
        }
        .list {

            .push {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                margin-bottom: 24px;
                cursor: pointer;

                .name {
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 27px;
                    color: $text_gray;
                    max-width: 160px;
                }

                .date {
                    font-size: 18px;
                    line-height: 23px;
                    text-align: right;
                    opacity: 0.5;
                    color: $text_gray;
                    min-width: 80px;
                }
            }
        }
    }
</style>

