<template>
    <div class="owned-password">
        <h1 class="title">{{lang.ownedPassword.title}}</h1>
        <form class="between"  @submit.prevent="send">
            <input type="password" v-model="pass" :placeholder="lang.ownedPassword.placeholder">
            <p class="error" v-if="errorText">{{errorText}}</p>
            <button class="defaultBtn block btnAbs" :disabled="process" type="submit">{{btnUnlockText}}</button>
        </form>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        data: ()=>({
            process: false,
            pass: ''
        }),
        created() {
            localStorage.removeItem('password')
        },
        watch: {
            pass: {
                immediate: true,
                handler(v){
                    localStorage.setItem('password', v);
                }
            }
        },
        computed:{
            link_id(){
                return this.$route.params.link_id;
            },
            btnUnlockText(){
                return this.lang.ownedPassword.btnUnlock[this.pass.length? 'unlock' : "locked"]
            },
            ...mapState('wallet', ['walletInfo'])
        },
        methods: {
            send(){
                this.process = true;
                this.check()
                    .catch(()=>{
                        this.pass = ''
                    })
                    .finally(()=>{
                        this.process = false;
                    });
            },

        }
    }
</script>

<style lang="scss">
    .owned-password{
        height: calc(100% - 150px);
        padding-bottom: 100px;

        .error{
            color: $red;
            margin: 20px 0;
            font-weight: 400;
        }

        div.title {
            justify-content: center;

            h1.title {
                padding: 0 15%;
                text-align: center;

                @include tablet {
                    padding: 0;
                }
            }
        }
        button{
            background-image: url("~@/assets/no_password.svg");
            background-position: 25px center;
            background-repeat: no-repeat;
        }
    }
</style>