<template>
    <div class="paying wait">
        <div class="payingContent">
            <h1 class="title">{{lang.newPush.paying.title}}</h1>
            <copy :text="address" :label="lang.newPush.paying.copy.label"/>
            <a :href="deeplink" v-if="deeplink" target="_blank">
                <button class="defaultBtn block deeplink">
                    <span>{{lang.newPush.paying.deeplinkBtn.text}}</span>
                    <span class="value">{{amount}} {{coin}}</span>
                </button>
            </a>
        </div>
        <p class="waiting">{{lang.newPush.paying.waiting.text}}</p>
        <await-anim/>
    </div>
</template>

<script>
    import awaitAnim from "@/components/animAwait";
    import {mapGetters} from "vuex";

    export default {
        data: () => ({
            timer: false
        }),
        components: {awaitAnim},
        computed: {
            address(){
                if(!this.data) return;
                return this.data.address;
            },
            deeplink(){
                var r = this.data;
                if(!r || !r.deeplink) return;
                if(this.isPC) return r.deeplink.replace('minter:///tx','https://bip.to/tx');
                return r.deeplink;
            },
            ...mapGetters(['isPC'])
        },
        methods:{
            setTimer(){
                this.timer = setTimeout(() => {
                    this.timer = false;
                    this.updateInfo();
                }, 5000);
            },
        },
        created() {
            this.updateInfo();
        },
        beforeRouteLeave(to, from, next){
            if(this.timer) clearTimeout(this.timer);
            next();
        },
        destroyed() {
            if(this.timer) clearTimeout(this.timer);
        }
    }
</script>

<style lang="scss">
    .paying{
        height: calc(100%);
        &.wait{
            padding-bottom: 200px;
        }
        a{
            text-decoration: none;
        }
        .payingContent{
            position: relative;
            z-index: 2;
        }
        .copy{
            margin-bottom: 40px;
        }
        .waiting{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: $black;
            position: absolute;
            z-index: 2;
            bottom: 120px;
            left: 0;
            right: 0;
        }
        @keyframes waiting {
            from{
                r: 0;
            }
            15%{
                r: 0;
            }
            65%{
                opacity: 1;
            }
            to{
                r: 300;
                opacity: 0;
            }
        }
    }
</style>