<template>
    <div class="search-section">
        <div class="src">
            <input type="text" v-model="input" ref="input" :readonly="$route.meta.readonly">
            <img src="@/assets/undo_cross.svg" alt="search" @click="back">
        </div>
        <div class="list" v-if="list && list.length">
            <router-link :to="getRoute(transfer)" v-for="transfer in list" :key="transfer.id"  v-if="transfer.title">
                <div class="block transferBlock" :class="[{disabled: transfer.disabled}]">
                    <div class="icon" :style="styleIcon(transfer)"></div>
                    <div class="name">{{transfer.title[selectedLanguage]}}</div>
                </div>
            </router-link>
        </div>
        <h3 class="empty" v-else>{{lang.send.emptyList}}</h3>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        computed: mapState(['selectedLanguage']),
        methods: {
            getCategoryId(id){
                if(Array.isArray(id)) return id.join(',');
                else return id;
            },
            getRoute(transfer){
                if(transfer.disabled) return '';
                return {
                    name: transfer.id === 'biptophone' ? 'push.send.mobile' : 'push.send.certificate',
                    params: {
                        link_id: this.link_id,
                        category: this.getCategoryId(transfer.category),
                        transfer: transfer.id
                    }
                }
            },
            ...mapActions('transfers', ['getSpendList']),
        },
    }
</script>

<style lang="scss">
    .search-section{
        .src{
            position: relative;
            input{

            }
            img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
            }
        }
        .list{
            display: flex;
            flex-direction: column;
            margin-top: 25px;

            @include tablet{
                @include grid;
            }
        }
        h3.empty{
            text-align: center;
            margin-top: 50px;
        }
    }

    .transferBlock{
        height: 70px !important;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        overflow: hidden;

        &.disabled{
            opacity: 0.75;
        }
        .icon{
            width: 70px;
            height: 100%;
            flex-shrink: 0;
            background-repeat: no-repeat;
            background-position: center;

        }
        .name{
            padding-left: 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 90%;
            align-items: center;

            color: $text_gray;
        }
    }
</style>