<template>
    <div class="share">
        <div class="title" :class="{'text-center': reSend}">
            <backward v-if="reSend" :url="{name: 'push'}"/>
            <h1 class="title">
                {{lang.newPush.share.title}}
            </h1>
        </div>
        <copy v-if="url" :text="url" :label="lang.newPush.share.copy.label"/>
        <qr :url="url"/>
        <button class="share defaultBtn block" @click="btnClick">{{btnText}}</button>
        <div class="socials">
            <a :href="soc.link+url" v-for="soc in socials" target="_blank">
                <button class="soc block">
                    <img :src="getImg(soc)" :alt="soc.id">
                </button>
            </a>
        </div>
    </div>
</template>

<script>
    import copy from '@/components/elements/_copy';
    import backward from "@/components/elements/_backward"
    import qr from "@/components/elements/qr"
    import {mapActions} from "vuex";

    export default {
        name: "share",
        data: ()=>({
            socials: [
                {
                    id: 'telegram',
                    //text
                    link: '//telegram.me/share/url?url='//tg://share?url=
                },
                {
                    id: 'facebook',
                    link: '//www.facebook.com/sharer.php?u='
                },
                {
                    id: 'vk',
                    //title,description,image
                    link: '//vk.com/share.php?url='
                },
                {
                    id: 'whatsapp',
                    link: 'https://api.whatsapp.com/send?text='//whatsapp://send?text=
                },
                {
                    id: 'viber',
                    link: 'viber://forward?text='
                }
            ]
        }),
        components: {
            copy,
            backward,
            qr
        },
        computed: {
            link_id(){
                return this.$route.params.link_id;
            },
            reSend(){
                return this.$route.meta.reSend;
            },
        },
        methods: {
            getImg(soc){
                return require(`@/assets/soc/${soc.id}.svg`);
            },
            ...mapActions('wallet', ['getWalletBalance'])
        },
        created() {
            if(this.reSend){
                this.getWalletBalance({params: {
                        link_id: this.link_id
                    }});
            }
        },
    }
</script>

<style lang="scss">
    .share{
        .socials{
            display: none;
        }

        @include tablet{
            button.share{
                display: none;
            }
            .socials{
                display: flex;
                align-items: center;
                justify-content: center;

                .soc{
                    width: 60px;
                    height: 60px;
                    min-width: 0;
                    border-radius: 50%;
                    margin: 0 8px;

                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
</style>