<template>
    <a class="backward" href="#" @click.prevent="back">
        <img src="@/assets/back_black.svg" alt="">
    </a>
</template>

<script>
    import {getUrlHome} from "@/utils/component";

    export default {
        name: "backward",
        props: {
            url: {
                default: false,
                required: false
            }
        },
        methods: {
            back(){
                if(this.url) this.$router.push(this.url);
                else {
                    if(window.history.length > 2) this.$router.go(-1);
                    else this.$router.push(getUrlHome(this.$route));
                }
            }
        }
    }
</script>

<style lang="scss">
    .backward  {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include tablet {
            left: unset;
            right: 100%;
            margin-right: 27px;
        }
    }
</style>