<template>
    <label class="copy">
        <p>{{label}}</p>
        <div class="forCoping clipboard" :class="{copied}">
            <span>{{text}}</span>
            <span class="copiedText">Copied</span>
            <img src="@/assets/copy.svg" ref="copy" :data-clipboard-text="text">
        </div>
    </label>
</template>

<script>
    import ClipboardJS from 'clipboard';
    export default {
        name: "copy",
        props: ['text','label'],
        data: ()=>({
            copied: false
        }),
        mounted() {
            new ClipboardJS(this.$refs.copy).on('success', () => {
                this.copied = true;
                setTimeout(()=>{
                    this.copied = false;
                }, 1000);
            }).on('error', function(e) {
                prompt('Copy', this.text);
            });
        }
    }
</script>

<style lang="scss">
    .clipboard{
        position: relative;
        img{
            cursor: pointer;
            transition: all 0.25s;
        }

        .copiedText{
            position: absolute;
            right: 48px;
            top: 50%;
            transform: translateY(-50%);
            height: 62px;
            max-height: 100%;
            font-size: 21px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            background: linear-gradient(270deg, #F4F3ED 29.17%, rgba(244, 243, 237, 0) 100%);
            box-shadow: 0 0 2px #F4F3ED;
            overflow: hidden;

            opacity: 0;
            width: 0%;
            transition: all 0.25s;
        }

        &.copied .copiedText{
            opacity: 1;
            width: 100%;
            width: calc(100% - 72px);
        }
    }
</style>