<template>
    <button class="addBtn" @click.prevent="$emit('click')">
        <img src="@/assets/plus.svg" alt="add">
    </button>
</template>

<script>
    export default {
        name: "addBtn"
    }
</script>

<style lang="scss">
    button.addBtn{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F4F3ED;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        border: none;
    }
</style>