<template>
    <button class="defaultBtn block sendBtn" :class="{sending, disabled}" @click.prevent="send">
        <span class="next">
            <slot name="next"></slot>
        </span>
        <span class="bip">
            <slot name="amount"></slot> {{coinName}}
        </span>
        <span class="wait">
            <slot name="wait"></slot>
        </span>
    </button>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "btn_send",
        props: ['sending', 'disabled', 'coin'],
        methods: {
            send(){
                if(!this.disabled) this.$emit('send');
            },
            ...mapActions('wallet', ['getWalletBalance'])
        },
        created(){
            if(!this.coin && !this.walletBalance){
                this.getWalletBalance({
                    params: {
                        link_id: this.$route.params.link_id
                    }
                });
            }
        },
        computed: {
            coinName(){
                if(this.coin) return this.coin;
                else if(!this.walletBalance) return '';
                else return this.walletBalance.balance.coin;

            },
            ...mapState('wallet', ['walletBalance'])
        }
    }
</script>

<style lang="scss">
    button.sendBtn {
        transition: all 0.25s;
        text-align: left !important;
        overflow: hidden;
        position: relative;

        &.btnBig{
            width: 300px;
        }

        &.error {
            .bip {
                background: $text_gray;
                box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
            }
        }

        &.disabled{
            .bip{
                background-color: $text_gray;
            }
        }

        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .next {
            width: 50%;
        }

        .bip {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
            width: 50%;
            height: 100%;
            background: $red;
            color: $white;
            box-shadow: 4px 4px 14px rgba(202, 29, 33, 0.3);
            border-radius: 0px 18px 18px 0px;
            transition: 1s all;
        }
        .wait{
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: all 0.25s;

            font-weight: 600;
            font-size: 21px;
            line-height: 27px;
            color: $text_gray;
        }


        $animate_sending: 1s;
        &.sending{
            box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25) !important;

            .next{
                opacity: 0;
                transition: all 0.25s $animate_sending/2;
            }
            .bip{
                animation: sendBtn $animate_sending 1 ease-in-out;
                width: 100%;
                opacity: 0;
                transform: translateX(-100%);
                color: $red;
                transition-delay: $animate_sending/2;
            }

            .wait{
                opacity: 1;
                transition-delay: $animate_sending/2;
                animation: flashing 0.75s infinite ease alternate;
                animation-delay: $animate_sending;
            }
        }
    }
    @keyframes flashing  {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    @keyframes sendBtn  {
        from{
            color: $white;
            width: 50%;
            transform: translateX(0%);
            opacity: 1;
        }
        35% {
            width: 100%;
            color: $white;
        }
        55%{
            color: $red;
            transform: translateX(0%);
        }
        70%{
            opacity: 1;
        }
        to{
            opacity: 0;
            transform: translateX(-100%);
        }
    }
</style>