<template>
    <div class="checkbox block inset-shadow">
        <a href="#" @click.prevent="setActiveTab('general')">
            <button class="blocked_gray" :class="{active: activeTab === 'general'}">{{lang.campaignStats.checkbox.general}}</button>
        </a>
        <a href="#" @click.prevent="setActiveTab('personal')">
            <button class="blocked_gray" :class="{active: activeTab === 'personal'}">{{lang.campaignStats.checkbox.personal}}</button>
        </a>
    </div>
</template>

<script>
    import {mapMutations, mapState} from "vuex";

    export default {
        name: "inputRadio",
        props:{
            active: {
                type: Boolean,
                default: false,
            },
        },
        computed: mapState('sharing', ['activeTab']),
        methods: mapMutations('sharing', ['setActiveTab'])
    }
</script>

<style lang="scss">
    .checkbox{
        height: 50px !important;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>*{
            width: 50%;
            height: 100%;
        }
        button{
            background: none;
            width: 100%;
            height: 100% !important;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            text-align: center;

            &.active{
                background: #F4F3ED;
                box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7), 10px 10px 20px rgba(0, 0, 0, 0.1) !important;
                border-radius: 10px;
                color: $text_gray !important;
            }
        }
    }
</style>