<template>
   <div class="search-input">
       <label class="input" @click.prevent="opening()">
           <input type="text" v-model="searchRequest" :placeholder="placeholder" :readonly="disabled">
           <img src="@/assets/select_arrow.svg" v-show="searchRequest && !disabled" alt="clean" class="clean">
       </label>
       <div class="search-output-list" v-if="open">
           <div class="item" v-for="item of list" @click.prevent.stop="setSelected(item)">
               <div class="icon" v-if="item.icon || item.color" :style="styleIcon(item)"></div>
               <span>{{item.name}}</span>
           </div>
           <div class="notFound" v-if="!list.length">{{notFound}}</div>
       </div>
   </div>
</template>

<script>
    export default {
        name: "inputSearch",
        props: ['list','active','placeholder', 'notFound', 'query', 'disabled'],
        data: ()=>({
            open: false
        }),
        watch: {
            active: {
                immediate: true,
                handler(active, activeOld){
                    if(active && active.id && active.id !== (activeOld && activeOld.id)) this.searchRequest = active.name;
                }
            }
        },
        computed: {
            searchRequest: {
                get(){
                    return this.query;
                },
                set(v){
                    this.$emit('setQuery', v);
                }
            }
        },
        methods:{
            setSelected(item){
                this.open = false;
                this.searchRequest = item.name;
                this.$emit('change', item);
            },
            opening(){
                if(this.disabled) return;
                this.open = true;
                this.searchRequest = null;
            },
            styleIcon(item){
                return {
                    'background-color': item.color,
                    'background-image': `url(${item.icon})`
                };
            },
        }
    }
</script>

<style lang="scss">
    .search-input {
        position: relative;

        .input{
            margin: 0;
        }

        .search-output-list{
            position: absolute;
            z-index: 25;
            top: 100%;
            left: 8px;
            right: 8px;
            background: #F4F3ED;
            box-shadow: inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);
            border-radius: 11px;
            padding: 12px 0;
            max-height: 220px;
            overflow-y: auto;
        }
        .item{
            cursor: pointer;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 8px;
            .icon{
                border-radius: 8px;
                width: 32px;
                height: 32px;
                margin-right: 8px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            span{
                font-weight: normal;
                font-size: 21px;
                line-height: 27px;

            }
        }
        .notFound{
            text-align: center;
        }
    }
</style>