import qrcode from "qrcode-generator";
<template>
    <div class="forCoping QR-Code" v-html="qr"></div>
</template>

<script>
    import qrcode from 'qrcode-generator';

    export default {
        name: "QR",
        props: ['url'],
        computed: {
            qr(){
                if(!this.url) return;
                var qr = qrcode(0, "L");
                qr.addData(this.url.slice(0, 79));
                qr.make();
                return qr.createSvgTag();
            },
        },
    }
</script>

<style lang="scss">
    .forCoping.QR-Code{
        display: block;
        margin: 0 auto 38px auto !important;
        min-width: auto;

        max-width: 250px;
        height: 250px !important;
        padding: 5px;
        svg{
            width: 100%;
            height: auto;

            rect{
                fill: none !important;
            }
        }
    }
</style>