<template>
    <inputSearch :list="ratesFiltered" :active="getForamt(active)" @change="$emit('change', $event.id)" @setQuery="query = $event" :query="query"
                 label="" :notFound="lang.customization.setting.shopSearch.notFound" :disabled="disabled"/>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import inputSearch from "@/components/elements/inputSearch.vue";

    export default {
        name: "ratesSearch",
        props: {
            active: String,
            disabled: Boolean
        },
        components: {inputSearch},
        data: ()=>({
            query: '',
            open: false
        }),
        computed: {
            rates(){
                if(!this.customCoins || !this.exchangeRates) return [];
                return Object.keys(this.exchangeRates).concat(this.customCoins);
            },
            ratesFiltered(){
                return this.rates
                    .filter(rate => !this.query || rate.includes(this.query.toUpperCase()))
                    .map(rate => this.getForamt(rate))
            },
            ...mapState('main', ['exchangeRates', 'customCoins'])
        },
        methods: {
            getForamt(rate){
                return {
                    name: rate,
                    id: rate
                }
            },
            ...mapActions('main', ['createWallet', 'getDeeplink', 'getCustomCoins', 'getExchangeRates']),
        },
        created(){
            if(!Object.keys(this.customCoins).length){
                this.getCustomCoins();
            }
            if(!this.exchangeRates || !Object.keys(this.exchangeRates).length){
                this.getExchangeRates();
            }
        }
    }
</script>

<style lang="scss">

</style>