<template>
    <router-view/>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "templateCertificate",
        computed: mapState('transfers', ['spendList']),
        methods: mapActions('transfers', ['getSpendList']),
        created() {
            if(!this.spendList) {
                this.getSpendList();
            }
        }
    }
</script>