<template>
    <div class="certificate-section">
        <div class="title">
            <backward/>
            <h1 class="title">
                {{lang.certificate.title}}
            </h1>
        </div>
        <certificateImages v-if="transfer" :transfer="transfer" :shopId="shopId" :certificate="transfer"/>
        <form>
            <label v-if="transfer">
                <p>{{lang.certificate.inputAmount.label}} <span v-if="transfer.price_type == 'range'">({{selectValue}})</span></p>
                <select name="" v-model="selectValueSelect" :class="{placeholder: !selectValue}" v-if="transfer.price_type == 'list'">
                    <option :value="null" disabled selected>{{optionsPlaceholder}} {{optionsCurrency}}</option>
                    <template v-for="product of transfer.products">
                        <option v-for="amount of product.price_list_fiat" :value="{slug: product.slug, amount}">{{amount}} {{product.currency}}</option>
                    </template>
                </select>
                <select name="" v-model="selectValueSelect" :class="{placeholder: !selectValue}" v-if="transfer.price_type == 'fixed'">
                    <option :value="null" disabled selected>{{optionsPlaceholder}} {{optionsCurrency}}</option>
                    <option v-for="product of transfer.products" :value="{slug: product.slug, amount: product.price_fiat}">{{product.name}}</option>
                </select>
                <input type="range" v-model="selectValue" :min="transfer.products[0].price_fiat_min" :max="transfer.products[0].price_fiat_max" :step="transfer.products[0].price_fiat_step" v-if="transfer.price_type == 'range'">
            </label>
            <label v-if="partner === 'Gratz'">
                <p>{{lang.certificate.inputContact.label}}</p>
                <input type="text" v-model="contact" :placeholder="lang.certificate.inputContact.placeholder">
            </label>
        </form>
        <p class="errorBlock" v-if="error.spend">{{error.spend}}</p>
        <div class="bottom-fixed full">
            <p class="text-center" v-if="partner === 'Gratz'" v-html="lang.certificate.GratzInfo"></p>
            <div class="send-block">
                <router-link :to="{name: 'certificate.how-to-use'}" v-if="partner === 'GIFT'">
                    <p class="how-to-use underline_link">
                        {{lang.certificate.howToUseBtn}}
                    </p>
                </router-link>
                <btn-send class="btnBig" :disabled="!sufficient" :sending="pending.spend" v-if="filledForm" @send="send">
                    <template v-slot:next>{{lang.certificate.sendBtn}}</template>
                    <template v-slot:amount>{{spendInfo ? spendInfo.price_bip : 0 | amount}}</template>
                    <template v-slot:wait>{{lang.certificate.generating}}</template>
                </btn-send>
                <button v-else class="defaultBtn block blocked_gray">{{textEmptyForm}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    import backward from "../../components/elements/_backward"
    import certificateImages from "./certificateImages"
    import certificate from "../../mixins/certificate.mix.js"
    import {mapActions, mapGetters, mapState} from "vuex";
    import btnSend from "@/components/elements/btn_send.vue"

    export default {
        name: "Certificate",
        mixins: [certificate],
        components: {
            backward,
            certificateImages,
            btnSend
        },
        data: ()=>({
            selectValue: null,
            contact: null,
            slug: null
        }),
        watch: {
            selectValue(v){
               this.spendInfoUpdate();
            }
        },
        computed: {
            selectValueSelect: {
              set({slug, amount}){
                this.selectValue = amount;
                this.slug = slug;
              },
                get(){
                  if(!this.slug) return null;
                  return {slug: this.slug, amount: this.selectValue};
                }
            },
            optionsPlaceholder(){
                if(!this.transfer || !this.transfer.price_type) return '';
                const type = this.transfer.price_type,
                    products = this.transfer.products;

                let list = [];
                if(type === 'fixed') list = products.map(({price_fiat})=>price_fiat);
                else if(type === 'list') products.map(({price_list_fiat})=>list.push(...price_list_fiat));
                else return null;

                return `${Math.min(...list)}-${Math.max(...list)}`;
            },
            optionsCurrency(){
                if(this.transfer){
                    return this.transfer.currency;
                }
            },
            partner(){
                return this.getPartner(this.transfer);
            },
            textEmptyForm(){
                if(this.partner === 'Gratz'){
                    return this.lang.certificate.fillForm;
                }
                else return this.lang.certificate.unselected;
            },
            filledForm(){
                if(this.partner === 'Gratz'){
                    return this.contact && this.selectValue;
                }
                else return this.selectValue;
            },
            sufficient(){
                if(this.walletBalance && this.spendInfo){
                    return this.walletBalance.balance.bip_value >= this.spendInfo.price_bip;
                }
            },
            ...mapState('spend', ['spend','spendInfo', 'pending', 'error']),
            ...mapGetters('transfers', ['getTransfer', 'getPartner']),
            ...mapState('wallet', ['walletBalance'])
        },
        methods:{
            spendInfoUpdate(){
                this.getSpendInfo({
                    params: {
                        link_id: this.link_id
                    },
                    data: {
                        params: {price_fiat: this.selectValue},
                        slug: this.slug
                    }
                })
            },
            send(){
                let params = {price_fiat: this.selectValue};
                if(this.contact) params.contact = this.contact;
                this.getSpend({
                    params: {
                        link_id: this.link_id
                    },
                    data: {
                        slug: this.slug,
                        params
                    }
                })
                    .then(()=>{
                        this.$router.push({
                            name: 'push.successfully',
                            params: {
                                link_id: this.link_id
                            }});
                    })
                    .catch((err)=>{
                        console.warn(err);
                    })
                    .finally(()=>{
                        this.process = false;
                    });
            },
            ...mapActions('spend', ['getSpend', 'getSpendInfo']),
            ...mapActions('wallet', ['getWalletBalance'])
        },
        created() {
            if(!this.walletBalance){
                this.getWalletBalance({params: {
                        link_id: this.link_id
                    }});
            }
            if(this.transfer && this.transfer.price_type == 'range'){
                this.selectValue =  this.transfer.products[0].price_fiat_min;
                this.slug =  this.transfer.products[0].slug;
                this.spendInfoUpdate();
            }
        }
    }
</script>

<style lang="scss">
    .certificate-section {
        padding-bottom: 200px;
        div.title {
            justify-content: center;

            h1.title {
                text-align: center;
            }
        }
        .how-to-use {
            text-align: center;
            margin-bottom: 24px;
        }
    }
</style>