<template>
    <div class="certificate-images">
        <div>
            <img :src="images.partner" alt="" class="left img">
            <p>{{partner}}</p>
        </div>
        <img src="@/assets/cross_black.svg" class="cross" alt="">
        <div>
            <img :src="images.certificate" alt="" class="right img">
            <p>{{name}}</p>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from "vuex";

    export default {
        name: "certificateImages",
        props: ['transfer', 'shopId', 'certificate'],
        computed: {
            name(){
                if(!this.shop || !this.shop.title) return;
                return this.shop.title[this.selectedLanguage];
            },
            shop(){
                return this.shops[this.shopId];
            },
            partner(){
                return this.getPartner(this.transfer);
            },
            images(){
                return {
                    partner: `/img/transfers/partners/${this.partner}.png`,
                    certificate: `${this.shop.icon}`
                }
            },
            ...mapState(['selectedLanguage']),
            ...mapState('transfers', ['shops']),
            ...mapGetters('transfers', ['getPartner'])
        }
    }
</script>

<style lang="scss">
    .certificate-images{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 30px;
        margin-bottom: 32px;
        text-align: center;

        img.img{
            display: block;
            height: 80px;
            min-width: 80px;
            margin: 0 auto;
        }

        img.cross{
            margin: 0 32px 29px;
            align-self: center;
        }

        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #000000;
            margin-bottom: 0;
            margin-top: 8px;
        }
    }
</style>