<template>
    <div class="how-to-use-section">
        <div class="title">
            <backward/>
            <h1 class="title">{{lang.certificate.howToUse.title}}</h1>
        </div>
        <ol v-if="info">
            <li v-for="item of info.list">{{item}}</li>
        </ol>
        <p v-if="info">{{info.about}}</p>
    </div>
</template>

<script>
    import backward from "@/components/elements/_backward";
    import certificate from "@/mixins/certificate.mix.js"

    export default {
        name: "HowToUse",
        mixins: [certificate],
        components: {
            backward
        },
        computed: {
            info(){
                const lang = this.lang.certificate.howToUse.text;
                if(lang[this.name]){
                    return lang[this.name];
                }
            }
        }
    }
</script>

<style lang="scss">
    .how-to-use-section{
        div.title {
            justify-content: center;

            h1.title {
                padding: 0 50px;
                text-align: center;

                @include tablet {
                    padding: 0;
                }
            }
        }
        p, ol{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;

            color: #2D2C28;
        }

        ol{
            list-style-position: inside;
            margin-bottom: 25px;
        }

    }
</style>