<template>
    <div class="my-certificate">
        <h1 class="title">{{lang.myCertificate.title}}</h1>
        <certificateImages v-if="transfer" :transfer="transfer"/>
        <div v-if="partner !== 'Gratz'">
            <copy v-if="spend" :text="spend.code"/>
            <button class="defaultBtn block">{{lang.myCertificate.open}} {{name}}</button>
        </div>

        <div class="bottom-fixed full">
            <router-link :to="{name: 'certificate.how-to-use'}" v-if="partner === 'GIFT'">
                <p class="how-to-use underline_link">
                    {{lang.certificate.howToUseBtn}}
                </p>
            </router-link>
            <p v-if="partner === 'Gratz'" v-html="lang.certificate.GratzInfo"></p>
            <button class="defaultBtn block">{{lang.myCertificate.backBtn}}</button>
        </div>
    </div>
</template>

<script>
    import certificateImages from "./certificateImages"
    import copy from '../../components/elements/_copy';
    import certificate from "../../mixins/certificate.mix.js"
    import {mapGetters, mapState} from "vuex";

    export default {
        name: "MyCertificate",
        mixins: [certificate],
        components:{
            certificateImages,
            copy
        },
        computed: {
            partner(){
                return this.getPartner(this.transfer);
            },
            ...mapGetters('transfers', ['getPartner']),
            ...mapState('spend', ['spend'])
        },
        created() {
            //if(!this.spend) this.$router.push({name: 'push.send.certificate'});
        }
    }
</script>

<style lang="scss">
    .my-certificate{
        padding-bottom: 200px;

        .bottom-fixed{
            text-align: center;
        }
    }
</style>