<template>
    <div id="app">
        <headerComp/>
        <navMenu/>
        <section class="content" :class="contentClass">
            <router-view/>
        </section>
        <footerComp/>
    </div>
</template>

<script>
    import headerComp from './components/headerComp.vue'
    import footerComp from './components/footerComp.vue'
    import navMenu from './components/nav/navMenu.vue'
    import theme from "@/mixins/theme.mix";

    export default {
        name: 'app',
        mixins: [theme],
        components: {
            headerComp,
            navMenu,
            footerComp,
        },
        computed: {
            contentClass(){
                return this.$route.meta.contentClass;
            }
        }
    }
</script>

<style lang="scss">
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, input, button, textarea, select {
        font-family: 'IBM Plex Sans', sans-serif;
    }

    html{
        overflow-y: auto;
    }

    body {
        margin: 0 auto;
        background: $light_beige;
        overflow: hidden;
    }
    .bg-app{
        background: $light_beige;
    }
    a{
        text-decoration: none;
    }
    .overflow{
        overflow: hidden;
    }
    .d-block{
        display: block;
    }

    #app {
        position: relative;
        display: flex;
        flex-direction: column;

        min-height: 100%;
        min-height: 100vh;
        width: 100%;
        max-width: 785px;
        max-width: 834px;

        margin: 0 auto;
        padding: 0 24px;
        overflow: hidden;

        h1.title {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 24px;
        }
        .backward + h1.title{
            margin: 0 30px;
        }
        @include tablet{
            overflow: visible;
            h1.title{
                text-align: left;
            }
        }
    }
    .block {
        background-color: $light_beige;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        height: 60px;
        min-width: 250px;
    }
    a{
        text-decoration: none;
        cursor: pointer;

        &:hover{
            text-decoration: none;
        }

        &.disabled{
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            opacity: 0.5;
        }
    }
    a{
        &, &:hover{
            color: $text_gray;
        }
    }
    button, .btn {
        border: none;
        cursor: pointer;
        outline: none !important;

        &.btn{
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
        &.defaultBtn {

            font-weight: 600;
            font-size: 21px;
            line-height: 27px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        &.btnAbs{
            position: absolute !important;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            @include tablet{
                margin-bottom: 30vh;
                @media (max-height: 1200px){
                    margin-bottom: 25vh;
                }
                @media (max-height: 850px){
                    margin-bottom: 15vh;
                }
                @media (max-height: 750px){
                    margin-bottom: 10vh;
                }
                @media (max-height: 700px){
                    margin-bottom: 10px;
                }
            }
        }

        &.active{
            @extend .inset-shadow;
        }

        &:disabled, &.disabled{
            opacity: 0.5;
            pointer-events: none;
        }
    }
    form{
        @include tablet{
            @include grid;
        }
    }
    input, textarea, select, .forCoping, .blockWithBorder {
        display: block;
        cursor: auto;
        outline: none;
        position: relative;

        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 27px;
        color: $text_gray;
        width: 100%;
        &:not(.forCoping){
            border: solid 8px $light_beige;

            background-color: $light_beige;
            box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1),
            inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);

            transition: $slow_transition;
            &:focus{
                box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1),
                inset 40px 20px 30px rgba(0, 0, 0, 0.05);
            }
        }

        border-radius: 18px;
        height: 60px;
        min-height: 60px;
        min-width: 250px;

        &:disabled{
            color: rgba($text_gray, 0.75);
        }

    }
    input:not([type="range"]), textarea, select {
        appearance: none;
        -webkit-appearance: none;
    }

    textarea {
        padding: 16px 24px;
        resize: none;
        height: 140px !important;
    }
    input{
        padding: 0 24px;
        &[type=number]{
            -webkit-appearance: none;
            appearance: none;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }
    }
    input[type = "image"]{
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1),;
    }
    select{
        padding-left: 16px;
        position: relative;
        background-image: url("~@/assets/select_arrow.svg");
        background-position: 97% center;
        background-repeat: no-repeat;
        option{
            color: $text_gray;

            &[disabled]{
                color: $text_disabled;
            }
        }

        &.placeholder{
            color: $text_disabled;
        }
    }
    #app .input{
        position: relative;

        .action{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;

            font-size: 14px;
            line-height: 25px;
            font-weight: 600;
            text-decoration: none !important;
            padding: 0 7px;

            border: 1.5px solid #2D2C28;
            box-sizing: border-box;
            border-radius: 8px;
            transition: all 0.25s;
            background: rgba($red, 0);

            &:hover{
                opacity: 0.6;
            }
            &:hover{
                opacity: 1;
                color: $red;
                border-color: $red;
            }
            &:active, &.active{
                background: $red;
                border-color: $red;
                color: $white;
            }
        }

        .clean{
            cursor: pointer;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .underline_link{
        font-size: 18px;
        line-height: 23px;
        font-weight: normal;
        text-decoration-line: underline !important;
        color: #2D2C28;

    }

    .between{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet{
            display: grid;
        }
    }
    .double-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 16px;

        @include tablet {
            grid-gap: 0 25px;
        }

        input {
            min-width: unset;
        }
    }
    .blocked_gray{
        color: rgba(#2D2C28, 0.6) !important;
    }
    .inset-shadow{
        box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25) !important;
    }
    .deeplink{
        display: flex;
        align-items: center;
        min-height: 60px;
        height: auto;

        span{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            min-height: 60px;

            &.value{
                background: $red;
                color: $white;
                box-shadow: 4px 4px 14px rgba(202, 29, 33, 0.3);
                border-radius: 0px 18px 18px 0px;
                word-break: break-word;
            }
        }
    }

    .bottom-fixed{
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);

        &.full{
            width: 100%;
        }
    }
    .text-center{
        text-align: center;
    }
    div.title{
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 24px;

        h1.title{
            margin-bottom: 0 !important;
        }

        img.company-preview{
            height: 40px;
            margin-right: 16px;
        }
    }
    section.content{
        position: relative;
        width: 100%;

        &.static{
            position: static;
        }
        &.mainFlex{
            display: flex;
            flex-direction: column;
        }
        &, .full-h{
            min-height: 100%;
            min-height: calc(100vh - 116px - 85px);
            flex-shrink: 2;
        }

        @include tablet{
            padding: 0 53px;
        }
    }
    .errorBlock{
        color: $red;
    }
    button.relative{
        position: relative;

        .left-side-fixed-img{
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .fw-500{
        font-weight: 500;
    }
    .text-align-center{
        text-align: center;
    }

    @include tablet{
        .gridBlock{
            @include grid;
        }
    }
    .content-frame-width-328{
        max-width: 328px;
        margin: 0 auto;
        &,  &>*, form>*, button{
            width: 100% !important;
        }
    }
    .width-250{
        width: 250px !important;
    }
    .width-full{
        width: 100% !important;
    }
    .mobile-text-center{
        text-align: center;

    }

    label span.advice-label{
        margin-left: 4px;
        font-size: 14px;
        line-height: 18px;
    }
    .input-image span.advice-label{
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }

    .circleRadio{
        cursor: pointer;
        height: 40px;
        width: 40px;
        min-width: unset !important;
        padding: 8px;
        border-radius: 50%;
        margin-right: 16px;

        .indicator{
            width: 100%;
            height: 100%;
            border-radius: 50%;

            &.empty{
                box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
            }
        }

        &.inset-shadow {
            padding: 12px;
            .indicator{
                width: 16px;
                height: 16px;
            }
        }
    }
    .red-radio-block{
        label{
            display: flex;
            align-items: center;
            p{
                margin-bottom: 0;
                padding-left: 16px;
            }
            input{
                min-width: unset;
                min-height: unset;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.8), 15px 15px 25px rgba(0, 0, 0, 0.1),
                inset 40px 20px 30px rgba(0, 0, 0, 0.05);
                &:checked{
                    background: $red;
                }
            }
        }
    }
    .hidden{
        opacity: 0 !important;
        width: 0 !important;
        height: 0 !important;
        min-width: 0 !important;
        min-height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        position: absolute !important;
    }

    .radio-list{
        min-height: 60px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        label{
            margin: 8px 16px 8px 0;
        }
    }
    @import 'theme';
</style>
