.theme-purple{
  &, .bg-app {
    background: linear-gradient(180deg, #30CFD0 0%, #330867 100%), #F4F3ED;
  }

  .block{
    box-shadow: -5px -5px 10px rgba(49, 143, 174, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  button, .btn{
    &.active, &.sendBtn.sending{
      box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
    }
  }
  footer *{
    color: $white;
  }
  .walletBlock {
    color: $white;

    h2, p.money{
      color: $white;
    }
    .transfersList .grid .transfer{
      box-shadow: -5px -5px 10px rgba(49, 143, 174, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
  input, textarea, select {
    background-color: #F4F3ED;
    box-shadow: -5px -5px 10px #318FAE, 5px 5px 15px rgba(0, 0, 0, 0.2),
                inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);
    border-color: #F4F3ED;
    &:focus{
      box-shadow: -5px -5px 10px rgba(49, 143, 174, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2),
                  inset 40px 20px 30px rgba(0, 0, 0, 0.05);
    }
  }
  .sent .successfully #sent-successfully-gradient {
    .stop-from{
      stop-color: #30CFD0;
    }
    .stop-to{
      stop-color: #F4F3ED;
    }
  }
}

.theme-beige{
  &, .bg-app {
    background: linear-gradient(155.21deg, #D299C2 0%, #FEF9D7 100%);
  }

  .block{
    box-shadow: -10px -10px 15px rgba(247, 222, 230, 0.7), 15px 15px 25px #B78D9A;
  }
  button, .btn{
    &.active, &.sendBtn.sending{
      box-shadow: 1px 1px 4px #FFFFFF, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25) !important;
    }
  }
  .walletBlock .transfersList .grid .transfer{
    box-shadow: -10px -10px 15px rgba(247, 222, 230, 0.7), 15px 15px 25px #B78D9A;
  }
  input, textarea, select {
    background-color: #F4F3ED;
    box-shadow: -10px -10px 15px rgba(247, 222, 230, 0.7), 15px 15px 25px #B78D9A,
      inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);
    border-color: #F4F3ED;
    &:focus{
      box-shadow: -10px -10px 15px rgba(247, 222, 230, 0.7), 15px 15px 25px #B78D9A,
                  inset 40px 20px 30px rgba(0, 0, 0, 0.05);
    }
  }
  .sent .successfully #sent-successfully-gradient {
    .stop-from{
      stop-color: #D299C2;
    }
    .stop-to{
      stop-color: #FEF9D7;
    }
  }
}

.theme-pink{
  &, .bg-app {
    background: linear-gradient(155.21deg, #B465DA 0%, #CF6CC9 33%, #EE609C 66%, #EE609C 100%);
  }

  .block{
    box-shadow: -10px -10px 15px rgba(234, 140, 217, 0.7), 15px 15px 25px #B03F92;
  }
  button, .btn{
    &.active, &.sendBtn.sending{
      box-shadow: 1px 1px 4px #F0A9D0, inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(255, 255, 255, 0.25);
    }
  }
  footer *{
    color: $white;
  }
  .walletBlock {
    color: $white;

    h2, p.money{
      color: $white;
    }
    .transfersList .grid .transfer{
      box-shadow: -10px -10px 15px rgba(234, 140, 217, 0.7), 15px 15px 25px #B03F92;
    }
  }
  input, textarea, select {
    background-color: #F4F3ED;
    box-shadow: -10px -10px 15px rgba(234, 140, 217, 0.7), 15px 15px 25px #B03F92,
                inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);
    border-color: #F4F3ED;
    &:focus{
      box-shadow: -10px -10px 15px rgba(234, 140, 217, 0.7), 15px 15px 25px #B03F92,
                  inset 40px 20px 30px rgba(0, 0, 0, 0.05);
    }
  }
  .sent .successfully #sent-successfully-gradient {
    .stop-from{
      stop-color: #B465DA;
    }
    .stop-to{
      stop-color: #EE609C;
    }
  }
}

.theme-blue{
  &, .bg-app {
    background: linear-gradient(180deg, #6A11CB 0%, #2575FC 100%);
  }

  .block{
    box-shadow: -5px -5px 10px rgba(94, 138, 255, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  button, .btn{
    &.active, &.sendBtn.sending{
      box-shadow: 1px 1px 4px rgba(48, 196, 146, 0.4),
                  inset 6px 6px 15px rgba(0, 0, 0, 0.2), inset -6px -6px 4px rgba(255, 255, 255, 0.65) !important;
    }
  }
  footer *{
    color: $white;
  }
  .walletBlock {
    color: $white;

    h2, p.money{
      color: $white;
    }
    .transfersList .grid .transfer{
      box-shadow: -5px -5px 10px rgba(94, 138, 255, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
  input, textarea, select {
    background-color: #F4F3ED;
    box-shadow: -5px -5px 10px rgba(94, 138, 255, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2),
                inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);
    border-color: #F4F3ED;
    &:focus{
      box-shadow: -5px -5px 10px rgba(94, 138, 255, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.2),
                  inset 40px 20px 30px rgba(0, 0, 0, 0.05);
    }
  }
  .sent .successfully #sent-successfully-gradient {
    .stop-from{
      stop-color: #6A11CB;
    }
    .stop-to{
      stop-color: #2575FC;
    }
  }
}

.theme-green{
  &, .bg-app {
    background: linear-gradient(155.21deg, #0BA360 0%, #3CBA92 100%);
  }
  .block{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05), -10px -10px 15px rgba(48, 225, 156, 0.7);
  }
  button, .btn{
    &.active, &.sendBtn.sending{
      box-shadow: 1px 1px 4px #FFFFFF,
      inset 6px 6px 15px color(0, 0, 0, 0.05), inset -6px -6px 4px color(255, 255, 255, 0.25) !important;
    }
  }
  footer *{
    color: $white;
  }
  .walletBlock {
    color: $white;

    h2, p.money{
      color: $white;
    }
    .transfersList .grid .transfer{
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05), -10px -10px 15px rgba(48, 225, 156, 0.7);
    }
  }
  input, textarea, select {
    background-color: #F4F3ED;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05), -10px -10px 15px rgba(48, 225, 156, 0.7),
    inset -40px -20px 30px rgba(255, 255, 255, 0.15), inset -2px -2px 4px rgba(255, 255, 255, 0.6);
    border-color: #F4F3ED;
    &:focus{
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05), -10px -10px 15px rgba(48, 225, 156, 0.7),
      inset 40px 20px 30px rgba(0, 0, 0, 0.05);
    }
  }
  .sent .successfully #sent-successfully-gradient {
    .stop-from{
      stop-color: #0BA360;
    }
    .stop-to{
      stop-color: #3CBA92;
    }
  }
}

.theme-black{
  &, .bg-app{
    background: linear-gradient(155.21deg, #434343 0%, #000000 100%);
    color: $white !important;
  }

  .header .logoHeader{
    filter: invert(1);
  }

  .walletBlock h2, .walletBlock .transfersList .grid .transfer .name, .certificate-images p,
    button.sendBtn .wait, .transferBlock .name, .underline_link, .how-to-use-section p, .how-to-use-section ol,
    .send .description, .bottom p.aboutBtn, footer *, .walletBlock p.money, .send a.action{
    color: $white;
  }
  .certificate-images img.cross{
    filter: invert(1);
  }
  #app div.input .action:not(.active):not(:hover){
    border-color: $white;
  }

  .sent .successfully{
    box-shadow: -10px -10px 15px #303030, 15px 15px 25px rgba(0, 0, 0, 0.5);
  }
  .block{
    color: $white;
    background: #292929;
    box-shadow: -10px -10px 15px #303030, 15px 15px 25px rgba(0, 0, 0, 0.5);
  }
  button, .btn{
    &.active, &.sendBtn.sending{
      box-shadow: 1px 1px 4px rgba(81, 81, 81, 0.4),
                  inset 6px 6px 15px rgba(0, 0, 0, 0.05), inset -6px -6px 4px rgba(68, 68, 68, 0.15) !important;
    }
    &.sendBtn.disabled{
      .bip{
        background: #131313;
      }
    }
  }
  .blocked_gray{
    color: rgba(#F5F4EF, 0.2) !important;
  }
  .walletBlock .transfersList .grid .transfer{
    background: #292929;
    box-shadow: -10px -10px 15px rgba(48, 48, 48, 0.7), 15px 15px 25px rgba(0, 0, 0, 0.5);
  }
  label p{
    color: rgba($white, 0.4);
  }
  input, textarea, select {
    background-color: #3D3D3D;
    box-shadow: -10px -10px 15px #303030, 15px 15px 25px rgba(0, 0, 0, 0.5),
                inset -40px -20px 30px rgba(255, 255, 255, 0.02), inset -2px -2px 4px rgba(255, 255, 255, 0.03);
    border-color: #292929;
    color: $white;
    &:focus{
      box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.32),
                  -10px -10px 15px #303030, 15px 15px 25px rgba(0, 0, 0, 0.5);
    }
  }
  select option {
    color: $white;
  }
  .send a.action.active{
    color: rgba($white, 0.6);
  }
  .sent .successfully {
    background: linear-gradient(167.96deg, #434343 0%, #000000 100%), #C4C4C4;
    #sent-successfully-gradient {
      .stop-from{
        stop-color: #949494;
      }
      .stop-to{
        stop-color: #949494;
      }
    }
  }
}

.theme-preview{
  border: 8px solid $light_beige;

  #app{
    min-height: calc(100vh - 16px);
  }
  section.content, section.content .full-h{
    min-height: calc(100vh - 116px - 98px - 4px);
  }
}