// colors
$white: #FFFFFF;
$black: #000000;
$red: #CA1D21;
$light_beige: #F4F3ED;
$text_gray: #2D2C28;
$text_disabled: rgba($text_gray, 0.6);

// transitions
$slow_transition: 500ms ease-in-out;
$tablet_w: 768px;
$mobile_w: 425px;

@mixin mobile{
  @media (max-width: $mobile_w){
    @content;
  }
}
@mixin tablet{
  @media (min-width: $tablet_w){
    @content;
  }
}
@mixin PC{
  @media (min-width: 820px){
    @content;
  }
}

@mixin grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 25px;

  &>*:first-of-type:last-of-type:not(.ignore-center), >.center{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 50%;
  }
  &>.right-item{
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .unset-position{
    grid-column-start: unset !important;
    grid-column-end: unset !important;
    width: 100% !important;
  }
  .double-column{
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    width: 100% !important;
  }
}