<template>
    <div id="nav" :class="[{open: modalOpened}]">
        <button @click="closeModal" class="close"></button>
        <section class="content">
            <div>
               <!-- <router-link class="login-btn" :to="{name: 'login'}" v-if="true">{{lang.nav.login}}</router-link>
                <router-link v-else :to="{name: 'profile'}">{{lang.nav.profile}}</router-link>-->

                <router-link :to="{name: 'newPush'}">{{lang.nav.newPush}}</router-link>
                <router-link :to="{name: 'pushes'}">{{lang.nav.myPush}}</router-link>
                <router-link :to="{name: 'campaigns.dashboard'}">{{lang.nav.dashboard}}</router-link>
            </div>
            <div>
                <a href="https://telega.one/yyychat" target="_blank">{{lang.nav.support}}</a>
                <router-link :to="{name: 'about'}">{{lang.nav.about}}</router-link>
                <selectLanguage/>
            </div>
        </section>
        <p class="header-footer">{{lang.footer.text}}</p>
    </div>
</template>

<script>

    import {mapState, mapMutations} from "vuex";
    import selectLanguage from "./selectLanguage"

    export default {
        name: "navMenu",
        components: {
            selectLanguage,
        },
        computed: {
            ...mapState(['modalOpened'])
        },
        methods: {
            ...mapMutations(['closeModal'])
        }
    }
</script>

<style lang="scss">
    #nav {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        white-space: nowrap;
        transform: translateX(100%);

        &.open {
            transform: translateX(0);
        }

        .login-btn{
            width: 180px;
            text-align: center;
            padding: 8px 50px !important;
        }

        transition: $slow_transition;
        padding: 50px 24px;

        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: calc(100vh - 116px - 85px - 25px);

            >div{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        button.close {
            height: 75px;
            width: 75px;
            background: url("../../assets/close.svg") center no-repeat;
            margin-bottom: 15px;
            margin-right: -24px;
        }
        a, .lang {
            transition: $slow_transition;

            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 42px;
            text-align: right;
            text-decoration-line: underline;
            color: $white;
            margin-bottom: 32px;
            background: none;
            width: 100%;
        }

        .header-footer{
            position: absolute;
            bottom: 32px;
            left: 0;
            right: 0;
            font-size: 14px;
            text-align: center;
            color: $light_beige;
            opacity: 0.15;
        }

        @media (max-height: 660px){
            button.close{
                margin-bottom: 0;
                margin-top: -50px;
            }
            a, .lang{
                margin-bottom: 25px;
            }
        }
    }
</style>