<template>
    <div class="select-language-block">
        <a href="#" class="lang" :class="{selected: selectedLanguage === key}" @click="select(key)"
                v-for="(language, key) of languagesList">{{language.languageName}}</a>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapState} from "vuex";

    export default {
        name: "selectLanguage",
        computed:{
            ...mapState(['languagesList', 'selectedLanguage']),
            ...mapGetters(['lang']),
        },
        methods:{
            select(lang){
                this.selectLanguage(lang);
            },
            ...mapMutations(['selectLanguage'])
        }
    }
</script>

<style lang="scss">
    .select-language-block{
        display: flex;

        a{
            &.selected{
                text-decoration-line: none !important;
                color: #7F7F7F !important;
            }
            &:not(:first-child){
                position: relative;
                margin-left: 27px;
                &::before{
                    position: absolute;
                    content: "/";
                    margin: 0 5px;
                    text-decoration-line: none;
                    right: 100%;
                    color: $white;
                }
            }
        }
    }
</style>